
config.yml
config.env
dbdump
tmp


# private data
manage/data-private
manage/sctl-analyse/results/evolution-Exploita.csv
manage/sctl-data


# convention, files marked for deletion
z.*
# convention, files for local usage only
y.*
1.*

#
# editor and temporary stuff
#
*.exe
.~*
*.bkp
*.dtmp
*.vim
*.code-workspace
