
DATABASE_URL=postgresql://pg_user:pg_password@db_host:db_port/db_database
# Ex: DATABASE_URL=postgresql://bdl:pg_password@localhost:5432/bdlchantiers
# Autre format possible
# DATABASE_URL="postgresql:///bdl?host=/var/run/postgresql"
# voir https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNSTRING

DATABASE_SCHEMA=schema_name

# Addresse serveur, peut être omis
RUN_SERVER_ADDR=127.0.0.1

# port pour faire fonctionner l'appli
# http://localhost:8000
PORT=8000

# dev ou prod
RUN_MODE=dev

CMD_PGDUMP=pg_dump

BACKUP_DIR=/path/to/directory/containing/dbdumps
