PORT=8000
SERVER_ADDR=127.0.0.1 (Addr serveur, peut être omis)

DATABASE_URL= postgresql://user:password@host:port/name?param=...
ou
DATABASE_URL="postgresql:///bdl?host=/var/run/postgresql"
https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNSTRING

SCHEMA=bdlprod
MODE=dev ou prod


