# ******************************************************************************
#   Configuration à particulariser pour chaque nouvelle installation de l'application
#   
#   L'emplacement de ce fichier peut être spécifié par la variable d'environnement APPLI_CONFIG_FILE
#     
#   @copyright  BDL, Bois du Larzac
#   @license    GPL
#   @history    2019-09-26, Thierry Graff : Creation
#     
# ********************************************************************************

# Paramètres du web server go
run:
  url: 127.0.0.1
  port: 8000
  # "dev" ou "prod" - pour mode = dev, voir section dev en fin de config.yml
  # pour mode = dev, voir section dev en fin de config.yml
  mode: dev

# Paramètres BDD postgresql - voir config.env
# psql -U bdl -W -h localhost --cluster 11/main -d bdlbois

database:
  # host: localhost
  # port: 5432
  # user: my_user
  # password: my_password
  # dbname: my_db
  # schema: my_schema
  # ssl-mode: disable
  backup:
    # Attention ici de ne pas mettre un répertoire contenant des fichiers sensibles
    # (risque de sécurité si le user saisit directement le nom d'un fichier dans l'url)
    # répertoire absolu ou relatif au dossier contenant run-bdl.go
    directory: /tmp
    cmd-pgdump: pg_dump

paths:
  # Emplacement du fichier .mdb contenant la base access du logiciel de parts SCTL
  logiciel-foncier: /path/to/file.mdb
  
# Pourcentage arbitraire de perte
# appliqué sur le bois vert lors d'un chantier plaquette.
pourcentage-perte: 10

# Date utilisée comme début de saison pour les bilans
# Format JJ/MM (ex: 01/09 = 1er septembre)
debut-saison: 01/10

# Taux de TVA possibles pour les opérations facturées à BDL par des opérateurs extérieurs
tva-ext:
  - 0
  - 5.5
  - 10
  - 20

# Taux de TVA pour les opérations facturées par BDL
tva-bdl:
  # livraison : taux qui apparaît sur la facture d'une vente plaquettes,
  # pas la TVA appliquée par les livreurs
  livraison: 20
  vente-plaquettes: 10
  autres-valorisations:
    - 10
    - 20

# Infos figurant sur les factures
facture:
  # Metadata - pas affiché
  auteur: BDL - Bois du Larzac
  createur: BDL - Bois du Larzac
  # Infos affichées sur les factures
  adresse: Montredon - 12100 La Roque Ste Marguerite
  tel: 05.65.62.13.39
  email: lesboisdularzac@larzac.org
  site-web: www.larzac.org
  siret: 792 959 892 00011
  tva: FR 84792959892
  
# Infos figurant sur les affactures
affacture:
  # A qui est adressé l'affacture
  adresse: |
    Association Bois du Larzac
    Montredon
    12100 La Roque Ste Marguerite

# Nombre de chantiers affichés dans la partie "activités récentes" (page d'accueil)
nb-recent: 5

# -----------------------------------------------------------

# Utiles uniquement pour le développement de l'application
dev:
  # Répertoire contenant les différents dumps de la base SCTL
  # Doit contenir les différents .mdb et des sous-répertoires avec les exports csv correspondant
  sctl-data: /path/to/sctl/data
  # Répertoire contenant les résultats des tests effectués sur la base SCTL
  sctl-analyse: /path/to/sctl/analyse
