#   
#   L'emplacement de ce fichier peut être spécifié par la variable d'environnement ENV_CONFIG_FILE
#     

# Database
# ---------------------------------------------------------------------------------------------------

# Ex: DATABASE_URL=postgresql://bdl:pg_password@localhost:5432/bdlchantiers
# Autre format possible
# DATABASE_URL="postgresql:///bdl?host=/var/run/postgresql"
# voir https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNSTRING
DATABASE_URL=postgresql://pg_user:pg_password@db_host:db_port/db_database

DATABASE_SCHEMA=schema_name

# Addresse serveur, peut être omis
RUN_SERVER_ADDR=127.0.0.1

# Paramètres du web server go
# ---------------------------------------------------------------------------------------------------
# port pour faire fonctionner l'appli
# http://localhost:8000
PORT=8000

# dev ou prod
RUN_MODE=dev


# Backup database
# ---------------------------------------------------------------------------------------------------
CMD_PGDUMP=pg_dump

# Attention ici de ne pas mettre un répertoire contenant des fichiers sensibles
# (risque de sécurité si le user saisit directement le nom du fichier dans l'url)
# répertoire absolu ou relatif au dossier contenant run-bdl.go
BACKUP_DIR=/path/to/directory/containing/dbdumps
