{{/* 
    Partie de l'aide liée à la saisie des ugs / fermiers / lieux-dits
    
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<div class="section">
    <b>Unité de gestion</b>
    <br>Pour associer un chantier à des UGs, cliquez sur <img class="inline vertical-align-middle bigicon" src="/static/img/new.png">.
    <br>Dans l'écran qui apparaît, sélectionnez les UGs qui vous intéressent, puis cliquez sur Valider.
    <br>Les lieux-dits et fermiers associés aux UGs choisies sont alors listés.
    <br>Sélectionnez les lieux-dits et fermiers concernés par le chantier.
    
    <br><br>Vous pouvez à tout moment supprimer une UG (avec <img class="inline vertical-align-middle bigicon" src="/static/img/delete.png">) ou en ajouter d'autres (avec <img class="inline vertical-align-middle bigicon" src="/static/img/new.png">).
    <br>La liste des lieux-dits et fermiers est alors mise à jour.
</div>
