{{/* 

    A SUPPRIMER à la fin du dev de #9


    Partie de formulaire utilisé par 2 formulaires :
    plaq-form.html, chautre-form.html
    
    Sert à définir les liens entre un chantier et les UGs, fermiers et lieux-dits
    
    Cette template doit être appelée avec une struct contenant plusieurs champs :
    - Chantier (de type Plaq ou Chautre)
    - TypeChantier (string pouvant valoir "plaq" ou "chautre")
    - AllUGs, tel que renvoyé par model.GetUGsSortedByCode()
    
    Cette partie de formulaire est contenue dans un <div class="grid2-form">
    
    Les formulaires appelants doivent avoir ces divs :
        <div id="zone-lieudits"></div>
        <div id="zone-fermiers"></div>
    zone-lieudits contiendra la liste des lieux-dits avec les checkboxes
    zone-fermiers contiendra la liste des fermiers avec les checkboxes
    
    Ils doivent aussi avoir les champs :
    <input type="hidden" name="ids-ugs" id="ids-ugs" value="">
    <input type="hidden" name="ids-parcelles" id="ids-parcelles" value="">
    <input type="hidden" name="ids-lieudits" id="ids-lieudits" value="">
    <input type="hidden" name="ids-fermiers" id="ids-fermiers" value="">
    
    Les chk-ug servent de variables globales pour stocker les ugs sélectionnées
    
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}


{{with .Chantier}}
<script>

async function drawListUGs(){
    let codeUG, idUG, surfaceUG;
    let i, elt, elts;
    let baseURL, url, response, errorMsg="";
    let idDB, nom, idDansForm;
    let dbRows; // assoc array id => nom
    let curCommune, tmp;
    //
    // Mémorise ce qui est checked (pour réaffichage suite à nouveau clic sur valider dans modal UGs)
    //
    const memoLieudit = [];
    const memoFermier = [];
    elts = document.getElementsByClassName("chk-lieudit");
    for(i = 0; i < elts.length; i++) {
        if(elts[i].checked){
            memoLieudit.push(elts[i].getAttribute("id"));
        }
    }
    elts = document.getElementsByClassName("chk-fermier");
    for(i = 0; i < elts.length; i++) {
        if(elts[i].checked){
            memoFermier.push(elts[i].getAttribute("id"));
        }
    }
    //
    const zoneUgsElt = document.getElementById("zone-ugs");
    const zoneLieuditsElt = document.getElementById("zone-lieudits");
    const zoneFermiersElt = document.getElementById("zone-fermiers");
    // Vide les zones
    zoneUgsElt.innerHTML = "";
    zoneLieuditsElt.innerHTML = "";
    zoneFermiersElt.innerHTML = "";
    // calcule les ugs sélectionnées dans le modal
    const selectedUGs = [];
    elts = document.getElementsByClassName("chk-ug");
    for(i = 0; i < elts.length; i++) {
        if(elts[i].checked){
            idUG = elts[i].getAttribute("data-ug-id");
            selectedUGs.push(idUG);
        }
    }
    if(selectedUGs.length == 0){
        zoneLieuditsElt.innerHTML = "Sélectionnez d'abord une UG.";
        zoneFermiersElt.innerHTML = "Sélectionnez d'abord une UG.";
        return;
    }
    //
    // Affiche UGs
    //
    for(i = 0; i < selectedUGs.length; i++) {
        idUG = selectedUGs[i];
        codeUG = document.getElementById("chk-ug-" + idUG).getAttribute("data-ug-code");
        surfaceUG = round(document.getElementById("chk-ug-" + idUG).getAttribute("data-ug-surface"), 2);
        //
        const imgElt = document.createElement("img");
        imgElt.classList.add("inline", "vertical-align-middle", "bigicon");
        imgElt.setAttribute("src", "/static/img/delete.png");
        imgElt.setAttribute("title", "Supprimer l'association avec cette UG");
        imgElt.style.cursor = "pointer";
        //
        const aElt = document.createElement("a");
        aElt.setAttribute("href", "#");
        aElt.setAttribute("onclick", "removeUG('" + idUG + "');");
        aElt.setAttribute("class", "padding-right");
        aElt.appendChild(imgElt);
        //
        const spanElt = document.createElement("span");
        spanElt.innerHTML = codeUG + " (" + surfaceUG + " ha)";
        //
        elt = document.createElement("div");
        elt.setAttribute("class", "form-ug padding-top05"); // form-ug sert dans validateForm()
        elt.setAttribute("data-ug-id", idUG);
        elt.setAttribute("data-ug-code", codeUG);
        elt.appendChild(aElt);
        elt.appendChild(spanElt);
        //
        zoneUgsElt.appendChild(elt);
    }
    afficheParcelles(computeIdsUGsFromForm(), computeLiensParcellesFromForm());
    //
    // Affiche lieux-dits
    //
    // 1 - récup id, noms en ajax dans tableau assoc
    //     Permet de supprimer les doublons (arrive par ex. si UGs = XIX-54 et XIV-20)
//    baseURL = "/ajax/get/lieudits-from-code-ug/"
    baseURL = "/ajax/get/lieudits-from-ids-ugs/"
    dbRows = new Array();
    for(i=0; i < zoneUgsElt.childNodes.length; i++){
        elt = zoneUgsElt.childNodes[i];
        codeUG = elt.getAttribute("data-ug-id");
        url = baseURL + codeUG;
        response = await fetch(url);
        if(response == null){
            errorMsg += "- ERREUR - Transmettez ce message l'administrateur du site :\n"
                + "Problème de récupération " + url + " dans {{$.TypeChantier}}-form.html\n";
            continue;
        }
        response = await response.json();
        if(response == null){
            errorMsg += "- ERREUR - Transmettez ce message l'administrateur du site :\n"
                + "Mauvais format de retour de " + url + " dans {{$.TypeChantier}}-form.html\n";
            continue;
        }
        if(response.length == 0){
            errorMsg += "- L'UG \"" + codeUG + "\" n'est associée à aucun lieu-dit.\n";
            continue;
        }
        // nom affiché = nom lieudit + nom(s) communes(s)
        tmp = [];
        response.forEach(function(item){
            item.Communes.forEach(function(curCommune){
                tmp.push(curCommune.NomCourt)
            });
            tmp = [...new Set(tmp)]; // = array_unique
            dbRows[item.Id] = item.Nom + " (" + tmp.join(", ") + ")";
        });
    }
    // 2 - Recrée la liste html des lieudits
    for(idDB in dbRows){
        nom = dbRows[idDB];
        idDansForm = "lieudit-" + idDB
        const checkElt = document.createElement("input");
        checkElt.setAttribute("type", "checkbox");
        checkElt.setAttribute("id", idDansForm);
        checkElt.setAttribute("name", idDansForm);
        checkElt.setAttribute("class", "chk-lieudit"); // utile pour calcul de memoLieudit
        checkElt.setAttribute("data-lieudit-id", idDB);
        if(memoLieudit.indexOf(idDansForm) != -1){
            checkElt.setAttribute("checked", true);
        }
        labelElt = document.createElement("label");
        labelElt.setAttribute("for", idDansForm);
        labelElt.style.fontWeight = "normal";
        labelElt.innerHTML = nom;
        divElt = document.createElement("div");
        divElt.appendChild(checkElt);
        divElt.appendChild(labelElt);
        zoneLieuditsElt.appendChild(divElt);
    }
    //
    // Affiche fermiers
    //
    // 1 - récup id, noms en ajax dans tableau assoc
    //     Permet de supprimer les doublons (arrive par ex. si UGs = XIX-54 et XIV-20)
//    baseURL = "/ajax/get/fermiers-from-code-ug/"
    baseURL = "/ajax/get/fermiers-from-id-ug/"
    dbRows = new Array();
    for(i=0; i < zoneUgsElt.childNodes.length; i++){
        elt = zoneUgsElt.childNodes[i];
        codeUG = elt.getAttribute("data-ug-id");
        url = baseURL + codeUG;
        response = await fetch(url);
        if(response == null){
            errorMsg += "- ERREUR - Transmettez ce message à l'administrateur du site :\n"
                + "Problème de récupération " + url + " dans {{$.TypeChantier}}-form.html\n";
            continue;
        }
        response = await response.json();
        if(response == null){
            errorMsg += "- ERREUR - Transmettez ce message l'administrateur du site :\n"
                + "Mauvais format de retour de " + url + " dans {{$.TypeChantier}}-form.html\n";
            continue;
        }
        if(response.length == 0){
            errorMsg += "- L'UG \"" + codeUG + "\" n'est associée à aucun lieu-dit.\n";
            continue;
        }
        // nom affiché = nom fermier
        response.forEach(function(item){
            dbRows[item.id] = item.name;
        });
    }
    // 2 - Recrée la liste html des fermiers
    for(idDB in dbRows){
        nom = dbRows[idDB];
        idDansForm = "fermier-" + idDB
        const checkElt = document.createElement("input");
        checkElt.setAttribute("type", "checkbox");
        checkElt.setAttribute("id", idDansForm);
        checkElt.setAttribute("name", idDansForm);
        checkElt.setAttribute("class", "chk-fermier"); // utile pour calcul de memoFermier
        checkElt.setAttribute("data-fermier-id", idDB);
        if(memoFermier.indexOf(idDansForm) != -1){
            checkElt.setAttribute("checked", true);
        }
        labelElt = document.createElement("label");
        labelElt.setAttribute("for", idDansForm);
        labelElt.style.fontWeight = "normal";
        labelElt.innerHTML = nom;
        divElt = document.createElement("div");
        divElt.appendChild(checkElt);
        divElt.appendChild(labelElt);
        zoneFermiersElt.appendChild(divElt);
    }
    //
    if(errorMsg != ""){
        alert(errorMsg);
    }
}

async function removeUG(codeUG){
    var ok = confirm("Voulez-vous vraiment enlever l'association avec l'UG " + codeUG + " ?");
    if(ok){
        document.getElementById("chk-ug-" + codeUG).checked = false;
        drawListUGs();
    }
}

/** 
    Valide la partie ugs, lieux-dits et fermiers.
    @return     Message d'erreur, chaîne vide si ok.
**/
function chantierLienValidateForm(){
    let msg = "";
    let i;
    // lieux-dits
    let elts, nChecked;
    nChecked = 0;
    elts = document.getElementsByClassName("chk-lieudit");
    for(i = 0; i < elts.length; i++) {
        if(elts[i].checked){
            nChecked++;
        }
    }
    if(nChecked == 0){
        msg += "- Vous devez choisir au moins un lieu-dit\n";
    }
    // fermiers
    nChecked = 0;
    elts = document.getElementsByClassName("chk-fermier");
    for(i = 0; i < elts.length; i++) {
        if(elts[i].checked){
            nChecked++;
        }
    }
    if(nChecked == 0){
        msg += "- Vous devez choisir au moins un fermier\n";
    }
    return msg;
}

/** 
    Remplit l'attribut value des champs du formulaire appelant :
    <input type="hidden" name="ids-ugs" id="ids-ugs" value="">
    <input type="hidden" name="ids-lieudits" id="ids-lieudits" value="">
    <input type="hidden" name="ids-fermiers" id="ids-fermiers" value="">
    Chaque value est remplie par une chaîne contenant les ids séparés par une virgule. 
**/
function chantierLienFillHiddenFields(){
    let elts, i, tmp;
    //
    elts = document.getElementsByClassName("chk-ug");
    tmp = [];
    for(i = 0; i < elts.length; i++) {
        if(elts[i].checked){
            tmp.push(elts[i].getAttribute("data-ug-id"));
        }
    }
    document.getElementById("ids-ugs").value = tmp.join(";");
    //
    elts = document.getElementsByClassName("chk-lieudit");
    tmp = [];
    for(i = 0; i < elts.length; i++) {
        if(elts[i].checked){
            tmp.push(elts[i].getAttribute("data-lieudit-id"));
        }
    }
    document.getElementById("ids-lieudits").value = tmp.join(";");
    //
    elts = document.getElementsByClassName("chk-fermier");
    tmp = [];
    for(i = 0; i < elts.length; i++) {
        if(elts[i].checked){
            tmp.push(elts[i].getAttribute("data-fermier-id"));
        }
    }
    document.getElementById("ids-fermiers").value = tmp.join(";");
}

</script>
{{end}}