{{/* 
    Partie de l'aide liée à la saisie des ugs / fermiers / lieux-dits :
*/}}

<div class="section">
    <b>Unité de gestion</b>
    <br>Vous devez saisir un code d'UG (ex: <i>XIX-11</i>).
    <br>Si vous souhaitez associer le chantier avec plusieurs UGs, cliquez sur <img class="inline vertical-align-middle bigicon" src="/static/img/new.png"> et saisissez un autre code UG.
    <br>Lorsque vous avez choisi les UGs, cliquez sur <img class="inline vertical-align-middle bigicon" src="/static/img/validate.png">, pour faire apparaître les fermiers et les lieux-dits correspondant à ces UGs.
    <br>Vous pouvez à tout moment supprimer une UG (avec <img class="inline vertical-align-middle bigicon" src="/static/img/delete.png">) ou en ajouter d'autres (avec <img class="inline vertical-align-middle bigicon" src="/static/img/new.png">), mais il faut ensuite valider à nouveau (avec <img class="inline vertical-align-middle bigicon" src="/static/img/validate.png">) pour que la liste des fermiers et lieux-dits se mette à jour.
</div>
