{{/* 
    Partie de formulaire utilisé par 3 formulaires :
    plaq-form.html, bspied-form.html, chautre-form.html
    
    Cette template doit être appelée avec une struct contenant 2 champs :
    - Chantier (de type Plaq ou BSPied ou Chautre)
    - TypeChantier (string pouvant valoir "plaq" ou "bspied" ou "chautre")
    
    Cette partie de formulaire est contenue dans un <div class="grid2-form">
    
    Les formulaires doivent avoir ces divs :
        <div id="empty-lieudit1"></div><div id="empty-lieudit2"></div>
        <div id="empty-fermier1"></div><div id="empty-fermier2"></div>
    
*/}}

{{with .Chantier}}

<div>
    <label class="block margin-bottom">Unités de gestion</label>
</div>
<div>
    <div id="liste-ugs"></div>
    <div class="margin-top">
        <img 
            class="inline vertical-align-middle bigicon margin-right"
            src="/static/img/new.png"
            title="Ajouter une UG"
            onclick="addUG();"
        />
        <img
            class="inline vertical-align-middle bigicon"
            src="/static/img/validate.png"
            title="Valider ces UGs et choisir fermiers et lieux-dits"
            onclick="validateUGs();"
        />
    </div>
</div>



<script>
//
// variables globales
//
// pour passer à travers async
window.lienChantierMsg = "";

// Pour mémoriser les associations code ug => id ug lors de l'exec de checkUGs() 
window.globalUGs = [];
    
async function initializeLiensChantier() {
    // form new
    if({{not .Fermiers}}){
        addUG();
    }
    // form update
    else{
        // restore UGs
        const listeUgsElt = document.getElementById("liste-ugs");
        let elt, elts, i, id;
        {{range $i, $ug := .UGs}}
            addUG();
            elt = listeUgsElt.childNodes[{{$i}}];
            elt.childNodes[0].value = "{{$ug.Code}}";
        {{end}}
        await validateUGs();
        // restore lieux-dits
        {{range .Lieudits}}
            id = "lieudit-" + "{{.Id}}";
            document.getElementById(id).setAttribute("checked", true);
        {{end}}
        // restore fermiers
        {{range .Fermiers}}
            id = "fermier-" + "{{.Id}}";
            document.getElementById(id).setAttribute("checked", true);
        {{end}}
    }
}


/**
    Ajoute une ligne dans la div id="liste-ugs"
    Ligne = Champ pour saisir UG + img pour supprimer la ligne
    ATTENTION : si on modifie la structure d'une ligne, il faut :
                - adapter la re-indexation dans removeUG()
                - adapter validateUGs()
                - adapter initializeLiensChantier(), partie update
    En effet, ce code utilise elt = listeUgsElt.childNodes[x], qui dépend de la structure de la ligne
**/
function addUG(){
    const listeUgsElt = document.getElementById("liste-ugs");
    const idxNew = listeUgsElt.getElementsByTagName("div").length;
    //
    const divElt = document.createElement("div");
    divElt.setAttribute("id", "ligne-ug-" + idxNew);
    divElt.classList.add("padding-top05");
    //
    const inputElt = document.createElement("input");
    inputElt.setAttribute("type", "text");
    inputElt.setAttribute("id", "ug-" + idxNew);
    inputElt.setAttribute("name", "ug-" + idxNew);
    inputElt.classList.add("input-ug"); // utile seulement dans validateChantierLien()
    //
    const spanElt = document.createElement("span");
    spanElt.innerHTML = " ";
    spanElt.style.width = "1rem";
    //
    const aElt = document.createElement("a");
    aElt.setAttribute("href", "#");                                                                                                    
    aElt.setAttribute("onclick", "removeUG(" + idxNew + ");");
    //
    const imgElt = document.createElement("img");
    imgElt.classList.add("inline", "vertical-align-middle", "bigicon");
    imgElt.setAttribute("src", "/static/img/delete.png");
    imgElt.setAttribute("title", "Supprimer cette UG");
    aElt.appendChild(imgElt);
    //
    divElt.appendChild(inputElt);
    divElt.appendChild(spanElt);
    divElt.appendChild(aElt);
    listeUgsElt.appendChild(divElt);
}

/** 
    Enlève une ligne {input text ug + img pour supprimer}
**/
function removeUG(idx){
    document.getElementById("ligne-ug-" + idx).remove();
    const listeUgsElt = document.getElementById("liste-ugs");
    // re-index la valeur de l'attribut id
    // - pour chaque elt de la liste
    // - au sein d'un elt de la liste, pour chaque enfant dont id dépend du param idx
    let elt;
    for(let i=0; i < listeUgsElt.childNodes.length; i++){
        elt = listeUgsElt.childNodes[i];
        elt.setAttribute("id", "ligne-ug-" + i);
        elt.childNodes[0].setAttribute("id", "ug-" + i);                    // input type = text
        elt.childNodes[0].setAttribute("name", "ug-" + i);                  // input type = text
        elt.childNodes[2].setAttribute("onclick", "removeUG(" + i + ");");  // a href de l'img
    }
}

/**
    Appelé quand on clique sur valider UGs
    Remplit ou maj les zones
    <div id="empty-lieudit1"></div><div id="empty-lieudit2"></div>
    <div id="empty-fermier1"></div><div id="empty-fermier2"></div>
**/
async function validateUGs(){
    
    window.lienChantierMsg = "";
    await checkUGs();
    if(window.lienChantierMsg != ""){
        alert("Corrigez les UGS avant de continuer :\n" + window.lienChantierMsg);
        return;
    }
    
    let i;
    
    // Mémorise ce qui est checked (pour réaffichage suite à nouveau clic sur valider UGs)
    const memoLieudit = [];
    const memoFermier = [];
    let elts;
    elts = document.getElementsByClassName("chk-lieudit");
    for(i = 0; i < elts.length; i++) {
        if(elts[i].checked){
            memoLieudit.push(elts[i].getAttribute("id"));
        }
    }
    elts = document.getElementsByClassName("chk-fermier");
    for(i = 0; i < elts.length; i++) {
        if(elts[i].checked){
            memoFermier.push(elts[i].getAttribute("id"));
        }
    }
    
    // Vide la zone
    document.getElementById("empty-lieudit1").innerHTML = "";
    document.getElementById("empty-lieudit2").innerHTML = "";
    document.getElementById("empty-fermier1").innerHTML = "";
    document.getElementById("empty-fermier2").innerHTML = "";
    
    // variables utiisées par affichage lieux-dits et fermiers
    const listeUgsElt = document.getElementById("liste-ugs");
    let div1Elt, div2Elt; // enfants directs de grid2
    let baseURL, url, codeUG;
    let elt, response;
    let idDB, nom, idDansForm, divElt, checkElt, labelElt;
    let dbRows; // assoc array id => nom
    let curCommune, tmp;
    
    // Affiche lieux-dits
    window.lienChantierMsg = "";
    baseURL = "/ajax/get/lieudits-from-code-ug/"
    div1Elt = document.getElementById("empty-lieudit1");
    div1Elt.style.fontWeight = "bold";
    div1Elt.style.textAlign = "right";
    div2Elt = document.getElementById("empty-lieudit2");
    div1Elt.innerHTML = "Lieux-dits";
    // 1 - récup id, noms en ajax dans tableau assoc
    //     Permet de supprimer les doublons (arrive par ex. si UGs = XIX-54 et XIV-20)
    dbRows = new Array();
    for(i=0; i < listeUgsElt.childNodes.length; i++){
        elt = listeUgsElt.childNodes[i];
        codeUG = elt.childNodes[0].value;
        url = baseURL + codeUG;
        response = await fetch(url);
        if(response == null){
            window.lienChantierMsg += "- ERREUR - Transmettez ce message l'administrateur du site :\n"
                + "Problème de récupération " + url + " dans {{$.TypeChantier}}-form.html\n";
            continue;
        }
        response = await response.json();
        if(response == null){
            window.lienChantierMsg += "- ERREUR - Transmettez ce message l'administrateur du site :\n"
                + "Mauvais format de retour de " + url + " dans {{$.TypeChantier}}-form.html\n";
            continue;
        }
        if(response.length == 0){
            window.lienChantierMsg += "- L'UG \"" + codeUG + "\" n'est associée à aucun lieu-dit.\n";
            continue;
        }
        // nom affiché = nom lieudit + nom(s) communes(s)
        tmp = [];
        response.forEach(function(item){
            item.Communes.forEach(function(curCommune){
                tmp.push(curCommune.NomCourt)
            });
            tmp = [...new Set(tmp)]; // = array_unique
            dbRows[item.Id] = item.Nom + " (" + tmp.join(", ") + ")";
        });
    }
    if(window.lienChantierMsg != ""){
        alert("Corrigez les UGS avant de continuer :\n" + window.lienChantierMsg);
        return;
    }
    // 2 - Recrée la liste html
    for(idDB in dbRows){
        nom = dbRows[idDB];
        idDansForm = "lieudit-" + idDB
        checkElt = document.createElement("input");
        checkElt.setAttribute("type", "checkbox");
        checkElt.setAttribute("id", idDansForm);
        checkElt.setAttribute("name", idDansForm);                                                                   
        checkElt.setAttribute("class", "chk-lieudit"); // utile uniquement pour calcul de memoLieudit
        if(memoLieudit.indexOf(idDansForm) != -1){
            checkElt.setAttribute("checked", true);
        }
        labelElt = document.createElement("label");
        labelElt.setAttribute("for", idDansForm);
        labelElt.style.fontWeight = "normal";
        labelElt.innerHTML = nom;
        divElt = document.createElement("div");
        divElt.appendChild(checkElt);
        divElt.appendChild(labelElt);
        div2Elt.appendChild(divElt);
    }
    
    // Affiche fermiers
    window.lienChantierMsg = "";
    baseURL = "/ajax/get/fermiers-from-code-ug/"
    div1Elt = document.getElementById("empty-fermier1");
    div1Elt.style.fontWeight = "bold";
    div1Elt.style.textAlign = "right";
    div2Elt = document.getElementById("empty-fermier2");
    div1Elt.innerHTML = "Fermiers";
    // 1 - récup id, noms en ajax dans tableau assoc
    //     Permet de supprimer les doublons (arrive par ex. si UGs = XIX-54 et XIV-20)
    dbRows = new Array();
    for(i=0; i < listeUgsElt.childNodes.length; i++){
        elt = listeUgsElt.childNodes[i];
        codeUG = elt.childNodes[0].value;
        url = baseURL + codeUG;
        response = await fetch(url);
        if(response == null){
            window.lienChantierMsg += "- ERREUR - Transmettez ce message l'administrateur du site :\n"
                + "Problème de récupération " + url + " dans {{$.TypeChantier}}-form.html\n";
            continue;
        }
        response = await response.json();
        if(response == null){
            window.lienChantierMsg += "- ERREUR - Transmettez ce message l'administrateur du site :\n"
                + "Mauvais format de retour de " + url + " dans {{$.TypeChantier}}-form.html\n";
            continue;
        }
        if(response.length == 0){
            window.lienChantierMsg += "- L'UG \"" + codeUG + "\" n'est associée à aucun lieu-dit.\n";
            continue;
        }
        response.forEach(function(item){
            dbRows[item.id] = item.name;
        });
    }
    
    if(window.lienChantierMsg != ""){
        alert("Corrigez les UGS avant de continuer :\n" + window.lienChantierMsg);
        return;
    }
    // 2 - Recrée la liste html
    for(idDB in dbRows){
        nom = dbRows[idDB];
        idDansForm = "fermier-" + idDB
        checkElt = document.createElement("input");
        checkElt.setAttribute("type", "checkbox");
        checkElt.setAttribute("id", idDansForm);
        checkElt.setAttribute("name", idDansForm);
        checkElt.setAttribute("class", "chk-fermier"); // utile uniquement pour calcul de memoFermier
        if(memoFermier.indexOf(idDansForm) != -1){
            checkElt.setAttribute("checked", true);
        }
        labelElt = document.createElement("label");
        labelElt.setAttribute("for", idDansForm);
        labelElt.style.fontWeight = "normal";
        labelElt.innerHTML = nom;
        divElt = document.createElement("div");
        divElt.appendChild(checkElt);
        divElt.appendChild(labelElt);
        div2Elt.appendChild(divElt);
    }
}

/** 
    Vérifie si les UGs saisies existent en base
    Remplit la var globale window.globalUGs
    (utilisée dans validateFormChantierLien() sans avoir à refaire d'ajax)
    Remplit éventuellement la var globale window.lienChantierMsg
**/
async function checkUGs(){
    
    const listeUgsElt = document.getElementById("liste-ugs");
    let elt, codeUG, i;
    
    // Check la cohérence des entrées - sans ajax
    let codes = [];
    let foundEmpty = false, foundDuplicate = false;
    for(i=0; i < listeUgsElt.childNodes.length; i++){
        elt = listeUgsElt.childNodes[i];
        codeUG = elt.childNodes[0].value.trim();
        if(codeUG == ""){
            if(!foundEmpty){
                window.lienChantierMsg = "- Une UG ne peut pas être vide.\n";
                foundEmpty = true;
            }
            continue;
        }
        if(codes.indexOf(codeUG) != -1){
            if(!foundDuplicate){
                window.lienChantierMsg = "- Les UGs doivent être différentes.\n";
                foundDuplicate = true;
            }
            continue;
        }
        codes.push(codeUG);
    }
    
    if(window.lienChantierMsg != ""){
        return;
    }
    
    // Check que les UGs saisies existent en base - avec ajax
    
    const baseURL = "/ajax/get/ug-from-code/";
    let url ="";
    let response;
    for(i=0; i < listeUgsElt.childNodes.length; i++){
        elt = listeUgsElt.childNodes[i];
        codeUG = elt.childNodes[0].value.trim();
        url = baseURL + codeUG;
        response = await fetch(url);
        if(response == null){
            window.lienChantierMsg += "- ERREUR - Transmettez ce message l'administrateur du site :\n"
                + "Problème de récupération " + url + " dans {{$.TypeChantier}}-form.html\n";
            continue;
        }
        response = await response.json();
        if(response == null){
            window.lienChantierMsg += "- ERREUR - Transmettez ce message l'administrateur du site :\n"
                + "Mauvais format de retour de " + url + " dans {{$.TypeChantier}}-form.html\n";
            continue;
        }
        if(response == 0){
            window.lienChantierMsg += "- L'UG \"" + codeUG + "\" n'existe pas en base.\n";
            continue;
        }
        window.globalUGs[codeUG] = response;
    }
}

/** 
    Valide la partie ugs, lieux-dits et fermiers.
    @return     Message d'erreur, chaîne vide si ok.
**/
function validateFormChantierLien(){
    let msg = "";
    let i;
    // UGs
    let val;
    const ugs = document.getElementsByClassName("input-ug");
    for(i = 0; i < ugs.length; i++) {
        val = ugs[i].value;
        if(val == ""){
            msg += "- Un champ pour saisir une UG ne peut pas être vide\n";
            continue;
        }
        if(!(val in window.globalUGs)){
            msg += "L'UG \"" + val + "\" n'existe pas en base\n";
        }
    }
    // lieux-dits
    let elts, nChecked;
    nChecked = 0;
    elts = document.getElementsByClassName("chk-lieudit");
    for(i = 0; i < elts.length; i++) {
        if(elts[i].checked){
            nChecked++;
        }
    }
    if(nChecked == 0){
        msg += "- Vous devez choisir au moins un lieu-dit\n";
    }
    // fermiers
    nChecked = 0;
    elts = document.getElementsByClassName("chk-fermier");
    for(i = 0; i < elts.length; i++) {
        if(elts[i].checked){
            nChecked++;
        }
    }
    if(nChecked == 0){
        msg += "- Vous devez choisir au moins un fermier\n";
    }
    return msg;
}

/** 
    Fonction à appeler uniquement lorsque le formulaire est valide, juste avant de le poster.
    Remplace les codes UG par les ids UG dans les inputs
    Ex : remplace "XIX-11" par 6
    Ça permet au controller qui traite le formulaire d'avoir directement les ids UG
**/
function chantierLienUGCode2id(){
    const ugs = document.getElementsByClassName("input-ug");
    let val;
    for(i = 0; i < ugs.length; i++) {
        val = ugs[i].value;
        ugs[i].value = window.globalUGs[val];
    }
}

</script>
{{end}}