{{/* 
    Formulaire de choix d'une ou plusieurs valorisations.
    Un seul appel par page possible.
    
    Cette template doit être appelée avec une variable go contenant un champ ValoCodes.
    ValoCodes est uniquement utilisée dans le constructeur.
    
    Utilisation :
        <script>
            const choixValo = new ChoixValo();
        </script>

	@copyright  BDL, Bois du Larzac.
	@licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}


<script>

class ChoixValo{
    
    #html;
    
    constructor(){
        this.#html = `
        <fieldset class="choix-valo">
            <legend>Valorisations</legend>
            <details open>
                <summary><span id="choix-valo-summary" class="padding-left2">{{/* filled by js */}}</span></summary>
                <div class="margin-top05 margin-left05">
                    ${this.#buildCheckboxes()}
                </div>
                <div class="margin-top05">
                    <a class="link padding-left2" id="aucun" onclick="choixValo_rienSelectionner(); choixValo_choixChanged();">Aucune</a>
                    <a class="link padding-left2" id="tous" onclick="choixValo_toutSelectionner(); choixValo_choixChanged();">Toutes</a>
                </div>
            </details>
        </fieldset>
        `;
        this.display();
        this.initialize();
    } // end constructor
    
    #buildCheckboxes(){
        let res = '';
        {{range .ValoCodes}}
            res += '<label class="block">'
                + '<input class="chk-valo" type="checkbox" id="choix-valo-{{.}}" name="choix-valo-{{.}}" onchange="choixValo_choixChanged();">'
                + '{{. | labelValo}}'
                + '</label>';
        {{end}}
        return res;
    }
    
    
    display(){
        document.write(this.#html);
    }
    
    initialize(){
        choixValo_toutSelectionner();
        choixValo_choixChanged();
    }

} // end class

function choixValo_choixChanged(){
    // update summary string
    let tous = true;
    const checkedElements = [];
    const elements = document.getElementsByClassName('chk-valo');
    for(const elt of elements){
        if(elt.checked == false){
            tous = false;
        }
        else {
            checkedElements.push(elt.parentElement.textContent.trim());
        }
    }
    let str = '';
    if(tous){
        str = 'Toutes les valorisations';
    }
    else{
        const l = checkedElements.length;
        const tmp = checkedElements.slice(0, 3);
        str = tmp.join(' + ');
        if(l > 3){
            str += ' + ...';
        }
    }
    document.getElementById('choix-valo-summary').innerHTML = str;
}

function choixValo_toutSelectionner(){
    const elements = document.getElementsByClassName('chk-valo');
    for(const elt of elements){
        elt.checked = true;
    }
}

function choixValo_rienSelectionner(){
    const elements = document.getElementsByClassName('chk-valo');
    for(const elt of elements){
        elt.checked = false;
    }
}

/** 
    Renvoie un booléen ; utilisé par validateForm() du formulaire appelant
**/
function choixValo_isAllSelected(){
    const elements = document.getElementsByClassName('chk-valo');
    for(const elt of elements){
        if(elt.checked == false){
            return false;
        }
    }
    return true;
}

/** 
    Renvoie un message d'erreur (ou chaîne vide si pas d'erreur).
    Utilisé par validateForm() du formulaire appelant.
**/
function choixValo_validateForm(){
    const elements = document.getElementsByClassName('chk-valo');
    let selectionVide = true;
    for(const elt of elements){
        if(elt.checked == true){
            selectionVide = false;
            break;
        }
    }
    if(selectionVide){
        return '- Vous devez au moins sélectionner une valorisation.';
    }
    return '';
}

</script>