{{/* 
    Formulaire de choix d'une ou plusieurs parcelles.
    
    Doit être appelé avec une variable contenant un champ AllCommunes.
    
    Utilisation :
        <script>
            choixParcelle = new ChoixParcelle('choix-parcelle');
            choixParcelle.display();
            choixParcelle.initialize();
        </script>

	@copyright  BDL, Bois du Larzac.
	@licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<script>

class ChoixParcelle {
    
    #html;
    
    #baseId;
    
    /** 
        @param  baseId String - Unique id of this component within the page.
    **/
    constructor(baseId){
        //
        this.#baseId = baseId;
        //
        this.#html = `
        <fieldset class="choix-parcelle">
            <legend>Parcelles</legend>
            <details open>
                <summary><span id="${this.#baseId}-summary" class="padding-left2">{{/* filled by js */}}</span></summary>
                <div class="margin-right margin-top05">
                    <select class=" margin-right" name="choix-parcelle-select-commune" id="choix-parcelle-select-commune">
                        <option id="choix-parcelle-choose-commune" value="choix-parcelle-choose-commune">--- Choisir une commune ---</option>`;
                        {{range .AllCommunes}}
                            this.#html += '<option id="choix-parcelle-commune-' + {{.Id}} + '" value="choix-parcelle-commune-' + {{.Id}} + '">' + {{.Nom}} + '</option>\n';
                        {{end}}
        this.#html += `
                    </select>
                    <input type="text" id="choix-parcelle-code6" name="choix-parcelle-code6" placeholder="Code à 6 caractères" size="6">
                    <img 
                        class="inline vertical-align-middle bigicon"
                        src="/static/img/new.png"
                        title="Ajouter cette parcelle"
                        onclick="choixParcelle_addParcelle();"
                    />
                </div>
                <div id="choix-parcelle-zone-parcelles" class="margin-top"></div>
            </details>
        </fieldset>
        `;
    } // end constructor
    
    display(){
        document.write(this.#html);
    }
    
    initialize(){
        choixParcelle_choixChanged(this.#baseId);
    }
    
} // end class


function choixParcelle_choixChanged(baseId){
    // update summary string
    document.getElementById(baseId + '-summary').innerHTML = 'Toutes les parcelles';
    // a finir
}

async function choixParcelle_addParcelle(){
    let newCodeParcelle = document.getElementById('choix-parcelle-code6').value;
    const selectElt = document.getElementById('choix-parcelle-select-commune');
    const optionElt = selectElt.options[selectElt.selectedIndex];
    const newIdCommune = optionElt.getAttribute('id').replace('choix-parcelle-commune-', '');
    const newNomCommune = optionElt.innerHTML;
    //
    // 1 - check
    //
    if(document.getElementById('choix-parcelle-choose-commune').selected){
        alert('Vous devez choisir une commune.');
        return;
    }
    if(newCodeParcelle.length != 6){
        alert('Le code parcelle doit contenir 6 caractères.');
        return;
    }
    if(newCodeParcelle.length != 6){
        alert('Le code parcelle doit contenir 6 caractères.');
        return;
    }
    newCodeParcelle = newCodeParcelle.toUpperCase();
    const p = await choixParcelle_getParcelleFromCodeAndCommuneId(newCodeParcelle, newIdCommune);
    if(p.Id == 0) {
        alert(`Le code parcelle ${newCodeParcelle} n'existe pas sur la commune de ${newNomCommune}`);
        return;
    }
    const newIdParcelle = p.Id;
    //
    // 2 - fabrique la liste des codes et des communes déjà ajoutés
    //
    // listeParcelles = tableau - chaque elt contient un tableau avec 4 éléments :
    // code parcelle, id parcelle, id commune, nom commune
    const listeParcelles = new Array();
    const zoneParcellesElt = document.getElementById('choix-parcelle-zone-parcelles');
    oldParcelleDivs = document.getElementsByClassName('choix-parcelle-parcelle-ajoutee');
    for(const current of oldParcelleDivs) {
        const currentCodeParcelle = current.getAttribute('data-code-parcelle');
        const currentIdParcelle = current.getAttribute('data-id-parcelle');
        const currentIdCommune = current.getAttribute('data-id-commune');
        const currentNomCommune = current.getAttribute('data-nom-commune');
        if(newIdCommune == currentIdCommune && newCodeParcelle == currentCodeParcelle){
            alert('Vous ne pouvez pas ajouter deux fois la même parcelle');
            return;
        }
        listeParcelles.push([currentCodeParcelle, currentIdParcelle, currentIdCommune, currentNomCommune]);
    }
    // Ajoute la nouvelle parcelle à la liste
    listeParcelles.push([newCodeParcelle, newIdParcelle, newIdCommune, newNomCommune]);
    //
    // 3 - Recrée la nouvelle liste
    //
    zoneParcellesElt.innerHTML = '';
    for(const current of listeParcelles) {
        const codeParcelle = current[0];
        const idParcelle = current[1];
        const idCommune = current[2];
        const nomCommune = current[3];
        //
        // img remove
        //
        const imgElt = document.createElement("img");
        imgElt.classList.add('inline', 'vertical-align-middle', 'bigicon');
        imgElt.setAttribute('src', '/static/img/delete.png');
        imgElt.setAttribute('title', 'Supprimer cette parcelle');
        imgElt.style.cursor = 'pointer';
        //
        // lien vers remove
        //
        const aElt = document.createElement('a');
        aElt.setAttribute('href', '#');
        aElt.setAttribute('onclick', 'choixParcelle_removeParcelle("' + codeParcelle + '", ' + idCommune + ', "' + nomCommune + '");');
        aElt.setAttribute('class', 'padding-right');
        aElt.appendChild(imgElt);
        //
        // labels avec code parcelle et nom commune
        //
        const spanElt = document.createElement('span');
        spanElt.innerHTML = '<span class="bold padding-right05">' + codeParcelle + '</span>' + nomCommune;
        //
        // div contenant img et labels
        //
        divElt = document.createElement('div');
        divElt.id = 'choix-parcelle-parcelle-ajoutee-' + codeParcelle + '-' + idCommune; // utilisé dans choixParcelle_removeParcelle()
        divElt.setAttribute('class', 'padding-top05 choix-parcelle-parcelle-ajoutee');
        divElt.setAttribute('data-code-parcelle', codeParcelle);
        divElt.setAttribute('data-id-parcelle', idParcelle);
        divElt.setAttribute('data-id-commune', idCommune);
        divElt.setAttribute('data-nom-commune', nomCommune);
        divElt.appendChild(aElt);
        divElt.appendChild(spanElt);
        //
        zoneParcellesElt.appendChild(divElt);
   }
}

function choixParcelle_removeParcelle(codeParcelle, idCommune, nomCommune){
    var ok = confirm('Voulez-vous vraiment enlever la parcelle ' + codeParcelle + ' (' + nomCommune + ') ?');
    if(!ok){
        return;
    }
    document.getElementById('choix-parcelle-parcelle-ajoutee-' + codeParcelle + '-' + idCommune).remove();
}

async function choixParcelle_getParcelleFromCodeAndCommuneId(codeParcelle, idCommune){
    const url = '/ajax/get/parcelle-from-code-et-commune/' + codeParcelle + '/' + idCommune;
    let response = await fetch(url);
    if(response == null){
        alert("ERREUR - Transmettez ce message l'administrateur du site :\n"
            + 'Problème de récupération ' + url);
        return;        
    }
    response = await response.json();
    if(response == null){
        alert("ERREUR - Transmettez ce message l'administrateur du site :\n"
            + 'Mauvais format de retour de ' + url);
        return;
    }
    return response;
}

function choixParcelle_getIdsParcelles(){
    const result = new Array();
    parcelleDivs = document.getElementsByClassName('choix-parcelle-parcelle-ajoutee');
    for(const current of parcelleDivs) {
        result.push(current.getAttribute('data-id-parcelle'));
    }
    return result;
}

</script>