{{/* 

*/}}

<script>

class ChoixDate{
    
    #html;
    
    #baseId;
    
    /** 
    Array of {arrays containing 2 strings}.
    Strings format = YYYY-MM-DD
    ex: Array[
        0: Array [ "2022-10-01", "2023-09-30" ]
        1: Array [ "2021-10-01", "2022-09-30" ]
        2: Array [ "2020-10-01", "2021-09-30" ]
    ]
    **/
    #periods;
    
    /** 
        @param  baseId String - Unique id of this component within the page.
    **/
    constructor(baseId){
        //
        this.#baseId = baseId;
        //
        this.#periods = [];
        {{range $index, $period := .Periods}}
            this.#periods[{{$index}}] = [];
            this.#periods[{{$index}}][0] = "{{(index $period 0) | dateIso}}";
            this.#periods[{{$index}}][1] = "{{(index $period 1) | dateIso}}";
        {{end}}
//console.log(this.#periods);
        //
        this.#html = `
<fieldset class="choix-date inline-block">
    <legend>Dates</legend>
    <details>
        <summary id="${this.#baseId}-summary">{{/* filled by js */}}</summary>
        
        <div class="grid2 padding-top2">
    
            <div class="bold center padding-bottom">Période</div>
            <div>
                <select id="${this.#baseId}-periods" name="${this.#baseId}-periods" onChange="choixDate_periodChanged('${this.#baseId}');">
                    <option value="CHOOSE_DATE">--- Choix non spécifié ---</option>
                    <option value="no-limit">Pas de limite</option>
                    <option value="psg1">PSG 1 (2013 - 2023)</option>
                    <option value="psg2">PSG 2 (2024 - 2033)</option>
`;
        for(let i=0; i < this.#periods.length; i++){
            const dateDebFR = dateStringIso2fr(this.#periods[i][0]);
            const dateFinFR = dateStringIso2fr(this.#periods[i][1]);
            this.#html += `<option value="period-${i}">${dateDebFR} - ${dateFinFR}</option>`;
        }
        this.#html += `
                </select>
            </div>
        
            <div class="bold center padding-bottom">Dates libres</div>
            <div>
                <div class="inline-block">
                    <div class="center"><label for="${this.#baseId}-debut">Début</label></div>
                    <input type="date" name="${this.#baseId}-debut" id="${this.#baseId}-debut" value="" onChange="choixDate_dateChanged('${this.#baseId}', 'begin');">
                </div>
                <div class="inline-block">
                    <div class="center"><label for="${this.#baseId}-fin">Fin</label></div>
                    <input type="date" name="${this.#baseId}-fin" id="${this.#baseId}-fin" value="" onChange="choixDate_dateChanged('${this.#baseId}', 'end');">
                </div>
            </div>
        
        </div><!-- end class="grid2" -->
    </details>
</fieldset>
        `;
        
    } // end constructor
    
    display(){
        document.write(this.#html);
    }
    

} // end class

/** 
    Reacts to a change of the select
**/
function choixDate_periodChanged(baseId){
    const selectElt = document.getElementById(baseId + "-periods");
    const valeur = selectElt.options[selectElt.selectedIndex].getAttribute('value');
    const idx = valeur.replace('period-', '');
    if(idx == 'CHOOSE_DATE'){
        document.getElementById(baseId + '-debut').valueAsDate = null;
        document.getElementById(baseId + '-fin').valueAsDate = null;
        document.getElementById(baseId + '-summary').innerHTML = '';
        return;
    }
    else if(idx == 'no-limit'){
        document.getElementById(baseId + '-debut').valueAsDate = null;
        document.getElementById(baseId + '-fin').valueAsDate = null;
        document.getElementById(baseId + '-summary').innerHTML = 'Pas de limite';
        return;
    }
    // TODO else if PSG1 et 2
    const inner = selectElt.options[selectElt.selectedIndex].innerHTML;
    const tmp = inner.split(' - ');
    const dateDeb = new Date(dateStringFr2iso(tmp[0]));
    const dateFin = new Date(dateStringFr2iso(tmp[1]));
    document.getElementById(baseId + '-debut').valueAsDate = dateDeb;
    document.getElementById(baseId + '-fin').valueAsDate = dateFin;
    document.getElementById(baseId + '-summary').innerHTML = inner;
}

/** 
    Reacts to a change of the select
    @param  beginEnd String, can be "begin" or "end" 
**/
function choixDate_dateChanged(baseId, beginEnd){
    console.log("changed " + beginEnd);
}

</script>