{{/* 
    Formulaire de choix d'une ou plusieurs UGs.
    Template devant être appelée avec une structure contenant un champ AllUGs
    
    ATTENTION : aucune UG sélectionnée signifie "toutes les ugs".
    
    Utilisation :
        <script>
            choixUG = new ChoixUG();
        </script>

	@copyright  BDL, Bois du Larzac.
	@licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<link href="/static/css/modal.css" rel="stylesheet" type="text/css">

{{template "liens-ugs.html" $}}
{{template "liens-ugs-modal.html" $}}

<script>

class ChoixUG{
    
    #html;
    
    constructor(){
        //
        this.#html = `
        <fieldset class="choix-ug">
            <legend>UGs</legend>
            <details open>
                <summary><span id="choix-ug-summary" class="padding-left2">{{/* filled by js */}}</span></summary>
                <img 
                    class="vertical-align-middle bigicon margin-right margin-top05"
                    src="/static/img/new.png"
                    title="Choisir une ou plusieurs UGs"
                    onclick="showModalUG();"
                />
                <div id="zone-ugs"></div>
            </details>
        </fieldset>
        `;
        this.display();
        this.initialize();
    } // end constructor
    
    display(){
        document.write(this.#html);
    }
    
    initialize(){
        choixUG_choixChanged();
    }
    
} // end class


// *********************** Callbacks liés à modale UGs ***********************

function callback_validate_modal_ugs(){
    choixUG_choixChanged();
}

function callback_remove_ug(){
    choixUG_choixChanged();
}

// *********************** Code lié à cette page ***********************

/** 
    - MAJ le contenu de summary
    - Affiche les UGs sélectionnées
**/
function choixUG_choixChanged(){
    // MAJ le contenu de summary
    const tmpElts = document.getElementsByClassName('chk-ug');
    const selectedCodes = [];
    for(const item of tmpElts) {
        if(item.checked){
            selectedCodes.push(item.getAttribute('data-ug-code'));
        }
    }
    let str = '';
    const l = selectedCodes.length;
    if(l == 0){
        str = 'Toutes les UGs';
    }
    else{
        const tmp = selectedCodes.slice(0, 3);
        str = tmp.join(' + ');
        if(l > 3){
            str += ' + ...';
        }
    }
    document.getElementById('choix-ug-summary').innerHTML = str;
    // Affiche les UGs sélectionnées
    afficheUGs(computeIdsUGsFromForm());
}

</script>