{{/* 
    Formulaire de choix d'une ou plusieurs essences.
    Un seul appel par page possible.
    
    Cette template doit être appelée avec une variable go contenant un champ EssenceCodes.
    EssenceCodes est uniquement utilisée dans le constructeur.
    
    Utilisation :
        <script>
            const choixEssence = new ChoixEssence();
        </script>

	@copyright  BDL, Bois du Larzac.
	@licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}


<script>

class ChoixEssence{
    
    #html;
    
    constructor(){
        this.#html = `
        <fieldset class="choix-essence">
            <legend>Essences</legend>
            <details open>
                <summary><span id="choix-essence-summary" class="padding-left2">{{/* filled by js */}}</span></summary>
                ${this.#buildCheckboxes()}
                <div class="margin-top05">
                    <a class="link padding-left2" id="aucun" onclick="choixEssence_rienSelectionner(); choixEssence_choixChanged();">Aucune</a>
                    <a class="link padding-left2" id="tous" onclick="choixEssence_toutSelectionner(); choixEssence_choixChanged();">Toutes</a>
                </div>
            </details>
        </fieldset>
        `;
        this.display();
        this.initialize();
    } // end constructor
    
    #buildCheckboxes(){
        let res = '';
        {{range .EssenceCodes}}
            res += '<label class="block">'
                + '<input class="chk-essence" type="checkbox" id="choix-essence-{{.}}" name="choix-essence-{{.}}" onchange="choixEssence_choixChanged();">'
                + '{{. | labelEssence}}'
                + '</label>\n';
        {{end}}
        return res;
    }
    
    
    display(){
        document.write(this.#html);
    }
    
    initialize(){
        choixEssence_toutSelectionner();
        choixEssence_choixChanged();
    }

} // end class

function choixEssence_choixChanged(){
    // update summary string
    let tous = true;
    const checkedElements = [];
    const elements = document.getElementsByClassName('chk-essence');
    for(const elt of elements){
        if(elt.checked == false){
            tous = false;
        }
        else {
            checkedElements.push(elt.parentElement.textContent.trim());
        }
    }
    let str = '';
    if(tous){
        str = 'Toutes les essences';
    }
    else{
        const l = checkedElements.length;
        const tmp = checkedElements.slice(0, 3);
        str = tmp.join(' + ');
        if(l > 3){
            str += ' + ...';
        }
    }
    document.getElementById('choix-essence-summary').innerHTML = str;
}

function choixEssence_toutSelectionner(){
    const elements = document.getElementsByClassName('chk-essence');
    for(const elt of elements){
        elt.checked = true;
    }
}

function choixEssence_rienSelectionner(){
    const elements = document.getElementsByClassName('chk-essence');
    for(const elt of elements){
        elt.checked = false;
    }
}

/** 
    Renvoie un booléen ; utilisé par validateForm() du formulaire appelant
**/
function choixEssence_isAllSelected(){
    const elements = document.getElementsByClassName('chk-essence');
    for(const elt of elements){
        if(elt.checked == false){
            return false;
        }
    }
    return true;
}

</script>