{{/* 
    Formulaire de choix d'un fermier.
    Template devant être appelée avec une structure contenant un champ Fermiers
    Utilisation :
        <script>
            choixFermier = new ChoixFermier('choix-fermier');
            choixFermier.display();
            choixFermier.initialize();
        </script>

	@copyright  BDL, Bois du Larzac.
	@licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<script>

class ChoixFermier{
    
    #html;
    
    #baseId;
    
    /** 
        @param  baseId String - Unique id of this component within the page.
    **/
    constructor(baseId){
        //
        this.#baseId = baseId;
        //
        this.#html = `
        <fieldset class="choix-fermier">
            <legend>Fermier</legend>
            <details open>
                <summary><span id="${this.#baseId}-summary" class="padding-left2">{{/* filled by js */}}</span></summary>
                    <select class="margin-top" name="select-choix-fermier" id="select-choix-fermier" onChange="choixFermier_choixChanged('${this.#baseId}');">
                        <option id="choix-fermier-no-limit" value="choix-fermier-no-limit" selected>Pas de sélection</option>
        `;
                        {{range .Fermiers}}
                            this.#html += '<option id="choix-fermier-' + {{.Id}} + '" value="choix-fermier-' + {{.Id}} + '">' + {{.Nom}} + '</option>\n';
                        {{end}}
        this.#html += `
                    </select>
            </details>
        </fieldset>
        `;
    } // end constructor
    
    display(){
        document.write(this.#html);
    }
    
    initialize(){
        choixFermier_choixChanged(this.#baseId);
    }
    
} // end class

function choixFermier_choixChanged(baseId){
    // update summary string
    const fermierElt = document.getElementById("select-choix-fermier");
    document.getElementById(baseId + '-summary').innerHTML = fermierElt.options[fermierElt.selectedIndex].text;
}

</script>