{{/* 
    Formulaire de choix d'une ou plusieurs UGs.
    Template devant être appelée avec une structure contenant un champ AllUGs
    Utilisation :
        <script>
            choixFermier = new ChoixFermier('choix-fermier');
            choixFermier.display();
            choixFermier.initialize();
        </script>

	@copyright  BDL, Bois du Larzac.
	@licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

{{template "liens-ugs.html" $}}
{{template "liens-ugs-modal.html" $}}

<script>

// bidouilles pour faire marcher ug-modal --- à refactoriser
function computeLiensParcellesFromForm(){}
function computeIdsLieuditsFromForm(){}
function computeIdsFermiersFromForm(){}
function afficheParcelles(idsUGs, liensParcelle){}
function afficheLieudits(idsUGs, idsLieudit){}
function afficheFermiers(idsUGs, idsFermier){}


class ChoixUG{
    
    #html;
    
    #baseId;
    
    /** 
        @param  baseId String - Unique id of this component within the page.
    **/
    constructor(baseId){
        //
        this.#baseId = baseId;
        //
        this.#html = `
        <fieldset class="choix-ug">
            <legend>UGs</legend>
            <details open>
                <summary><span id="${this.#baseId}-summary" class="padding-left2">{{/* filled by js */}}</span></summary>
                <img 
                    class="vertical-align-middle bigicon margin-right"
                    src="/static/img/new.png"
                    title="Choisir une ou plusieurs UGs"
                    onclick="showModalUG();"
                />
                <div id="zone-ugs"></div>
            </details>
        </fieldset>
        `;
    } // end constructor
    
    display(){
        document.write(this.#html);
    }
    
    initialize(){
        choixUG_choixChanged(this.#baseId);
    }
    
} // end class

function choixUG_choixChanged(baseId){
    // update summary string
//    const ugElt = document.getElementById("select-choix-ug");
//    document.getElementById(baseId + '-summary').innerHTML = ugElt.options[ugElt.selectedIndex].text;
}

</script>