{{/* 
    Formulaire de choix d'une période.
    Template devant être appelée avec une structure contenant un champ Periods
    Utilisation :
        <script>
            choixPeriode = new ChoixPeriode('choix-periode');
            choixPeriode.display();
        </script>
        
	@copyright  BDL, Bois du Larzac.
	@licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<script src="/static/js/dateStringFr2iso.js"></script>
<script src="/static/js/dateStringIso2fr.js"></script>
<script src="/static/js/date2stringFr.js"></script>

<script>

class ChoixPeriode{
    
    #html;
    
    /** 
    Array of {arrays containing 2 strings}.
    Strings format = YYYY-MM-DD
    ex: Array[
        0: Array [ "2022-10-01", "2023-09-30" ]
        1: Array [ "2021-10-01", "2022-09-30" ]
        2: Array [ "2020-10-01", "2021-09-30" ]
    ]
    **/
    #periods;
    
    constructor(){
        this.#periods = [];
        {{range $index, $period := .Periods}}
            this.#periods[{{$index}}] = [];
            this.#periods[{{$index}}][0] = "{{(index $period 0) | dateIso}}";
            this.#periods[{{$index}}][1] = "{{(index $period 1) | dateIso}}";
        {{end}}
        //
        this.#html = `
<fieldset class="choix-periode">
    <legend>Période</legend>
    <details open>
        <summary><span id="choix-periode-summary" class="padding-left2">{{/* filled by js */}}</span></summary>
        
        <div class="grid2 padding-top2">
    
            <div class="bold center padding-bottom">Période</div>
            <div>
                <select id="choix-periode-periodes" name="choix-periode-periodes" onChange="choixPeriode_periodChanged();">
                    <option value="choix-periode-no-limit">Pas de limite</option>
                    <option value="choix-periode-free">--- Dates libres ---</option>
                    <option value="choix-periode-psg1">PSG 1 (01/01/2014 - 31/12/2023)</option>
                    <option value="choix-periode-psg2">PSG 2 (01/01/2024 - 31/12/2033)</option>
`;
        for(let i=0; i < this.#periods.length; i++){
            const dateDebFR = dateStringIso2fr(this.#periods[i][0]);
            const dateFinFR = dateStringIso2fr(this.#periods[i][1]);
            this.#html += `<option value="period-${i}">${dateDebFR} - ${dateFinFR}</option>`;
        }
        this.#html += `
                </select>
            </div>
        
            <div class="bold center padding-bottom">Dates libres</div>
            <div>
                <div class="inline-block">
                    <div class="center"><label for="choix-periode-debut">Début</label></div>
                    <input type="date" name="choix-periode-debut" id="choix-periode-debut" value="" onChange="choixPeriode_dateChanged();">
                </div>
                <div class="inline-block">
                    <div class="center"><label for="choix-periode-fin">Fin</label></div>
                    <input type="date" name="choix-periode-fin" id="choix-periode-fin" value="" onChange="choixPeriode_dateChanged();">
                </div>
            </div>
        
        </div><!-- end class="grid2" -->
    </details>
</fieldset>
        `;
        this.display();
        this.initialize();
    } // end constructor
    
    display(){
        document.write(this.#html);
    }
    
    initialize(){
        choixPeriode_periodChanged();
    }

} // end class


/** 
    Change le choix de la période dans le select => modifie l'affichage de summary.
**/
function choixPeriode_periodChanged(){
    const selectElt = document.getElementById('choix-periode-periodes');
    const valeur = selectElt.options[selectElt.selectedIndex].getAttribute('value');
    const idx = valeur.replace('choix-period-', '');
    if(idx == 'no-limit'){
        document.getElementById('choix-periode-debut').valueAsDate = null;
        document.getElementById('choix-periode-fin').valueAsDate = null;
        document.getElementById('choix-periode-summary').innerHTML = 'Pas de limite';
    }
    if(idx == 'free'){
        const dateDeb = document.getElementById('choix-periode-debut').valueAsDate;
        const dateFin = document.getElementById('choix-periode-fin').valueAsDate;
        const label = (dateBegin == null ? '?' : date2stringFr(dateBegin))
            + ' - '
            + (dateEnd == null ? '?' : date2stringFr(dateEnd));
        document.getElementById('choix-periode-summary').innerHTML = 'Pas de limite';
    }
    else if(idx == 'psg1'){
        const dateDeb = new Date('2014-01-01');
        const dateFin = new Date('2023-12-31');
        document.getElementById('choix-periode-debut').valueAsDate = dateDeb;
        document.getElementById('choix-periode-fin').valueAsDate = dateFin;
        const label = 'PSG 1 (' + date2stringFr(dateDeb) + ' - ' + date2stringFr(dateFin) + ')'; 
        document.getElementById('choix-periode-summary').innerHTML = label;
    }
    else if(idx == 'psg2'){
        const dateDeb = new Date('2024-01-01');
        const dateFin = new Date('2033-12-31');
        document.getElementById('choix-periode-debut').valueAsDate = dateDeb;
        document.getElementById('choix-periode-fin').valueAsDate = dateFin;
        const label = 'PSG 2 (' + date2stringFr(dateDeb) + ' - ' + date2stringFr(dateFin) + ')'; 
        document.getElementById('choix-periode-summary').innerHTML = label;
    }
    else {
        const inner = selectElt.options[selectElt.selectedIndex].innerHTML;
        const tmp = inner.split(' - ');
        const dateDeb = new Date(dateStringFr2iso(tmp[0]));
        const dateFin = new Date(dateStringFr2iso(tmp[1]));
        document.getElementById('choix-periode-debut').valueAsDate = dateDeb;
        document.getElementById('choix-periode-fin').valueAsDate = dateFin;
        document.getElementById('choix-periode-summary').innerHTML = inner;
    }
}

/** 
    R&agit au changement d'un input de type="date" => modifie l'affichage de summary.
**/
function choixPeriode_dateChanged(){
    const dateBegin = document.getElementById('choix-periode-debut').valueAsDate;
    const dateEnd = document.getElementById('choix-periode-fin').valueAsDate;
    document.getElementById('choix-periode-periodes').value = 'choix-periode-free';
    const str = (dateBegin == null ? '?' : date2stringFr(dateBegin))
        + ' - '
        + (dateEnd == null ? '?' : date2stringFr(dateEnd));
    document.getElementById('choix-periode-summary').innerHTML = str;
}

/** 
    Renvoie un message d'erreur (ou chaîne vide si pas d'erreur) ; utilisé par validateForm() du formulaire appelant.
**/
function choixPeriode_validateForm(){
    let msg = '';
    if(document.getElementById('choix-periode-periodes').selectedIndex != 0){ // si choix != de "pas de limite"
        if(document.getElementById('choix-periode-debut').value == '' || document.getElementById("choix-periode-fin").value == ''){
            msg += '- Choix période : vous devez spécifier la date de début et la date de fin.\n';
        }
        else if(document.getElementById("choix-periode-debut").value >= document.getElementById('choix-periode-fin').value){
            msg += '- Choix période : la date de début doit être antérieure à la date de fin.\n';
        }
    }
    return msg;
}

</script>