{{/* 
    Formulaire de choix d'un fermier.
    Un seul appel par page possible.
    
    Cette template doit être appelée avec une structure contenant un champ Fermiers.
    Fermiers est uniquement utilisée dans le constructeur.
    
    Utilisation :
        <script>
            const choixFermier = new ChoixFermier();
        </script>

	@copyright  BDL, Bois du Larzac.
	@licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<script>

class ChoixFermier{
    
    #html;
    
    constructor(){
        this.#html = `
        <fieldset class="choix-fermier">
            <legend>Fermier</legend>
            <details open>
                <summary><span id="choix-fermier-summary" class="padding-left2">{{/* filled by js */}}</span></summary>
                    <select class="margin-top" name="select-choix-fermier" id="select-choix-fermier" onChange="choixFermier_updateSummary();">
                        <option id="choix-fermier-no-limit" value="choix-fermier-no-limit" selected>Tous les fermiers</option>\n`;
                        {{range .Fermiers}}
                            this.#html += '<option id="choix-fermier-{{.Id}}" value="choix-fermier-{{.Id}}">{{.Nom}} {{.Prenom}}</option>\n';
                        {{end}}
        this.#html += `
                    </select>
            </details>
        </fieldset>
        `;
        this.display();
        this.initialize();
    } // end constructor
    
    display(){
        document.write(this.#html);
    }
    
    initialize(){
        choixFermier_updateSummary();
    }
    
} // end class

function choixFermier_updateSummary(){
    const fermierElt = document.getElementById("select-choix-fermier");
    document.getElementById('choix-fermier-summary').innerHTML = fermierElt.options[fermierElt.selectedIndex].text;
}

</script>