{{/* 

    La variable go {{.}} de cette template correspond à un chantier (= {{.Details.Chantier}} des templates appelantes).
    Utilisé uniquement par computeIdsUGsFromChantier()
    
    Pour utiliser cette modale, le code utilisateur doit implémenter 2 fonctions :
    - callback_validate_modal_ugs()
    - callback_remove_ug()
    
*/}}

<script type="text/javascript" src="/static/js/round.js"></script>

<script>

/** 
    Calcule les ids des UGs associées au chantier.
    Transfère des données go dans une variable js.
    Utilisé lorsqu'on arrive sur form update.
**/
function computeIdsUGsFromChantier(){
    const idsUGs = [];
    {{range .UGs}}
        idsUGs.push({{.Id}});
    {{end}}
    return idsUGs;
}

/** 
    Calcule les ids des UGs sélectionnées dans le formulaire
**/
function computeIdsUGsFromForm(){
    const tmpElts = document.getElementsByClassName('chk-ug');
    const idsUGs = [];
    for (const item of tmpElts) {
        const idUG = item.getAttribute('data-ug-id');
        if(item.checked){
            idsUGs.push(idUG);
        }
    }
    return idsUGs;
}

/** 
    Utilisé par chautre-form.html et plaq-form.html - PAS par chaufer-form.html
    Affiche la zone des UGs sélectionnées.
    Pas besoin d'appel ajax car les données sont stockées dans la modale UG (attributs data-*)
    @param  idsUGs   Tableau d'entiers, ex [3, 87, 19]
                    Sert à restaurer les UGs précédemment sélectionnées
**/
function afficheUGs(idsUGs){
    const zoneUGsElt = document.getElementById('zone-ugs'); // ICI convention <div id="zone-ugs"> dans template utilisatrice
    zoneUGsElt.innerHTML = "";
    //
    for(const idUG of idsUGs) {
        const codeUG = document.getElementById("chk-ug-" + idUG).getAttribute("data-ug-code");
        const surfaceUG = round(document.getElementById("chk-ug-" + idUG).getAttribute("data-ug-surface"), 2);
        //
        // img remove
        //
        const imgElt = document.createElement("img");
        imgElt.classList.add("inline", "vertical-align-middle", "bigicon");
        imgElt.setAttribute("src", "/static/img/delete.png");
        imgElt.setAttribute("title", "Supprimer l'association avec cette UG");
        imgElt.style.cursor = "pointer";
        //
        // lien vers remove
        //
        const aElt = document.createElement("a");
        aElt.setAttribute("href", "#");
        aElt.setAttribute("onclick", "removeUG('" + idUG + "');");
        aElt.setAttribute("class", "padding-right");
        aElt.appendChild(imgElt);
        //
        // label avec code ug
        //
        const spanElt = document.createElement("span");
        spanElt.innerHTML = '<a href="/ug/' + idUG + '">' + codeUG + ' (' + surfaceUG + ' ha)</a>';
        //
        // div contenant img et label
        //
        elt = document.createElement("div");
        elt.setAttribute("class", "form-ug padding-top05"); // form-ug sert dans validateForm()
        elt.setAttribute("data-ug-id", idUG);
        elt.setAttribute("data-ug-code", codeUG);
        elt.appendChild(aElt);
        elt.appendChild(spanElt);
        //
        zoneUGsElt.appendChild(elt);
    }
}

function removeUG(idUG){
    const chkElt = document.getElementById("chk-ug-" + idUG);
    const codeUG = chkElt.getAttribute('data-ug-code');
    var ok = confirm("Voulez-vous vraiment enlever l'association avec l'UG " + codeUG + " ?");
    if(ok){
        chkElt.checked = false;
        callback_remove_ug(); // A implémenter par le code appelant
    }
}


function checkUGs(){
    let msg = '';
    let atLeastOneSelected = false;
    for(element of document.getElementsByClassName("chk-ug")){
        if(element.checked){
            atLeastOneSelected = true;
            break;
        }
    }
    if(!atLeastOneSelected){
        msg += "- Vous devez au moins choisir une UG.\n";
    }
    return msg;
}

/** 
    Fait 2 choses :
    - Fabrique le message d'erreur pour le choix des ugs.
    - Remplit l'attribut value de l'élément "ids-ugs" du formulaire appelant :
        <input type="hidden" name="ids-ugs" id="ids-ugs" value="">
      Cette value est de la forme : "12;352;41"
    @return message d'erreur ; vide si la sélection de ugs est ok.
**/
////////////////////////// A SUPPRIMER \\\\\\\\\\\\\\\\\\\\\\\\\\
function checkUGsAndFillHiddenField(){
    let msg = "";
    const hiddenValues = []; // tableau pour fabriquer value du hidden field
    //
    document.getElementById("ids-ugs").value = ""; // réinitialise hidden field
    //
    for(element of document.getElementsByClassName("chk-ug")){
        if(element.checked){
            hiddenValues.push(element.getAttribute("data-ug-id"));
        }
    }
    if(hiddenValues.length == 0){
        msg += "- Vous devez au moins choisir une UG.\n";
    }
    else {
        document.getElementById("ids-ugs").value = hiddenValues.join(";");
    }
    return msg;
}

</script>
