{{/* 

    La variable go {{.}} de cette template correspond à un chantier (= {{.Details.Chantier}} des templates utilisatrices).
    Utilisé uniquement par computeLiensParcellesFromChantier()
    
    Les variables liensParcelles sont des tableaux d'objets ayant comme champs :
        idParcelle  int
        entiere     bool
        surface     float
    Calculés soit à partir d'une variiable go, soit à partir des parcelles sélectionnées dans un formulaire.
    
    Conventions à respecter par les templates utilisatrices :
    - les parcelles se trouvent dans une <div id="parcelles"></div>
    
    
    Ex de html généré et traité par cette template :
    <div><b>0K0111</b><br>Millau</div>
    <div class="parcelle" id="parcelle-1027">
        <div>
            <input type="radio" name="radio-parcelle-1027" value="radio-parcelle-non-selectionne-1027" id="radio-parcelle-non-selectionne-1027" checked="true" onclick="document.getElementById('parcelle-surface-1027').readOnly = true;document.getElementById('parcelle-surface-1027').value = '';">
            <label for="radio-parcelle-non-selectionne-1027">Non sélectionnée</label>
        </div>
        <div>
            <input type="radio" name="radio-parcelle-1027" value="radio-parcelle-entiere-1027" id="radio-parcelle-entiere-1027" onclick="document.getElementById('parcelle-surface-1027').readOnly = true;document.getElementById('parcelle-surface-1027').value = '';">
            <label for="radio-parcelle-entiere-1027">Entière (25.51 ha)</label>
        </div>
        <div>
            <input type="radio" name="radio-parcelle-1027" value="radio-parcelle-surface-1027" id="radio-parcelle-surface-1027" onclick="document.getElementById('parcelle-surface-1027').readOnly = false;">
            <label for="radio-parcelle-surface-1027" class="padding-right">Surface</label>
            <input type="number" min="0" step="0.01" class="width5" name="parcelle-surface-1027" id="parcelle-surface-1027" readonly="true">    
        </div>
    </div>
    
*/}}
<script>

/** 
    Transfère les donées go Chantier.LiensParcelles dans un tableau d'objets js
    @return  Le tableau js de liens parcelles. Voir structure en début de ce fichier.
**/
function computeLiensParcellesFromChantier(){
    const liensParcelles = [];
    let lien;
    {{range .LiensParcelles}}
        lien = {};
        lien.idParcelle = {{.IdParcelle}};
        lien.entiere = {{.Entiere}};
        lien.surface = lien.entiere ? 0 : {{.Surface}};
        liensParcelles.push(lien);
    {{end}}
    return liensParcelles;
}

/**
    Calcule les liens parcelles à partir des champs sélectionnés dans le formulaire.
    Ne calcule que les parcelles sélectionnées.
    @return  Le tableau js de liens parcelles. Voir structure en début de ce fichier.
**/
function computeLiensParcellesFromForm(){
    const liensParcelles = [];
    const parcelleDivs = document.getElementsByClassName("parcelle");
    for(const div of parcelleDivs){
        const idParcelle = div.getAttribute("id").replace("parcelle-", "");
        if (document.getElementById("radio-parcelle-non-selectionne-" + idParcelle).checked){
            continue; // Ne calcule que les parcelles sélectionnées.
        }
        const lien = {};
        lien.idParcelle = idParcelle;
        lien.entiere = document.getElementById("radio-parcelle-entiere-" + idParcelle).checked;
        lien.surface = lien.entiere ? 0 : document.getElementById("parcelle-surface-" + idParcelle).value;
        liensParcelles.push(lien);
    }
    return liensParcelles;
}

// ***************************************
/** 
    - Récup en ajax les parcelles correspondant à une ou plusieurs UGs et les affiche.
    - Restaure les sélections éventuelles des parcelles avant l'appel.
    @param  idsUG           Tableau d'entiers, ex [3, 87, 19]
    @param  liensParcelles  Voir commentaire de ce fichier - sert à restaurer l'affichage précédant l'appel.

**/
async function afficheParcelles(idsUG, liensParcelles){
    const parcellesElt = document.getElementById('parcelles'); // ICI convention <div id="parcelles"> dans template utilisatrice
    if(idsUG.length == 0){
        parcellesElt.innerHTML = "Choisissez d'abord une UG";
        return;
    }
    //
    // 1 - Affichage nouvelles parcelles
    //     Elles sont toutes à "non sélectionnée"
    //
    const nCol = 2; // nb de colonne pour l'affichage des parcelles
    const strIdsUG = idsUG.join(',');
    const url = "/ajax/get/parcelles-from-ugs/" + strIdsUG;
    // Ajax pour écup parcelles correspondant à l'UG
    let response = await fetch(url);
    if(response == null){
        alert("ERREUR - Transmettez ce message l'administrateur du site :\n"
            + "Problème de récupération " + url);
        return;                                                                     
    }
    response = await response.json();
    if(response == null){
        alert("ERREUR - Transmettez ce message l'administrateur du site :\n"
            + "Mauvais format de retour de " + url);
        return;
    }
    if(response.length == 0){
        parcellesElt.innerHTML = "Aucune parcelle pour cette UG";
        return;
    }
    parcellesElt.innerHTML = "";
    //
    let limit = Math.floor(response.length / nCol); // nb max par colonne
    if(response.length / nCol != limit){
        limit += 1;
    }
    // chaque parcelle est dans une grid2
    // les grid2 sont ajoutées au td
    const table = document.createElement("table");
    parcellesElt.appendChild(table);
    const tr = document.createElement("tr");
    table.appendChild(tr);
    let td = document.createElement("td");
    td.setAttribute("class", "vertical-align-top padding-right2");
    tr.appendChild(td);
    let grid2Elt = document.createElement("div");
    grid2Elt.setAttribute("class", "grid2-form");
    //
    let curdiv, surfaceInputNameId, subdiv, radio, radioName, radioValueId, label, surfaceInput, strOnclick;
    let i = 1;
    let curCommune, curSurfaceTotale, tmp;
    response.forEach(function(item){
        curdiv = document.createElement("div");
        //
        curdiv.innerHTML = "<b>" + item.name + "</b>";
        curdiv.innerHTML += "<br>" + item.commune.NomCourt;
        
        grid2Elt.appendChild(curdiv);
        //
        curdiv = document.createElement("div");
        // class et id de curdiv servent dans validateForm()
        curdiv.setAttribute("class", "parcelle");
        curdiv.setAttribute("id", "parcelle-" + item.id);
        surfaceInputNameId = "parcelle-surface-" + item.id;
        radioName = "radio-parcelle-" + item.id;
        strOnclick = "document.getElementById('"+surfaceInputNameId+"').readOnly = true;"
            + "document.getElementById('"+surfaceInputNameId+"').value = '';"
        // non sélectionnée - radio
        subdiv = document.createElement("div");
        radio = document.createElement("input");
        radioValueId = "radio-parcelle-non-selectionne-" + item.id;
        radio.setAttribute("type", "radio");
        radio.setAttribute("name", radioName);
        radio.setAttribute("value", radioValueId);
        radio.setAttribute("id", radioValueId);
        radio.setAttribute("checked", true);        // ICI, parcelle non sélectionnée
        radio.setAttribute("onclick", strOnclick);
        subdiv.appendChild(radio);
        // non sélectionnée - label
        label = document.createElement("label");
        label.setAttribute("for", radioValueId);
        label.innerHTML = "Non sélectionnée";
        subdiv.appendChild(label);
        //
        curdiv.appendChild(subdiv);
        // entière - radio
        subdiv = document.createElement("div");
        radio = document.createElement("input");
        radioValueId = "radio-parcelle-entiere-" + item.id;
        radio.setAttribute("type", "radio");
        radio.setAttribute("name", radioName);
        radio.setAttribute("value", radioValueId);
        radio.setAttribute("id", radioValueId);
        radio.setAttribute("onclick", strOnclick);
        subdiv.appendChild(radio);
        // entière - label
        label = document.createElement("label");
        label.setAttribute("for", radioValueId);
        label.innerHTML = "Entière (" + round(item.surface, 2) + " ha)";
        subdiv.appendChild(label);
        //
        curdiv.appendChild(subdiv);
        // surface - radio
        subdiv = document.createElement("div");
        radio = document.createElement("input");
        radioValueId = "radio-parcelle-surface-" + item.id;
        radio.setAttribute("type", "radio");
        radio.setAttribute("name", radioName);
        radio.setAttribute("value", radioValueId);
        radio.setAttribute("id", radioValueId);
        radio.setAttribute("onclick", "document.getElementById('"+surfaceInputNameId+"').readOnly = false;");
        subdiv.appendChild(radio);
        // surface - label
        label = document.createElement("label");
        label.setAttribute("for", radioValueId);
        label.setAttribute("class", "padding-right");
        label.innerHTML = "Surface";
        subdiv.appendChild(label);
        // surface - input type=number
        surfaceInput = document.createElement("input");
        surfaceInput.setAttribute("type", "number");
        surfaceInput.setAttribute("min", "0");
        surfaceInput.setAttribute("step", "0.01");
        surfaceInput.setAttribute("class", "width5");
        surfaceInput.setAttribute("name", surfaceInputNameId);
        surfaceInput.setAttribute("id", surfaceInputNameId);
        surfaceInput.setAttribute("readonly", true);
        subdiv.appendChild(surfaceInput);
        //
        curdiv.appendChild(subdiv);
        grid2Elt.appendChild(curdiv);
        td.appendChild(grid2Elt);
        if(i == limit){
            td = document.createElement("td");
            td.setAttribute("class", "vertical-align-top");
            tr.appendChild(td);
            grid2Elt = document.createElement("div");
            grid2Elt.setAttribute("class", "grid2-form");
        }
        i++;
    });
    //
    // 2 - Restauration de la sélection des parcelles avant appel
    //
//console.log("Restauration - liensParcelles =", liensParcelles);
    let idParcelle;
    for(const lien of liensParcelles) {
        idParcelle = lien.idParcelle;
//console.log("Restauration - idParcelle =", idParcelle);
        // on teste undefined pour le cas où des parcelles précédemment sélectionnées ne sont plus visibles
        // (si on a dé-sélectionné une ug)
        if(lien.entiere){
            const test = document.getElementById("radio-parcelle-entiere-" + idParcelle);
            if(test != undefined){
                document.getElementById("radio-parcelle-entiere-" + idParcelle).checked = true;
            }
            else {
                continue;
            }
        }
        else {
            const test = document.getElementById("radio-parcelle-surface-" + idParcelle);
            if(test != undefined){
                document.getElementById("radio-parcelle-surface-" + idParcelle).checked = true;
                document.getElementById("parcelle-surface-" + idParcelle).readonly = false;
                document.getElementById("parcelle-surface-" + idParcelle).value = lien.surface;
            }
        }
    }
}


/** 
    Fait 2 choses :
    - Fabrique le message d'erreur pour le choix des parcelles.
    - Remplit l'attribut value de l'élément "liens-parcelles" du formulaire appelant :
        <input type="hidden" name="liens-parcelles" id="liens-parcelles" value="">
        Cette value est de la forme : "1027:surface-10;1025:entiere"
        Utile pour faciliter le traitement dans le back en go.
    @return message d'erreur ; vide si la sélection de parcelles est ok.
**/
function checkParcellesAndFillHiddenField(){
    let idParcelle, surface;
    const hiddenValues = []; // tableau pour fabriquer value de hidden field
    let msg = "";
    let parcelleChecked = false;
    let surfaceZero = false;
    //
    document.getElementById("liens-parcelles").value = ""; // réinitialise hidden field
    //
    const elts = document.getElementsByClassName("parcelle");
    for(let i = 0; i < elts.length; i++) {
        idParcelle = elts[i].getAttribute("id").replace("parcelle-", "");
        if(document.getElementById("radio-parcelle-non-selectionne-" + idParcelle).checked == true){
            continue;
        }
        parcelleChecked = true; // ok, au moins une pacelle sélectionnée
        if(document.getElementById("radio-parcelle-surface-" + idParcelle).checked){
            surface = surfaceInputElt = document.getElementById("parcelle-surface-" + idParcelle).value;
            if(surface <= 0 || surface == ""){
                surfaceZero = true;
            }
            hiddenValues.push(idParcelle + ":surface-" + surface);
        }
        else{
            // parcelle entière
            hiddenValues.push(idParcelle + ":entiere");
        }
    }
    //
    if(!parcelleChecked){
        msg += "- Vous devez au moins choisir une parcelle.\n";
    }
    if(surfaceZero){
        msg += "- La surface des parcelles doit être positive.\n";
    }
    if(msg == ""){
        // remplit la value du hidden field
        document.getElementById("liens-parcelles").value = hiddenValues.join(";");
    }
    return msg;
}

/** 
    Fait 2 choses :
    - Fabrique le message d'erreur pour le choix des parcelles.
    - Remplit l'attribut value de l'élément "liens-parcelles" du formulaire appelant :
        <input type="hidden" name="liens-parcelles" id="liens-parcelles" value="">
      Cette value est de la forme : "1027:surface-10;1025:entiere"
    @return message d'erreur ; vide si la sélection de parcelles est ok.
**/
// A SUPPRIMER
/* function checkParcelles(){
    let msg = "";
    let parcelleChecked = false;
    let surfaceZero = false;
    const elts = document.getElementsByClassName("parcelle");
    for(let i = 0; i < elts.length; i++) {
        idParcelle = elts[i].getAttribute("id").replace("parcelle-", "");
        if(document.getElementById("radio-parcelle-non-selectionne-" + idParcelle).checked == true){
            continue;
        }
        parcelleChecked = true; // ok, au moins une pacelle sélectionnée
        if(document.getElementById("radio-parcelle-surface-" + idParcelle).checked){
            surface = surfaceInputElt = document.getElementById("parcelle-surface-" + idParcelle).value;
            if(surface <= 0 || surface == ""){
                surfaceZero = true;
            }
        }
    }
    //
    if(!parcelleChecked){
        msg += "- Vous devez au moins choisir une parcelle.\n";
    }
    if(surfaceZero){
        msg += "- La surface des parcelles doit être positive.\n";
    }
    return msg;
} */



</script>
