<div style="padding:.5rem 0 0 5rem;">
    <h1>Logiciel de gestion forestière</h1>
</div>


{{if .Details.Recents}}
    <h2>Activité récente</h2>
    <ul class="naked">
    {{range .Details.Recents}}
        <li><a href="{{.URL}}">{{.Label}}</a></li>
    {{end}}
    </ul>
{{end}}

<!-- 
<h3 style="padding:2em 0 0 2em;">
ATTENTION
<br>
<br>En cas de mise à jour des parcelles ou exploitants dans le logiciel foncier,
<br><a href="/admin/maj-foncier">Effectuer une mise à jour des données foncières</a>
<br>
<br>En cas de mise à jour des unités de gestion ou des années d'intervention dans le PSG
<br><a href="/admin/maj-psg">Effectuer une mise à jour des données PSG (mapinfo)</a>
<br>
</h3>
-->
