{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}
<div style="padding:.5rem 0 0 5rem;">
    <h1>Logiciel de gestion forestière</h1>
</div>

<div class="flex-wrap">
    
    <img 
        src="/doc/schema-bdd-bdl.svg" alt="Schéma de la base BDL"
        style="margin-left:2rem; padding:.5rem; background:white; border:1px solid grey;"
    >
    
    {{if .Details.Recents}}
    <div class="margin-left2">
        <h2>Activité récente</h2>
        <ul class="naked">
        {{range .Details.Recents}}
            <li class="padding-bottom02"><a href="{{.URL}}">{{.Label}}</a></li>
        {{end}}
        </ul>
        
        <a href="/doc/leaflet.js/leaflet-test.html"><h2>Test Cartographie</h2></a>
        <div class="margin-top center">
            <a href="/doc/leaflet.js/leaflet-test.html">
                <img src="/doc/leaflet.js/doc/screenshot1.jpg" class="border" title="Test cartographie" alt="Test cartographie">
            </a>
        </div>
        
    </div>
    {{end}}
    
</div><!--  class="flex-wrap" -->
