{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<h1>{{.Header.Title}}</h1>

{{with .Details.Acteur}}
<form class="form" action="{{$.Details.UrlAction}}" onsubmit="return validateForm();" method="post" novalidate>

    <div class="grid2-form">
        
        <label for="nom">Nom / Dénomination</label>
        <input type="text" name="nom" id="nom" value="{{.Nom}}">
        
        <label for="roles">Rôles</label>
        <table>
            <tr>
                <td class="vertical-align-top">
                    <fieldset class="block bold">
                        <legend>Clients</legend>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="VPL-CL" name="VPL-CL">
                            Client plaquettes
                        </label>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="AVC-PP" name="AVC-PP">
                            Client pâte à papier
                        </label>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="AVC-CH" name="AVC-CH">
                            Client bois de chauffage
                        </label>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="AVC-PL" name="AVC-PL">
                            Client palettes
                        </label>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="AVC-PI" name="AVC-PI">
                            Client piquets
                        </label>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="AVC-BO" name="AVC-BO">
                            Client bois d'oeuvre
                        </label>
                    </fieldset>
                    <fieldset class="block bold margin-top">
                        <legend>Divers</legend>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="DIV-MH" name="DIV-MH">
                            Mesureur d'humidité
                        </label>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="DIV-PF" name="DIV-PF">
                            Propriétaire foncier
                        </label>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="DIV-FO" name="DIV-FO">
                            Fournisseur de plaquettes
                        </label>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="FER-BC" name="FER-BC">
                            Fermier bois de chauffage
                            <div class="padding-left2">(non facturé)</div>
                        </label>
                    </fieldset>
                </td>
                <td class="vertical-align-top">
                    <fieldset class="block bold">
                        <legend>Chantier plaquettes</legend>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="PLA-AB" name="PLA-AB">
                            Abatteur (bûcheron)
                        </label>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="PLA-DB" name="PLA-DB">
                            Débardeur
                        </label>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="PLA-DC" name="PLA-DC">
                            Déchiqueteur
                        </label>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="PLA-BR" name="PLA-BR">
                            Broyeur
                        </label>
                        <div class="bold padding-top05">Transport</div>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="PLT-TR" name="PLT-TR">
                            Transporteur
                        </label>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="PLT-CO" name="PLT-CO">
                            Conducteur
                        </label>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="PLT-PO" name="PLT-PO">
                            Propriétaire outil
                        </label>
                        <div class="bold padding-top05">Rangement</div>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="PLR-RG" name="PLR-RG">
                            Rangeur
                        </label>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="PLR-CO" name="PLR-CO">
                            Conducteur
                        </label>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="PLR-PO" name="PLR-PO">
                            Propriétaire outil
                        </label>
                    </fieldset>
                </td>
                <td class="vertical-align-top">
                    <fieldset class="block bold">
                        <legend>Vente plaquettes</legend>
                        <div class="bold">Chargement</div>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="VPC-CH" name="VPC-CH">
                            Chargeur
                        </label>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="VPC-CO" name="VPC-CO">
                            Conducteur
                        </label>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="VPC-PO" name="VPC-PO">
                            Propriétaire outil
                        </label>
                        <div class="bold padding-top05">Livraison</div>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="VPL-LI" name="VPL-LI">
                            Livreur
                        </label>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="VPL-CO" name="VPL-CO">
                            Conducteur
                        </label>
                        <label class="normal block left">
                            <input class="chk-role" type="checkbox" id="VPL-PO" name="VPL-PO">
                            Propriétaire outil
                        </label>
                    </fieldset>
                </td>
            </tr>
        </table>
        
        <label class="optional" for="prenom">Prénom / Statut juridique</label>
        <input type="text" name="prenom" id="prenom" value="{{.Prenom}}">
        
        <label class="optional" for="adresse1">Adresse 1 / Siège social</label>
        <input type="text" name="adresse1" id="adresse1" value="{{.Adresse1}}">
        
        <label class="optional" for="adresse2">Adresse 2</label>
        <input type="text" name="adresse2" id="adresse2" value="{{.Adresse2}}">
        
        <label class="optional" for="cp">Code postal</label>
        <div><input type="text" name="cp" id="cp" size="5" value="{{.Cp}}"></div>
        
        <label class="optional" for="ville">Ville</label>
        <input type="text" name="ville" id="ville" value="{{.Ville}}">
        
        <label class="optional" for="tel">Téléphone</label>
        <div><input type="text" name="tel" id="tel" size="14" value="{{.Tel}}"></div>
        
        <label class="optional" for="mobile">Téléphone portable</label>
        <div><input type="text" name="mobile" id="mobile" size="14" value="{{.Mobile}}"></div>
        
        <label class="optional" for="email">Email</label>
        <input type="text" name="email" id="email" value="{{.Email}}">
        
        <label class="optional" for="bic">BIC</label>
        <input type="text" name="bic" id="bic" value="{{.Bic}}">
        
        <label class="optional" for="iban">IBAN</label>
        <input type="text" name="iban" id="iban" value="{{.Iban}}">
        
        <label class="optional" for="siret">Siret</label>
        <input type="text" name="siret" id="siret" value="{{.Siret}}">
        
        <label class="optional" for="fournisseur">Fournisseur plaquettes</label>
        <div>
            <input type="checkbox" name="fournisseur" id="fournisseur" {{if .Fournisseur}} checked{{end}}>
        </div>
        
        <label class="optional" for="proprietaire">Propriétaire</label>
        <div>
            <input type="checkbox" name="proprietaire" id="proprietaire" {{if .Proprietaire}} checked{{end}}>
        </div>
        
        <label class="optional" for="actif">Actif</label>
        <div>
            <input type="checkbox" name="actif" id="actif" {{if .Actif}} checked{{end}}>
        </div>
        
        <label class="optional" for="notes">Notes</label>
        <textarea rows="6" cols="50" name="notes" id="notes">{{.Notes}}</textarea>

    </div>
    
    <div class="margin-top">
        <div class="float-left">
            <a href="#help" id="toogle-help" class="help-button" title="Afficher l'aide de ce formulaire" onClick="toogle('help');">?</a>
        </div>
        <div class="float-right">
            <input type="button" name="cancel" value="Annuler" onClick="window.history.back();">
            <input type="submit" class="margin-left" value="Valider">
        </div>
    </div>
    
    <input type="hidden" name="id" id="id" value="{{.Id}}">
    <input type="hidden" name="codes-roles" id="codes-roles" value="">
    
</form>

<a name="help"></a>
<div id="help" class="margin display-none">
    <div class="help-content">
        <div class="help-title">Aide</div>
        <div class="section">
            <b>Fournisseur plaquettes</b> : cocher cette case si l'acteur peut être considéré comme un fournisseur lors d'une vente de plaquettes, comme l'est BDL.
        </div>
        <div class="section">
            <b>Propriétaire</b> : cocher cette case si l'acteur peut être considéré comme un propriétaire, comme le sont la SCTL ou le GFA.
        </div>
        <div class="section">
            <b>Actif</b> : un acteur actif est un acteur qui participe aux activités de BDL.
            <br>Le champ <code>actif</code> sert à supprimer un acteur sans le supprimer vraiment :)
            <br>Si on veut supprimer un acteur parce qu'il arrête de participer à l'activité de BDL,
            <ul class="margin-top0">
                <li>Soit il n'a jamais participé à une activité (chantier, vente, transport etc.) et on peut le supprimer de la base.</li>
                <li>Soit il a déjà participé à des activités, et dans ce cas, on ne peut pas le supprimer (sinon, ça laisserait les activités incohérentes). On le marque donc comme inactif, et il n'apparaît plus dans la liste des acteurs possibles pour les différentes activités.</li>
            </ul>
        </div>
    </div>
</div>


<script>
window.addEventListener("load", function(){
    initialize();
});

function initialize(){
    {{range .CodesRoles}}
        document.getElementById("{{.}}").checked = true;
    {{end}}
}

function validateForm(){
    let msg = "";
    if(document.getElementById("nom").value.trim() == ""){
        msg += "- Vous devez renseigner le nom.\n";
    }
    // on laisse la possibilité de créer un client sans rôle
    fillCodesRoles();
    if(msg != ""){
        alert("Impossible de valider ce formulaire : \n" + msg);
        return false;
    }
    return true;
}

/** 
    Remplit l'attribut value de l'élément "codes-roles" (input type="hidden") :
    Cette value est de la forme : "VPL-LI;PLR-PO;DIV-MH"
**/
function fillCodesRoles(){
    let msg = "";
    const hiddenValues = []; // tableau pour fabriquer value du hidden field
    //
    document.getElementById("codes-roles").value = ""; // réinitialise le hidden field
    //
    for(element of document.getElementsByClassName("chk-role")){
        if(element.checked){
            hiddenValues.push(element.getAttribute("id"));
        }
    }
    document.getElementById("codes-roles").value = hiddenValues.join(";");
}


</script>

{{end}}
