{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<h1>
    {{.Header.Title}}
    
    <a class="padding-left" href="/affacture/form/{{.Details.Acteur.Id}}">
        <span class="icon-euro" style="position:relative;top:-9px;" title="Payer cet acteur">&euro;</span>
    </a>
    
    {{with .Details.Acteur}}
    <a href="#" onclick="deleteActeur({{.Id}}, {{.String}}, {{.Deletable}})">
        <img class="verybigicon vertical-align-bottom inline-block" src="../static/img/delete.png" title="Supprimer cet acteur">
    </a>
    <a href="/acteur/update/{{.Id}}">
        <img class="verybigicon vertical-align-bottom inline-block" src="../static/img/update.png" title="Modifier cet acteur">
    </a>
    {{end}}
    
</h1>

<div class="page-content">

<div class="flex-wrap">

<div class="padding-right border-right">
{{with .Details.Acteur}}

<div class="grid2-pres">
    
        <div>Nom / Dénomination</div>
        <div>{{.Nom}}</div>
    
        <div>Prénom / Statut juridique</div>
        <div>{{.Prenom}}</div>
    
        <div>Adresse 1 / Siège social</div>
        <div>{{.Adresse1}}</div>
    
        <div>Adresse 2</div>
        <div>{{.Adresse2}}</div>
    
        <div>Code postal</div>
        <div>{{.Cp}}</div>
    
        <div>Ville</div>
        <div>{{.Ville}}</div>
    
        <div>Téléphone</div>
        <div>{{.Tel}}</div>
    
        <div>Téléphone portable</div>
        <div>{{.Mobile}}</div>
    
        <div>Email</div>
        <div>{{.Email}}</div>
    
        <div>BIC</div>
        <div>{{.Bic}}</div>
    
        <div>IBAN</div>
        <div>{{.Iban}}</div>
    
        <div>Siret</div>
        <div>{{.Siret}}</div>
    
        <div>Fournisseur plaquettes</div>
        <div>{{if .Fournisseur}}Oui{{else}}Non{{end}}</div>
    
        <div>Propriétaire</div>
        <div>{{if .Proprietaire}}Oui{{else}}Non{{end}}</div>
    
        <div>Actif</div>
        <div>{{if .Actif}}Oui{{else}}Non{{end}}</div>
        
        <div>Notes</div>
        {{if .Notes}}<div class="note">{{.Notes | nl2br}}</div>{{end}}
    
</div> <!-- end class="grid2-pres" -->

<hr>

{{end}}
</div>

<div class="padding-left">
    {{if .Details.Activites}}
    <div class="big3 bold margin-bottom">Activité</div>
    <table class="margin-left">
    {{range .Details.Activites}}
        <tr>
            <td>
                {{.Date | dateFr}} : {{.Role | ucFirst}}
            </td>
            <td class="padding-left">
                <a href="{{.URL}}">{{.NomActivite}}</a>
            </td>
        </tr>
    {{end}}
    </table>
    
    {{else}}
    <h3>Aucune activité</h3>
    {{end}}
</div>

</div><!-- end class="flex-wrap" -->
</div><!-- end class="page-content" -->


<script>
// *****************************************
function deleteActeur(idActeur, nomActeur, deletable){
    let msg;
    if(deletable){
        msg = "ATTENTION, en cliquant sur OK,\n"
                + "l'acteur \"" + nomActeur + "\" sera définitivement supprimé.\n";
    }
    else{
        msg = "ATTENTION, en cliquant sur OK,\n"
                + "l'acteur \"" + nomActeur + "\" sera marqué \"inactif\".\n"
                + "(Il ne peut pas être supprimé car il a participé à des activités)";
    }
    if(confirm(msg)){
        window.location = "/acteur/delete/" + idActeur;
    }
}

</script>