{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<h1>
    Acteurs
    <a class="padding-left" href="/acteur/new">
        <img class="bigicon inline" src="/static/img/new.png" title="Créer un nouvel acteur" />
    </a>
</h1>

<div class="big3 padding-left">{{.Details.Count}} acteurs</div>

<table class="entities">
<thead>
    <tr>
        <th></th>
        <th class="order">Nom</th>
        <th>Rôle(s)</th>
        <th>Détails</th>
        <th>Notes</th>
        <th class="order">Actif</th>
    </tr>
</thead>

<tbody>
    {{range .Details.List}}
    <tr>
        <td class="whitespace-nowrap">
            {{/* Exclure acteurs BDL, SCL, GFA */}}
            {{if(not (le .Id 3))}}
                <a href="/affacture/form/{{.Id}}">
                    <span class="icon-euro-small" title="Payer cet acteur">&euro;</span>
                </a>
                <a href="#" onclick="deleteActeur({{.Id}}, {{.String}}, {{.Deletable}})">
                    <img src="../static/img/delete.png" alt="Supprimer cet acteur">
                </a>
                <a href="/acteur/update/{{.Id}}">
                    <img src="../static/img/update.png" alt="Modifier cet acteur">
                </a>
            {{end}}
        </td>
        <td>
            {{/* data-nom : hack pour trier par nom, cf table-sort.js */}}
            <span data-nom="{{.Nom}} {{.Prenom}}">
                <a href="/acteur/{{.Id}}">{{.Nom}} {{.Prenom}}</a>
            </span>
        </td>
        <td class="whitespace-nowrap">
            {{range .CodesRole}}
                <div>{{. | labelRole}}</div>
            {{end}}
        </td>
        <td>
            {{/* <details open> */}}
                {{/* <summary></summary> */}}
                {{if .Adresse1}}<div class="whitespace-nowrap">{{.Adresse1}}</div>{{end}}
                {{if .Adresse2}}<div class="whitespace-nowrap">{{.Adresse2}}</div>{{end}}
                {{if or .Cp .Ville}}<div class="whitespace-nowrap">{{.Cp}} {{.Ville}}</div>{{end}}
                {{if .Tel}}<div class="whitespace-nowrap">{{.Tel}}</div>{{end}}
                {{if .Email}}<div class="whitespace-nowrap">{{.Email}}</div>{{end}}
            {{/* </details> */}}
        </td>
        <td>{{.Notes}}</td>
        {{if .Actif}}
            <td class="ok center">oui</td>
        {{else}}
            <td class="nok center">non</td>
        {{end}}
    </tr>
    {{end}}
</tbody>
</table>

<script>

// *****************************************
function deleteActeur(idActeur, nomActeur, deletable){
    let msg;
    if(deletable){
        msg = "ATTENTION, en cliquant sur OK,\n"
                + "l'acteur \"" + nomActeur + "\" sera définitivement supprimé.\n";
    }
    else{
        msg = "ATTENTION, en cliquant sur OK,\n"
                + "l'acteur \"" + nomActeur + "\" sera marqué \"inactif\".\n"
                + "(Il ne peut pas être supprimé car il a participé à des activités)";
    }
    if(confirm(msg)){
        window.location = "/acteur/delete/" + idActeur;
    }
}
</script>
