<h1>
    Acteurs
    <a class="padding-left" href="/acteur/new">
        <img class="bigicon inline" src="/static/img/new.png" title="Créer un nouvel acteur" />
    </a>
</h1>

<div class="big3 padding-left">{{.Details.Count}} acteurs</div>

<table class="entities">
<tr>
    <th></th>
    <th>Nom</th>         
    <th>Adresse</th>    
    <th>Tel / email</th>          
    <th>Actif</th>       
    <th>Notes</th>
</tr>

{{range .Details.List}}
<tr>
    <td class="whitespace-nowrap">
        {{/* Exclure acteurs BDL, SCL, GFA */}}
        {{if(not (le .Id 3))}}
            <a href="/affacture/form/{{.Id}}">
                <span class="icon-euro-small" title="Payer cet acteur">&euro;</span>
            </a>
            <a href="#" onclick="deleteActeur({{.Id}}, {{.String}}, {{.Deletable}})">
                <img src="../static/img/delete.png" alt="Supprimer cet acteur">
            </a>
            <a href="/acteur/update/{{.Id}}">
                <img src="../static/img/update.png" alt="Modifier cet acteur">
            </a>
        {{end}}
    </td>
    <td><a href="/acteur/{{.Id}}">{{.Nom}} {{.Prenom}}</a></td>
    <td>
        {{.Adresse1}}
        {{if .Adresse2}}<br>{{.Adresse2}}{{end}}
        {{if or .Cp .Ville}}<br>{{.Cp}} {{.Ville}}{{end}}
    </td>
    <td>
        {{.Tel}}
        {{if .Email}}<br>{{.Email}}{{end}}
    </td>
    {{if .Actif}}
        <td class="ok">oui</td>
    {{else}}
        <td class="nok">non</td>
    {{end}}
    <td>{{.Notes}}</td>
</tr>
{{end}}

</table>

<script>

// *****************************************
function deleteActeur(idActeur, nomActeur, deletable){
    let msg;
    if(deletable){
        msg = "ATTENTION, en cliquant sur OK,\n"
                + "l'acteur \"" + nomActeur + "\" sera définitivement supprimé.\n";
    }
    else{
        msg = "ATTENTION, en cliquant sur OK,\n"
                + "l'acteur \"" + nomActeur + "\" sera marqué \"inactif\".\n"
                + "(Il ne peut pas être supprimé car il a participé à des activités)";
    }
    if(confirm(msg)){
        window.location = "/acteur/delete/" + idActeur;
    }
}
</script>
