{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<h1>{{.Header.Title}}</h1>

{{with .Details.Acteur}}
<form class="form" action="{{$.Details.UrlAction}}" onsubmit="return validateForm();" method="post" novalidate>

    <div class="grid2-form">
        
        <label for="nom">Nom / Dénomination</label>
        <input type="text" name="nom" id="nom" value="{{.Nom}}">
        
        <label class="optional" for="prenom">Prénom / Statut juridique</label>
        <input type="text" name="prenom" id="prenom" value="{{.Prenom}}">
        
        <label class="optional" for="adresse1">Adresse 1 / Siège social</label>
        <input type="text" name="adresse1" id="adresse1" value="{{.Adresse1}}">
        
        <label class="optional" for="adresse2">Adresse 2</label>
        <input type="text" name="adresse2" id="adresse2" value="{{.Adresse2}}">
        
        <label class="optional" for="cp">Code postal</label>
        <div><input type="text" name="cp" id="cp" size="5" value="{{.Cp}}"></div>
        
        <label class="optional" for="ville">Ville</label>
        <input type="text" name="ville" id="ville" value="{{.Ville}}">
        
        <label class="optional" for="tel">Téléphone</label>
        <div><input type="text" name="tel" id="tel" size="14" value="{{.Tel}}"></div>
        
        <label class="optional" for="mobile">Téléphone portable</label>
        <div><input type="text" name="mobile" id="mobile" size="14" value="{{.Mobile}}"></div>
        
        <label class="optional" for="email">Email</label>
        <input type="text" name="email" id="email" value="{{.Email}}">
        
        <label class="optional" for="bic">BIC</label>
        <input type="text" name="bic" id="bic" value="{{.Bic}}">
        
        <label class="optional" for="iban">IBAN</label>
        <input type="text" name="iban" id="iban" value="{{.Iban}}">
        
        <label class="optional" for="siret">Siret</label>
        <input type="text" name="siret" id="siret" value="{{.Siret}}">
        
        <label class="optional" for="fournisseur">Fournisseur plaquettes</label>
        <div>
            <input type="checkbox" name="fournisseur" id="fournisseur" {{if .Fournisseur}} checked{{end}}>
        </div>
        
        <label class="optional" for="proprietaire">Propriétaire</label>
        <div>
            <input type="checkbox" name="proprietaire" id="proprietaire" {{if .Proprietaire}} checked{{end}}>
        </div>
        
        <label class="optional" for="actif">Actif</label>
        <div>
            <input type="checkbox" name="actif" id="actif" {{if .Actif}} checked{{end}}>
        </div>
        
        <label class="optional" for="notes">Notes</label>
        <textarea rows="6" cols="50" name="notes" id="notes">{{.Notes}}</textarea>

    </div>
    
    <div class="margin-top">
        <div class="float-left">
            <a href="#help" id="toogle-help" class="help-button" title="Afficher l'aide de ce formulaire" onClick="toogle('help');">?</a>
        </div>
        <div class="float-right">
            <input type="button" name="cancel" value="Annuler" onClick="window.history.back();">
            <input type="submit" class="margin-left" value="Valider">
        </div>
    </div>
    
    <input type="hidden" name="id" id="id" value="{{.Id}}">
    
</form>

<a name="help"></a>
<div id="help" class="margin display-none">
    <div class="help-content">
        <div class="help-title">Aide</div>
        <div class="section">
            <b>Fournisseur plaquettes</b> : cocher cette case si l'acteur peut être considéré comme un fournisseur lors d'une vente de plaquettes, comme l'est BDL.
        </div>
        <div class="section">
            <b>Propriétaire</b> : cocher cette case si l'acteur peut être considéré comme un propriétaire, comme le sont la SCTL ou le GFA.
        </div>
        <div class="section">
            <b>Actif</b> : un acteur actif est un acteur qui participe aux activités de BDL.
            <br>Le champ <code>actif</code> sert à supprimer un acteur sans le supprimer vraiment :)
            <br>Si on veut supprimer un acteur parce qu'il arrête de participer à l'activité de BDL,
            <ul class="margin-top0">
                <li>Soit il n'a jamais participé à une activité (chantier, vente, transport etc.) et on peut le supprimer de la base.</li>
                <li>Soit il a déjà participé à des activités, et dans ce cas, on ne peut pas le supprimer (sinon, ça laisserait les activités incohérentes). On le marque donc comme inactif, et il n'apparaît plus dans la liste des acteurs possibles pour les différentes activités.</li>
            </ul>
        </div>
    </div>
</div>


<script>

function validateForm(){
    let msg = "";
    if(document.getElementById("nom").value.trim() == ""){
        msg += "- Vous devez renseigner le nom.\n";
    }
    if(msg != ""){
        alert("Impossible de valider ce formulaire : \n" + msg);
        return false;
    }
    return true;
}
</script>

{{end}}
