{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}
<div style="padding:.5rem 0 0 5rem;">
    <h1>Recherche d'activités</h1>
</div>

<div class="no-print bold padding-left padding-bottom">
    <span class="link padding-right2" onclick="toutDeplier();">Tout déplier</span>
    <span class="link" onclick="toutReplier();">Tout replier</span>
</div>

<form class="form" action="{{$.Details.UrlAction}}" onsubmit="return validateForm();" method="post" novalidate>

    <div class="flex-wrap">
    
        <div class="inline-block">
            <div>
                {{template "choix-periode.html" $.Details}}
                <script>const choixPeriode = new ChoixPeriode();</script>
            </div>
            <div class="margin-top">
                {{template "choix-proprio.html" $.Details}}
                <script>const choixProprio = new ChoixProprio();</script>
            </div>
            <div class="margin-top">
                {{template "choix-fermier.html" $.Details}}
                <script>const choixFermier = new ChoixFermier();</script>
            </div>
        </div>
        
        <div class="inline-block margin-left05">
            <div>
                {{template "choix-essence.html" $.Details}}
                <script>const choixEssence = new ChoixEssence();</script>
            </div>
            <div class="margin-top05">
                {{template "choix-valo.html" $.Details}}
                <script>const choixValo = new ChoixValo();</script>
            </div>
        </div>
        
        <div class="inline-block margin-left05">
            <div>
                {{template "choix-ug.html" $.Details}}
                <script>const choixUG = new ChoixUG();</script>
            </div>
            <div class="margin-top05">
                {{template "choix-parcelle.html" $.Details}}
                <script>const choixParcelle = new ChoixParcelle();</script>
            </div>
        </div>
        
        
    </div>
    
    <div class="float-right">
        <input class="big-button" type="submit" value="Valider">
        <input type="hidden" name="choix-ALL-essence" id="choix-ALL-essence" value="">
        <input type="hidden" name="choix-ALL-proprio" id="choix-ALL-proprio" value="">
        <input type="hidden" name="choix-ALL-valo" id="choix-ALL-valo" value="">
        <input type="hidden" name="ids-ugs" id="ids-ugs" value="">
        <input type="hidden" name="ids-parcelles" id="ids-parcelles" value="">
    </div>
                                                                                                                                      
</form>

<script>

function toutDeplier(){
    document.querySelector('.choix-periode > details').open = true;
    document.querySelector('.choix-proprio > details').open = true;
    document.querySelector('.choix-fermier > details').open = true;
    document.querySelector('.choix-essence > details').open = true;
    document.querySelector('.choix-valo > details').open = true;
    document.querySelector('.choix-ug > details').open = true;
    document.querySelector('.choix-parcelle > details').open = true;
}

function toutReplier(){
    document.querySelector('.choix-periode > details').open = false;
    document.querySelector('.choix-proprio > details').open = false;
    document.querySelector('.choix-fermier > details').open = false;
    document.querySelector('.choix-essence > details').open = false;
    document.querySelector('.choix-valo > details').open = false;
    document.querySelector('.choix-ug > details').open = false;
    document.querySelector('.choix-parcelle > details').open = false;
}

function validateForm(){
console.log('validateForm');
    let msg = '';
    document.getElementById('choix-ALL-essence').value = choixEssence_isAllSelected();
    document.getElementById('choix-ALL-proprio').value = choixProprio_isAllSelected();
    document.getElementById('choix-ALL-valo').value = choixValo_isAllSelected();
    msg += choixPeriode_validateForm();
    msg += choixProprio_validateForm();
    msg += choixValo_validateForm();
    //
    idsUGs = computeIdsUGsFromForm()
    document.getElementById('ids-ugs').value = idsUGs.join(';');
    //
    idsParcelles = choixParcelle_getIdsParcelles();
    document.getElementById('ids-parcelles').value = idsParcelles.join(';');
    //
    if(msg != ''){
        alert("Impossible de valider ce formulaire : \n" + msg);
        return false;
    }
    return true;
}

</script>

