<h1>{{.Header.Title}}</h1>

<form class="form" action="{{$.Details.UrlAction}}" onsubmit="return validateForm();" method="post">

    <div class="grid2-form">
        <label>Personne</label>
        <div><a href="/acteur/{{.Details.Acteur.Id}}">{{.Details.Acteur.String}}</a></div>

        <label for="date-debut">Date début : </label>
        <input type="date" id="date-debut" name="date-debut" value="">
        
        <label for="date-fin">Date fin : </label>
        <input type="date" id="date-fin" name="date-fin" value="">
        
        <div>
            <div class="bold">Activités à affacturer :</div>
            <div class="padding-top right"><a id="op-tout-rien" href="#" onclick="changeOpToutRien();">Tout sélectionner</a></div>
        </div>
        <div>
            <div><input class="chk-op" type="checkbox" id="AB" name="AB"><label for="AB">Abattage</label></div>
            <div><input class="chk-op" type="checkbox" id="DB" name="DB"><label for="DB">Débardage</label></div>
            <div><input class="chk-op" type="checkbox" id="BR" name="BR"><label for="BR">Broyage</label></div>
            <div><input class="chk-op" type="checkbox" id="DC" name="DC"><label for="DC">Déchiquetage</label></div>
            <div>
                <b>Transport plateforme</b>
                <div class="padding-left2">
                    <div><input class="chk-op" type="checkbox" id="TR" name="TR"><label for="TR">Transporteur (coût global)</label></div>
                    <div><input class="chk-op" type="checkbox" id="TR-CO" name="TR-CO"><label for="TR-CO">Conducteur</label></div>
                    <div><input class="chk-op" type="checkbox" id="TR-OU" name="TR-OU"><label for="TR-OU">Propriétaire outil</label></div>
                </div>
            </div>
            <div>
                <b>Rangement</b>
                <div class="padding-left2">
                    <div><input class="chk-op" type="checkbox" id="RG" name="RG"><label for="RG">Rangeur (coût global)</label></div>
                    <div><input class="chk-op" type="checkbox" id="RG-CO" name="RG-CO"><label for="RG-CO">Conducteur</label></div>
                    <div><input class="chk-op" type="checkbox" id="RG-OU" name="RG-OU"><label for="RG-OU">Propriétaire outil</label></div>
                </div>
            </div>
            <div>
                <b>Chargement</b>
                <div class="padding-left2">
                    <div><input class="chk-op" type="checkbox" id="CG" name="CG"><label for="CG">Chargeur (coût global)</label></div>
                    <div><input class="chk-op" type="checkbox" id="CG-CO" name="CG-CO"><label for="CG-CO">Conducteur</label></div>
                    <div><input class="chk-op" type="checkbox" id="CG-OU" name="CG-OU"><label for="CG-OU">Propriétaire outil</label></div>
                </div>
            </div>
            <div>
                <b>Livraison</b>
                <div class="padding-left2">
                    <div><input class="chk-op" type="checkbox" id="LV" name="LV"><label for="LV">Livreur (coût global)</label></div>
                    <div><input class="chk-op" type="checkbox" id="LV-CO" name="LV-CO"><label for="LV-CO">Conducteur</label></div>
                    <div><input class="chk-op" type="checkbox" id="LV-OU" name="LV-OU"><label for="LV-OU">Propriétaire outil</label></div>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="margin-top">
        <div class="float-left">
            <a href="#help" id="toogle-help" class="help-button" title="Afficher l'aide de ce formulaire" onClick="toogle('help');">?</a>
        </div>
        <div class="float-right">
            <input type="button" name="cancel" value="Annuler" onClick="window.history.back();">
            <input type="submit" class="margin-left" value="Valider">
        </div>
    </div>
    
    <input type="hidden" name="id-acteur" id="id-acteur" value="{{.Details.Acteur.Id}}">
                                                                      
</form>

<a name="help"></a>
<div id="help" class="margin display-none">
    <div class="help-content">
        <div class="help-title">Aide</div>
        Une affacture est une "facture à l'envers" : facture devant être payée par BDL à des intervenants extérieurs.
        
        <br><br>L'affacture va contenir toutes les activités sélectionnées, ayant eu lieu entre date début de date fin. 
    </div>
</div>

<script>                                                                                                         

window.addEventListener("load", function(){
    window.opToutRien = "tout";
});

function changeOpToutRien(){
    if(window.opToutRien == "tout"){
        document.getElementById("AB").checked = true;
        document.getElementById("DB").checked = true;
        document.getElementById("BR").checked = true;
        document.getElementById("DC").checked = true;
        document.getElementById("TR").checked = true;
        document.getElementById("TR-CO").checked = true;
        document.getElementById("TR-OU").checked = true;
        document.getElementById("RG").checked = true;
        document.getElementById("RG-CO").checked = true;
        document.getElementById("RG-OU").checked = true;
        document.getElementById("CG").checked = true;
        document.getElementById("CG-CO").checked = true;
        document.getElementById("CG-OU").checked = true;
        document.getElementById("LV").checked = true;
        document.getElementById("LV-CO").checked = true;
        document.getElementById("LV-OU").checked = true;
        document.getElementById("op-tout-rien").innerHTML = "Tout déselectionner";
        window.opToutRien = "rien";
    }
    else{
        document.getElementById("AB").checked = false;
        document.getElementById("DB").checked = false;
        document.getElementById("BR").checked = false;
        document.getElementById("DC").checked = false;
        document.getElementById("TR").checked = false;
        document.getElementById("TR-CO").checked = false;
        document.getElementById("TR-OU").checked = false;
        document.getElementById("RG").checked = false;
        document.getElementById("RG-CO").checked = false;
        document.getElementById("RG-OU").checked = false;
        document.getElementById("CG").checked = false;
        document.getElementById("CG-CO").checked = false;
        document.getElementById("CG-OU").checked = false;
        document.getElementById("LV").checked = false;
        document.getElementById("LV-CO").checked = false;
        document.getElementById("LV-OU").checked = false;
        document.getElementById("op-tout-rien").innerHTML = "Tout selectionner";
        window.opToutRien = "tout";
    }
}


// ***************************************
function validateForm(){
    let msg = "";
    //
    const deb = document.getElementsByName("date-debut")[0].value;
    const fin = document.getElementsByName("date-fin")[0].value;
    if(deb == ""){
        msg += "- Vous devez renseigner la date de début.\n";
    }
    if(fin == ""){
        msg += "- Vous devez renseigner la date de fin.\n";
    }
    if(deb != "" && fin != "" && fin < deb){
        msg += "- La date de fin doit se situer après la date de début.\n";
    }
    //
    let n = 0;
    const elts = document.getElementsByClassName("chk-op");
    for(i = 0; i < elts.length; i++) {
        if(elts[i].checked){
            n++;
        }
    }
    if(n == 0){
        msg += "- Vous devez au moins sélectionner un type d'activité.\n";
    }
    
    if(msg != ""){
        alert("Impossible de valider ce formulaire : \n" + msg);
        return false;
    }
    return true;
}
</script>
