{{with .Details}}

<h1><a href="/acteur/{{.Client.Id}}">{{.Client.String}}</a></h1>


<div class="page-content">

<div class="padding-left big3 bold">
    
    Ventes plaquettes du {{.DateDebut | dateFr}} au {{.DateFin | dateFr}}
</div>

<script>
    let totalPrix = totalQte = 0;
</script>

<table class="entities">
    <tr>
        <th>Vente</th>         
        <th>Quantité livrée</th>    
        <th>Prix / map</th>
        <th>Prix total</th>
    </tr>
    
    {{range .Ventes}}
        <tr>
            <td><a href="/vente/{{.Id}}">{{.DateVente | dateFr}}</a></td>
            <td>{{.Qte}} maps</td>
            <td>{{.PUHT}} &euro;</td>
            <td><script>document.write(round({{.Qte}}*{{.PUHT}}, 2));</script> &euro;</td>
        </tr>
        <script>
            totalPrix += {{.Qte}}*{{.PUHT}};
            totalQte += {{.Qte}};
        </script>
    {{end}}
    
    <tr class="total">
        <td>TOTAL</td>
        <td><script>document.write(totalQte);</script> maps</td>
        <td></td>
        <td><script>document.write(round(totalPrix, 2));</script> &euro;</td>
    </tr>
    
</table>


</div>



{{end}}