<h1>{{.Header.Title}} du {{.Details.DateDebut | dateFr}} au {{.Details.DateFin | dateFr}}</h1>

{{with .Details}}

<div class="page-content">

<script>
    let totalPrix = totalQte = 0;
</script>

<table class="entities">
    <tr>
        <th>Date</th>
        <th>Client</th>
        <th>Quantité livrée</th>    
        <th>Prix / map</th>
        <th>Prix total</th>
    </tr>
    
    {{range .Ventes}}
        <tr>
            <td><a href="/vente/{{.Id}}">{{.DateVente | dateFr}}</a></td>
            <td><a href="/acteur/{{.Client.Id}}">{{.Client.String}}</a></td>
            <td>{{.Qte}} maps</td>
            <td>{{.PUHT}} &euro;</td>
            <td><script>document.write(round({{.Qte}}*{{.PUHT}}, 2));</script> &euro;</td>
            <script>
                totalPrix += {{.Qte}}*{{.PUHT}};
                totalQte += {{.Qte}};
            </script>
        </tr>
    {{end}}
    
    <tr class="total">
        <td>TOTAL</td>
        <td></td>
        <td><script>document.write(totalQte);</script> maps</td>
        <td></td>
        <td><script>document.write(round(totalPrix, 2));</script> &euro;</td>
    </tr>
    
</table>


</div>



{{end}}