<h1>{{.Header.Title}}</h1>

{{with .Details.Chantier}}

<form class="form" action="{{$.Details.UrlAction}}" onsubmit="return validateForm();" method="post">

    <div class="grid2-form">

        {{template "chantier-lien.html" $.Details}}
        
        {{/* divs pour contenir lieux-dits et fermiers */}}
        <div id="empty-lieudit1"></div><div id="empty-lieudit2"></div>
        <div id="empty-fermier1"></div><div id="empty-fermier2"></div>
        
        <label for="acheteur">Acheteur</label>
        <div class="autocomplete">
            <input type="text" name="acheteur" id="acheteur" value="" autocomplete="off" class="width20">
        </div>
        
        <label for="datecontrat">Date contrat</label>
        <div><input type="date" name="datecontrat" id="datecontrat" value="{{.DateContrat | dateIso}}"></div>
        
        <label for="exploitation">Exploitation</label>
        <select name="exploitation" id="exploitation" class="width8">
            {{$.Details.ExploitationOptions}}
        </select>

        <label for="essence">Essence</label>
        <select name="essence" id="essence" class="width10">
            {{$.Details.EssenceOptions}}
        </select>
        
        <label for="nsterecontrat">Nb stères (contrat)</label>
        <div>
            <input type="number" name="nsterecontrat" id="nsterecontrat" step="0.01" min="0" value="{{.NStereContrat | zero2empty}}" class="width5">
        </div>
        
        <label for="nsterecoupees">Nb stères (coupées)</label>
        <div>
            <input type="number" name="nsterecoupees" id="nsterecoupees" step="0.01" min="0" value="{{.NStereCoupees | zero2empty}}" class="width5">
        </div>
        
        <label for="prixstere">Prix / stère HT</label>
        <div>
            <input type="number" name="prixstere" id="prixstere" step="0.01" min="0" value="{{.PrixStere | zero2empty}}" class="width5">
        </div>
        
        <label for="tva">Taux TVA</label>
        <div>{{.TVA}} %</div>
        
        <label for="datefacture">Date facturation</label>
        <div>
            <input type="date" name="datefacture" id="datefacture" value="{{.DateFacture | dateIso}}">
        </div>
        
        <label for="numfacture">Numéro facture</label>
        <div>
            <input type="text" name="numfacture" id="numfacture" value="{{.NumFacture}}">
        </div>
        
        <label for="notes">Notes</label>
        <textarea rows="6" cols="50" name="notes" id="notes">{{.Notes}}</textarea>
        
    </div>
    
    <div class="margin-top">
        <div class="float-left">
            <a href="#help" id="toogle-help" class="help-button" title="Afficher l'aide de ce formulaire" onClick="toogle('help');">?</a>
        </div>
        <div class="float-right">
            <input type="button" name="cancel" value="Annuler" onClick="window.history.back();">
            <input type="submit" class="margin-left" value="Valider">
        </div>
    </div>
    
    <input type="hidden" name="id-chantier" id="id-chantier" value="{{.Id}}">
    <input type="hidden" name="id-acheteur" id="id-acheteur" value="{{.IdAcheteur}}">
    
</form>

<a name="help"></a>
<div id="help" class="margin display-none">
    <div class="help-content">
        <div class="help-title">Aide</div>
        
        {{template "chantier-lien-help.html"}}
        
        <div class="section">
            <b>Taux TVA</b> : le taux de TVA est le même pour tous les chantiers bois sur pied. Il peut être modifié dans le fichier <code>config.yml</code>, section <code>tva-bdl</code>, valeur <code>bois-sur-pied</code>.
        </div>
    </div>
</div>


<script>
window.addEventListener("load", function(){
    autocomplete(document.getElementById("acheteur"), getActeursPossibles);
    // Pour vérifier que l'acheteur affiché correspond à une personne existant en base.
    // on ne peut pas se fier uniquement à getElementById("acheteur")
    // car l'utilisateur peut modifier le nom
    window.globalPersons = [];
    initialize();
});

// ***************************************
function initialize(){
    initializeLiensChantier(); // dans view/common/chantier-lien.html    
    // form new
    if({{.Id}} == 0){
    }
    // form update
    else{
        document.getElementById("acheteur").value = "{{.Acheteur.NomAutocomplete}}";
        window.globalPersons[{{.IdAcheteur}}] = "{{.Acheteur.NomAutocomplete}}";
    }
}

// ***************************************
function validateForm(){
    let msg = "";
    //
    msg += validateFormChantierLien(); // dans view/common/chantier-lien.html
    //
    const check = checkActeur("acheteur", "- Vous devez renseigner l'acheteur.\n");
    document.getElementById("id-acheteur").value = check[0];
    msg += check[1];
    //
    if(document.getElementById("datecontrat").value == ""){
        msg += "- Vous devez renseigner la date du contrat.\n";
    }
    //
    if(document.getElementById("exploitation").value == "CHOOSE_EXPLOITATION"){
        msg += "- Vous devez choisir un type d'exploitation.\n";
    }
    //
    if(document.getElementById("CHOOSE_ESSENCE").selected == true){
        msg += "- Vous devez choisir une essence.\n";
    }
    //
    if(document.getElementById("nsterecontrat").value == ""){
        msg += "- Vous devez renseigner le nombre de stères (contrat).\n";
    }
    //
    if(document.getElementById("nsterecoupees").value == ""){
        msg += "- Vous devez renseigner le nombre de stères (coupées).\n";
    }
    //
    if(document.getElementById("prixstere").value == ""){
        msg += "- Vous devez renseigner le prix / stère HT.\n";
    }
    //
    if(msg != ""){
        msg = "Impossible de valider ce formulaire :\n" + msg;
        alert(msg);
        return false;
    }
    //
    chantierLienUGCode2id();
    //
    return true;
}
</script>

{{end}}
