{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

{{template "listeActeurs.html" .Details}}
<script>{{template "checkActeur.js.html" .Details}}</script>

{{template "liens-ugs.html" $.Details.Chantier}}
{{template "liens-parcelles.html" $.Details.Chantier}}
{{template "liens-lieudits.html" $.Details.Chantier}}
{{template "liens-fermiers.html" $.Details.Chantier}}


<h1>{{.Header.Title}}</h1>

{{with .Details.Chantier}}
<form class="form" action="{{$.Details.UrlAction}}" onsubmit="return validateForm();" method="post" novalidate>

    <div class="grid2-form">

        <label for="titre">Titre</span></label>
        <input type="text" name="titre" id="titre" value="{{.Titre}}">
        
        <div>
            <label class="block margin-bottom">Unités de gestion</label>
            <img 
                class="float-right vertical-align-middle bigicon margin-right"
                src="/static/img/new.png"
                title="Associer ce chantier avec une UG"
                onclick="showModalUG();"
            />
        </div>
        <div>
            <div id="zone-ugs"></div>
        </div>
        {{template "liens-ugs-modal.html" $.Details}}

        <label>Parcelles</label>
        <div id="zone-parcelles"></div>
        
        <label>Lieux-dits</label>
        <div id="zone-lieudits"></div>
        
        <label>Fermiers</label>
        <div id="zone-fermiers"></div>
        
        <label for="acheteur">Acheteur</label>
        <input list="liste-acteurs" name="acheteur" id="acheteur" class="width25">
        
        <label>Type de vente</label>
        <div>
            <div>
                <input type="radio" name="typevente" id="typevente-NON" value="typevente-NON">
                <label class="normal" for="typevente-NON">Non spécifié</label>
            </div>
            <div>
                <input type="radio" name="typevente" id="typevente-BSP" value="typevente-BSP">
                <label class="normal" for="typevente-BSP">Bois-sur-pied</label>
            </div>
            <div>
                <input type="radio" name="typevente" id="typevente-BDR" value="typevente-BDR">
                <label class="normal" for="typevente-BDR">Bord-de-route</label>
            </div>
            <div>
                <input type="radio" name="typevente" id="typevente-LIV" value="typevente-LIV">
                <label class="normal" for="typevente-LIV">Livré</label>
            </div>
        </div>
        
        <label for="datecontrat">Date contrat</label>
        <div><input type="date" name="datecontrat" id="datecontrat" value="{{.DateContrat | dateIso}}"></div>
        
        <label for="typevalo">Valorisation</label>
        <select name="typevalo" id="typevalo" class="width10" onchange="actionAfterChangeValorisation();">
            {{$.Details.ValorisationOptions}}
        </select>

        <label for="">Volume</label>
        <div>
            <label for="volume-realise">Realisé</label> :
            <input type="number" name="volume-realise" id="volume-realise" step="0.01" min="0" value="{{.VolumeRealise | zero2empty}}" class="width5">
            
            <label class="optional padding-left" for="volume">Contrat</label> :
            <input type="number" name="volume-contrat" id="volume-contrat" step="0.01" min="0" value="{{.VolumeContrat | zero2empty}}" class="width5">
            <div class="margin-top05">
                <label for="unite-volume">Unité</label> : <span id="unite-volume" class="padding-left05"></span>
            </div>
        </div>
        
        <label for="exploitation">Exploitation</label>
        <select name="exploitation" id="exploitation" class="width8">
            {{$.Details.ExploitationOptions}}
        </select>

        <label for="essence">Essence</label>
        <select name="essence" id="essence" class="width10">
            {{$.Details.EssenceOptions}}
        </select>
        
        <label for="puht">PU HT</label>
        <div>
            <input type="number" name="puht" id="puht" step="0.01" min="0" value="{{.PUHT | zero2empty}}" class="width5">
        </div>
        
        <label>Taux TVA</label>
        <select name="tva" id="tva" class="width8">
            {{$.Details.TVAOptions}}
        </select>
        
        <label class="optional" for="datefacture">Date facturation</label>
        <div>
            <input type="date" name="datefacture" id="datefacture" value="{{.DateFacture | dateIso}}">
        </div>
        
        <label class="optional" for="numfacture">Numéro facture</label>
        <div>
            <input type="text" size="11" name="numfacture" id="numfacture" value="{{.NumFacture}}" readonly>
        </div>
        
        <label class="optional" for="notes">Notes</label>
        <textarea rows="6" cols="50" name="notes" id="notes">{{.Notes}}</textarea>
        
    </div>
    
    <div class="margin-top">
        <div class="float-left">
            <a href="#help" id="toogle-help" class="help-button" title="Afficher l'aide de ce formulaire" onClick="toogle('help');">?</a>
        </div>
        <div class="float-right">
            <input type="button" name="cancel" value="Annuler" onClick="window.history.back();">
            <input type="submit" class="margin-left" value="Valider">
        </div>
    </div>
    
    <input type="hidden" name="id-chantier" id="id-chantier" value="{{.Id}}">
    <input type="hidden" name="id-acheteur" id="id-acheteur" value="{{.IdAcheteur}}">
    <input type="hidden" name="ids-ugs" id="ids-ugs" value="">
    <input type="hidden" name="liens-parcelles" id="liens-parcelles" value="">
    <input type="hidden" name="ids-lieudits" id="ids-lieudits" value="">
    <input type="hidden" name="ids-fermiers" id="ids-fermiers" value="">
    
</form>

<a name="help"></a>
<div id="help" class="margin display-none">
    <div class="help-content">
        <div class="help-title">Aide</div>
        {{/* {{template "chantier-lien-help.html"}} */}}
        <div class="section">
            <b>Taux TVA</b> : Il s'agit du taux apparaissant sur la facture. La liste des valeurs possibles peut être modifiée dans le fichier <code>config.yml</code>, section <code>tva-bdl</code>, valeur <code>autres-valorisations</code>.
        </div>
        
        <div class="section">
            <b>Volume contrat</b> : Volume décidé avec l'acheteur en faisant le contrat de vente.
            <br><b>Volume réalisé</b> : Volume effectivement vendu à l'acheteur.
        </div>
    </div>
</div>


<script>
window.addEventListener("load", function(){
    initialize();
});

// ***************************************
async function initialize(){
    // form new
    if({{.Id}} == 0){
        await afficheParcelles([], []); // dans view/common/liens-parcelles.html
        await afficheLieudits([], []);  // dans view/common/liens-lieudits.html
        await afficheFermiers([], []);  // dans view/common/liens-fermiers.html
        document.getElementById("typevente-NON").checked = true;
        actionAfterChangeValorisation();
    }
    // form update
    else{
        const idsUGs = computeIdsUGsFromChantier();
         // checkboxes dans la modale (invisible)
        for(const idUG of idsUGs){
            document.getElementById("chk-ug-" + idUG).checked = true;
        }
        afficheUGs(idsUGs);
        await afficheParcelles(idsUGs, computeLiensParcellesFromChantier());    // dans view/common/liens-parcelles.html
        await afficheLieudits(idsUGs, computeIdsLieuditsFromChantier());        // dans view/common/liens-lieudits.html
        await afficheFermiers(idsUGs, computeIdsFermiersFromChantier());        // dans view/common/liens-fermiers.html
        document.getElementById("acheteur").value = "{{.Acheteur.String}}";
        document.getElementById("tva-{{.TVA}}").selected = true;
        actionAfterChangeValorisation();
        document.getElementById("typevente-{{.TypeVente}}").checked = true;
        if(document.getElementById("valorisation-PI").selected){
            if('{{.Unite}}' == 'NP'){
                document.getElementById("unite-pi-np").checked = true;
            }
            else{
                document.getElementById("unite-pi-st").checked = true;
            }
        }
    }
}

// ***************************************
/**
    Déclenché lorsqu'on change le choix de la valorisation
    => le champ unite change
**/
function actionAfterChangeValorisation(){
    if(document.getElementById("CHOOSE_VALORISATION").selected){
        document.getElementById("unite-volume").innerHTML = "Non spécifiée (dépend de la valorisation)";
    }
    else if(document.getElementById("valorisation-BO").selected){
        document.getElementById("unite-volume").innerHTML = "{{"BO" | valorisation2uniteLabel}}";
    }
    else if(document.getElementById("valorisation-CH").selected){
        document.getElementById("unite-volume").innerHTML = "{{"CH" | valorisation2uniteLabel}}";
    }
    else if(document.getElementById("valorisation-PL").selected){
        document.getElementById("unite-volume").innerHTML = "{{"PL" | valorisation2uniteLabel}}";
    }
    else if(document.getElementById("valorisation-PP").selected){
        document.getElementById("unite-volume").innerHTML = "{{"PP" | valorisation2uniteLabel}}";
    }
    else if(document.getElementById("valorisation-PI").selected){
        document.getElementById("unite-volume").innerHTML = `
        <input type="radio" name="unite-pi" id="unite-pi-np" value="NP" checked>
        <label class="normal" for="unite-pi-np">Nb de piquets</label>
        <span class="padding-left">
            <input type="radio" name="unite-pi" id="unite-pi-st" value="ST">
            <label class="normal" for="unite-pi-st">stères</label>
        </span>
        `;
    }
}


// ***************************************
function validateForm(){
    let msg = "";
    //
    if(document.getElementById("titre").value.trim() == ''){
        msg += "- Vous devez renseigner le titre du chantier.\n";
    }
    //
    msg += checkUGsAndFillHiddenField();        // dans view/common/liens-ugs.html
    msg += checkParcellesAndFillHiddenField();  // dans view/common/liens-parcelles.html
    msg += checkLieuditsAndFillHiddenField();   // dans view/common/liens-lieudits.html
    msg += checkFermiersAndFillHiddenField();   // dans view/common/liens-fermiers.html
    //
    const check = checkActeur("acheteur", "- Vous devez renseigner l'acheteur.\n");
    document.getElementById("id-acheteur").value = check[0];
    msg += check[1];
    //
    if(document.getElementById("datecontrat").value == ""){
        msg += "- Vous devez renseigner la date du contrat.\n";
    }
    //
    if(document.getElementById("typevalo").value == "CHOOSE_VALORISATION"){
        msg += "- Vous devez choisir une valorisation.\n";
    }
    //
    if(document.getElementById("tva").value == "CHOOSE_TVA"){
        msg += "- Vous devez choisir un taux de TVA.\n";
    }
    //
    if(document.getElementById("exploitation").value == "CHOOSE_EXPLOITATION"){
        msg += "- Vous devez choisir un type d'exploitation.\n";
    }
    //
    if(document.getElementById("CHOOSE_ESSENCE").selected == true){
        msg += "- Vous devez choisir une essence.\n";                                           
    }
    //
    if(document.getElementById("volume-realise").value == ""){
        msg += "- Vous devez renseigner le volume réalisé.\n";
    }
    //
    if(document.getElementById("puht").value == ""){
        msg += "- Vous devez renseigner le PU HT.\n";
    }
    //
    if(msg != ""){
        msg = "Impossible de valider ce formulaire :\n" + msg;
        alert(msg);
        return false;
    }
    //
    return true;
}
</script>

{{end}}
