{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<h1>
    {{.Header.Title}}
    <a class="no-print padding-left" href="/chantier/autre/new">
        <img class="bigicon inline" src="/static/img/new.png" title="Créer un nouveau chantier autres valorisations" />
    </a>
</h1>

{{if .Details.Annees}}
<div class="no-print">
    Autres années :
    {{range .Details.Annees}}
    <a class="padding-left" href="/chantier/autre/liste/{{.}}">{{.}}</a>
    {{end}}
</div>
{{end}}

{{if .Details.Chantiers}}

<div class="no-print bold padding-left padding-top">
    <span class="link padding-right2" onclick="toutVoir();">Tout voir</span>
    <span class="link" onclick="toutCacher();">Tout cacher</span>
</div>

<table class="entities">
    <thead>
        <tr>
            <th class="no-print"></th>
            <th class="order">Date</th>
            <th>Titre</th>
            <th class="order">Acheteur</th>
            <th class="order">Valorisation</th>
            <th class="order">Essence</th>
            <th class="order">Volume</th>
            <th class="order">Paiement</th>
            <th class="no-print">Details</th>
        </tr>
    </thead>
    <tbody>
        {{range .Details.Chantiers}}
        <tr>
            <td class="no-print whitespace-nowrap">
                <a href="#" onclick='ShowFactureChautre({{.Id}}, "{{.NumFacture}}", "{{.DateFacture | dateFr}}");'>
                    <img src="/static/img/facture.png" title="Voir la facture" />
                </a>
                <a href="/chantier/autre/update/{{.Id}}" class="padding-left05">
                    <img src="/static/img/update.png" title="Modifier ce chantier" />
                </a>
                <a href="#" onclick="deleteChantier({{.Id}}, {{.Acheteur.String}}, {{.DateContrat | dateFr}});" class="padding-left05">
                    <img src="/static/img/delete.png" title="Supprimer ce chantier">     
                </a>
            </td>
            <td>
                {{/* data-date : hack pour trier par date fr, cf table-sort.js */}}
                <span data-date="{{.DateContrat}}">{{.DateContrat | dateFr}}</span>
            </td>
            <td>
                <a href="/chantier/autre/{{.Id}}">{{.Titre}}</a>
            </td>
            <td>
                {{/* data-name : hack pour trier par nom (sinon c'est trié par id), cf table-sort.js */}}
                <span data-name="{{.Acheteur.String}}"><a href="/acteur/{{.IdAcheteur}}">{{.Acheteur.String}}</a></span>
            </td>
            <td>
                {{.TypeValo | labelValo}}
            </td>
            <td>
                {{.Essence | labelEssence}}
            </td>
            <td>
                {{.VolumeRealise}} {{.Unite | labelUnite}}
            </td>
            <td>
                {{/* data-date : hack pour trier par date fr, cf table-sort.js */}}
                <span data-date="{{.DatePaiement}}">{{.DatePaiement | dateFr}}</span>
            </td>
            <td class="no-print">
                <details class="details-entite">{{/* class pour tout voir / tout cacher */}}
                    <summary>Voir / cacher</summary>
                    <div class="grid2-pres">
                        
                        <div>UGs</div>
                        <div>{{range .UGs}}<a href="/ug/{{.Id}}">{{.Code}}</a><br>{{end}}</div>
                        
                        <div>Parcelles</div>
                        <div class="grid2-pres">
                        {{range .LiensParcelles}}
                            <div><a href="/parcelle/{{.Parcelle.Id}}">{{.Parcelle.Code}}</a></div>
                            <div>{{if .Entiere}}Entière{{else}}{{round .Surface 2}} ha{{end}}</div>
                        {{end}}
                        </div>
                        
                        <div>Lieux-dits</div>
                        <div>{{range .Lieudits}}<a href="/ug/{{.Id}}">{{.Nom}}</a><br>{{end}}</div>
                        
                        <div>Fermiers</div>
                        <div>{{range .Fermiers}}<a href="/fermier/{{.Id}}">{{.String}}</a><br>{{end}}</div>
                        
                        <div>Propriétaires</div>
                        <div>{{range .Proprietaires}}<a href="/acteur/{{.Id}}">{{.String}}</a><br>{{end}}</div>
                        {{if .VolumeContrat}}
                            <div>Volume contrat</div>
                            <div>{{.VolumeContrat}} {{.Unite | labelUnite}}</div>
                        {{end}}
                        
                        <div>Exploitation</div>
                        <div>{{.Exploitation | labelExploitation}}</div>
                        
                        <div>Volume réalisé</div>
                        <div>{{.VolumeRealise}} {{.Unite | labelUnite}}</div>
                        
                        <div>PU HT</div>
                        <div><script>document.write(round({{.PUHT}}, 2));</script></span> &euro;</div>
                        
                        <div>Total HT</div>
                        <div><script>document.write(round(prixHT({{.PUHT}}, {{.VolumeRealise}}), 2));</script></span> &euro;</div>
                        
                        <div>TVA</div>
                        <div>{{.TVA}}</span> %</div>
                        
                        <div>Total TTC</div>
                        <div><script>document.write(round(prixTTC(prixHT({{.PUHT}}, {{.VolumeRealise}}), {{.TVA}}), 2));</script></span> &euro;</div>
                        
                        <div class="padding-top05"><b>Facture</b></div>
                        <div></div>
                        
                        {{if not .DateFacture.IsZero}}
                            <div>Date</div>
                            <div>{{.DateFacture | dateFr}}</div>
                        {{end}}
                        
                        {{if .NumFacture}}
                            <div>Numéro</div>
                            <div>{{.NumFacture}}</div>
                        {{end}}
                        
                        {{if .Notes}}
                            <div>Notes</div>
                            <div>{{.Notes | nl2br}}</div>
                        {{end}}
                    </div><!-- end class="grid2-pres" -->
                </details>
            </td>
        </tr>
        {{end}}
    <tbody>
</table>

{{end}} {{/* end if .Details.Chantiers */}}

<script>

function deleteChantier(idChantier, acheteur, date){
    const msg = "Attention, en cliquant sur OK,\n"
            + "le chantier " + acheteur + " - "  + date + "\nsera définitivement supprimé";
    let r = confirm(msg);
    if (r == true) {
        window.location = "/chantier/autre/delete/" + idChantier;
    }
}

/** 
    Sert de filtre pour afficher uniquement les factures contenant suffisamment d'information.
**/
function ShowFactureChautre(idChantier, numFacture, dateFacture) {
    if(numFacture == "" || dateFacture == ""){
        alert(
            "Pour voir la facture, il faut d'abord renseigner :"
            + "\n- le numéro de facture"
            + "\n- la date de facture"
            + "\nModifiez le chantier et renseignez ces 2 champs."
        );
        return;
    }
    window.location = "/facture/autre/" + idChantier;
}

// répétition de code avec chaufer-list.html

function toutVoir(){
    const elements = document.getElementsByClassName('details-entite');
    for(const elt of elements){
        elt.open = true;
    }
}
function toutCacher(){
    const elements = document.getElementsByClassName('details-entite');
    for(const elt of elements){
        elt.open = false;
    }
}

</script>
