{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

{{with .Details.Chantier}}

<div class="inline-block padding-right3">
    <h1>{{.FullString}}</h1>
</div>

<div class="inline-block">
    <a href="/chantier/autre/update/{{.Id}}">
        <img class="bigicon inline-block" src="/static/img/update.png" alt="Modifier ce chantier" title="Modifier ce chantier" >
    </a>
    <a href="#" onclick="deleteChantierChautre({{.Id}}, {{.String}})">
        <img class="bigicon inline-block" src="/static/img/delete.png" alt="Supprimer ce chantier" title="Supprimer ce chantier">
    </a>                                                              
    <a class="padding-left2" href="/chantier/autre/new">
        <img class="bigicon inline-block" src="/static/img/new.png" alt="Créer un nouveau chantier autres valorisations" title="Créer un nouveau chantier autres valorisations">
    </a>
</div>

<div class="grid2-pres">
    
    <div>Acheteur</div>
    <div>{{.Acheteur}}</div>
    
    <div class="margin-top05">Date chantier</div>
    <div class="margin-top05">{{.DateContrat | dateFr}}</div>
    
    <div class="margin-top05">Valorisation</div>
    <div class="margin-top05">{{.TypeValo | labelValo}}</div>
    
    <div class="margin-top05">Type de vente</div>
    <div class="margin-top05">{{.TypeVente | labelTypeVente}}</div>
    
    <div class="margin-top05">Volume réalisé</div>
    <div class="margin-top05">{{.VolumeRealise}} {{.Unite | labelUnite}}</div>
    
    {{if .VolumeContrat}}
        <div>Volume contrat</div>
        <div>{{.VolumeContrat}} {{.Unite | labelUnite}}</div>
    {{end}}
    
    <div class="margin-top05">Essence</div>
    <div class="margin-top05">{{.Essence | labelEssence}}</div>
    
    <div class="margin-top05">Exploitation</div>
    <div class="margin-top05">{{.Exploitation | labelExploitation}}</div>
    
    <div class="margin-top05">UGs</div>
    <div class="margin-top05">
        {{range .UGs}}<a href="/ug/{{.Id}}">{{.Code}}</a><br>{{end}}
    </div>
    
    <div class="margin-top05">Parcelles</div>
    <div class="margin-top05 grid2-pres">
        <table>
        {{range .LiensParcelles}}
            <tr>
                <td><a href="/parcelle/{{.Parcelle.Id}}">{{.Parcelle.Code}}</a></td>
                <td class="left padding-left05">{{.Parcelle.Proprietaire.Nom}}</td>
                {{if .Entiere}}
                    <td class="left padding-left05">Entière</td>
                    <td class="left padding-left05">{{round .Parcelle.Surface 2}} ha</td>
                {{else}}
                    <td class="left padding-left05">Partielle</td>
                    <td class="left padding-left05">{{round .Surface 2}} / {{round .Parcelle.Surface 2}} ha</td>
                {{end}}
            </tr>
        {{end}}
        </table>
    </div>
    
    <div class="margin-top05">Lieux-dits</div>
    <div class="margin-top05">{{range .Lieudits}}<a href="/ug/{{.Id}}">{{.Nom}}</a><br>{{end}}</div>
    
    <div>Fermiers</div>
    <div>{{range .Fermiers}}<a href="/fermier/{{.Id}}">{{.String}}</a><br>{{end}}</div>
    
    <div>Propriétaires</div>
    <div>{{range .Proprietaires}}<a href="/acteur/{{.Id}}">{{.String}}</a><br>{{end}}</div>
    
    <div class="margin-top05">PU HT</div>
    <div class="margin-top05"><script>document.write(round({{.PUHT}}, 2));</script></span> &euro;</div>
    
    <div>Total HT</div>
    <div><script>document.write(formatNb(round({{.PrixTotalHT}}, 2)));</script></span> &euro;</div>
    
    <div>TVA</div>
    <div>{{.TVA}}</span> %</div>
    
    <div>Total TTC</div>
    <div><script>document.write(formatNb(round(prixTTC({{.PrixTotalHT}}, {{.TVA}}), 2)));</script></span> &euro;</div>
    
    <div class="padding-top05"><b>Facture</b></div>
    <div></div>
    
    <div>Date</div>
    <div>{{.DateFacture | dateFr}}</div>

    <div>Numéro</div>
    <div>{{.NumFacture}}</div>
    
    <div class="padding-top05"><b>Paiement</b></div>
    <div></div>
    
    <div>Date</div>
    <div>{{.DatePaiement | dateFr}}</div>

    {{if .Notes}}
        <div class="padding-top">Notes</div>
        <div class="padding-top">{{.Notes | nl2br}}</div>
    {{end}}
</div><!-- end class="grid2-pres" -->

{{end}} {{/* end with .Details.Chantier */}}

<script>
function deleteChantierChautre(idChantier, nomChantier){
    const msg = "ATTENTION, en cliquant sur OK, ce chantier\n"
            + "\"" + nomChantier + "\"\n"
            + "sera définitivement supprimé.\n"
            + "\nCette opération est définitive ET NE PEUT PAS ETRE ANNULEE.";
    const r = confirm(msg);
    if (r == true) {
        window.location = "/chantier/autre/delete/" + idChantier;
    }
}

</script>