<h1>{{.Header.Title}}</h1>

{{with .Details.Chantier}}
<form class="form" action="{{$.Details.UrlAction}}" onsubmit="return validateForm();" method="post">

    <div class="grid2-form">

        <label for="fermier">Fermier</label>
        <div>
            <div class="autocomplete">
                <input type="text" name="fermier" id="fermier" value="" autocomplete="off" class="width20" required>
            </div>
            <a id="choisir-fermier" href="#" onclick="checkFermier();">
                <img class="inline bigicon vertical-align-middle" src="/static/img/validate.png" title="Choisir ce fermier" />
            </a>
        </div>
        
        <label for="ugs">UG</label>
        <div id="ugs"></div>
        
        <label for="parcelles">Parcelles</label>
        <div id="parcelles"></div>
        
        <label for="datechantier">Date chantier</label>
        <div><input type="date" name="datechantier" id="datechantier" value="{{.DateChantier | dateIso}}" required></div>
        
        <label for="exploitation">Exploitation</label>
        <select name="exploitation" id="exploitation" class="width8">
            {{$.Details.ExploitationOptions}}
        </select>

        <label for="essence">Essence</label>
        <select name="essence" id="essence" class="width10">
            {{$.Details.EssenceOptions}}
        </select>
        
        <label for="volume">Volume</label>
        <div>
            <input type="number" name="volume" id="volume" step="0.01" min="0" value="{{.Volume | zero2empty}}" class="width5" required>
            <select name="unite" id="unite" class="width8" required>
                {{$.Details.UniteOptions}}
            </select>
        </div>
        
        <label for="notes">Notes</label>
        <textarea rows="6" cols="50" name="notes" id="notes">{{.Notes}}</textarea>
        
    </div>
    
    <div class="margin-top">
        <div class="float-left">
            <a href="#help" id="toogle-help" class="help-button" title="Afficher l'aide de ce formulaire" onClick="toogle('help');">?</a>
        </div>
        <div class="float-right">
            <input type="button" name="cancel" value="Annuler" onClick="window.history.back();">
            <input type="submit" class="margin-left" value="Valider">
        </div>
    </div>
    
    <input type="hidden" name="id-chantier" id="id-chantier" value="{{.Id}}">
    <input type="hidden" name="id-fermier" id="id-fermier" value="{{.IdFermier}}">
    
</form>

<a name="help"></a>
<div id="help" class="margin display-none">
    <div class="help-content">
        <div class="help-title">Aide</div>
        <div class="section"></div>
    </div>
</div>

<script>
window.addEventListener("load", function(){
    autocomplete(document.getElementById("fermier"), getActeursPossibles);
    // Pour vérifier que le fermier affiché correspond à une personne existant en base.
    // on ne peut pas se fier uniquement à getElementById("fermier")
    // car l'utilisateur peut modifier le nom
    window.globalPersons = [];
    initialize();
});

// ***************************************
async function initialize(){
    // form new
    if({{.Fermier.Id}} == 0){
        actionAfterChangeFermier();
    }
    // form update
    else{
        document.getElementById("fermier").value = "{{.Fermier.NomAutocomplete}}";
        window.globalPersons[{{.IdFermier}}] = "{{.Fermier.NomAutocomplete}}";
        await actionAfterChangeFermier();
        document.getElementById("ug-" + "{{.IdUG}}").checked = true;
        await afficheParcelles({{.IdUG}});
        {{range .LiensParcelles}}
            document.getElementById("radio-parcelle-non-selectionne-" + "{{.IdParcelle}}").checked = true;
            {{if .Entiere}}
                document.getElementById("radio-parcelle-entiere-" + "{{.IdParcelle}}").checked = true;
            {{else}}
                document.getElementById("radio-parcelle-surface-" + "{{.IdParcelle}}").checked = true;
                document.getElementById("parcelle-surface-" + "{{.IdParcelle}}").readOnly = false;
                document.getElementById("parcelle-surface-" + "{{.IdParcelle}}").value = "{{.Surface}}";
            {{end}}
        {{end}}
    }
}

// ***************************************
/** 
    Promesse utilisée par autocomplete() pour s'alimenter en données
    @param inputField input type=text utilisé
                      pour récupérer des noms de personnes par ajax
**/
async function getActeursPossibles(inputField){
    const url = "/ajax/autocomplete/acteur/" + inputField.value + "/fermiers";
    let response = await fetch(url);
    response = await response.json();
    let result = [];
    if(response != null){
        response.forEach(function(item) {
            result.push(item.name);
            window.globalPersons[item.id] = item.name;
        });
    }
    return result;                             
}

// ***************************************
/** 
    Vérifie par ajax que le fermier sélectionné correspond à un fermier existant.
    Si non, efface le contenu de id-fermier et fermier
    Si oui, exécute actionAfterChangeFermier()
**/
async function checkFermier(){
    const nomFermier = document.getElementById("fermier").value;
    const url = "/ajax/check/acteur/" + nomFermier;
    const response = await fetch(url);
    const idFermier = await response.json();
    if(idFermier != null && idFermier != 0){
        document.getElementById("id-fermier").value = idFermier;
    }
    else{
        // fermier invalide
        document.getElementById("id-fermier").value = 0;
        document.getElementById("fermier").value = "";
    }
    actionAfterChangeFermier();
}

// ******************************************************
/**
    Lorsqu'un fermier change, met à jour les ugs possibles
    Affiche les UGs sur 2 colonnes
    Aucune UG n'est sélectionnée
**/
async function actionAfterChangeFermier(){
    const idFermier = document.getElementById("id-fermier").value;
    let ugsElt = document.getElementById("ugs");
    let parcellesElt = document.getElementById("parcelles");
    ugsElt.innerHTML = "Choisissez d'abord un fermier";
    parcellesElt.innerHTML = "Choisissez d'abord une UG";
    if(idFermier == 0){
        return;
    }
    // ajax pour récupérer les UGs possibles
    const url = "/ajax/get/ugs-from-fermier/" + idFermier;
    let response = await fetch(url);
    if(response == null){
        alert("ERREUR\nTransmettez ce message l'administrateur du site :\n"
            + "Problème de récupération " + url + " dans chaufer-form.html");
        return;                                                                     
    }
    response = await response.json();
    if(response == null){
        alert("ERREUR\nTransmettez ce message l'administrateur du site :\n"
            + "Mauvais format de retour de " + url + " dans chaufer-form.html");
        return;
    }
    if(response.length == 0){
        ugsElt.innerHTML = "Aucune UG pour ce fermier";
        return;
    }
    let limit = Math.floor(response.length / 2); // nb max par colonne
    if(response.length / 2 != limit){
        limit += 1;
    }
    ugsElt.innerHTML = "";
    //
    const table = document.createElement("table");
    ugsElt.appendChild(table);
    const tr = document.createElement("tr");
    table.appendChild(tr);
    let td = document.createElement("td");
    tr.appendChild(td);                             
    let i = 1;
    let name, radio, label, span;
    response.forEach(function(item) {
        name = "ug-" + item.id;
        radio = document.createElement("input");
        radio.setAttribute("type", "radio");
        radio.setAttribute("name", "ug");
        radio.setAttribute("id", name);
        radio.setAttribute("value", name);
        radio.setAttribute("onclick", "afficheParcelles(" + item.id + ");");
        label = document.createElement("label");
        label.setAttribute("for", name);
        label.innerHTML = item.name;
        label.style["font-weight"] = "normal";
        span = document.createElement("span");
        span.style["padding-right"] = "1em";
        span.appendChild(radio);
        span.appendChild(label);
        //
        td.appendChild(span);
        if(i == limit){
            td = document.createElement("td");
            tr.appendChild(td);
        }
        else{
            td.appendChild(document.createElement("br"));
        }
        i++;
    });
}

// ***************************************
/** 
    Récup en ajax les parcelles correspondant à une UG et les affiche.
    Déclenché qd on sélectionne une UG.
    Aucune parcelle n'est sélectionnée.
**/
async function afficheParcelles(idUG){
    const url = "/ajax/get/parcelles-from-ug/" + idUG;
    // Ajax pour écup parcelles correspondant à l'UG
    let response = await fetch(url);
    if(response == null){
        alert("ERREUR\nTransmettez ce message l'administrateur du site :\n"
            + "Problème de récupération " + url + " dans chaufer-form.html");
        return;                                                                     
    }
    response = await response.json();
    if(response == null){
        alert("ERREUR\nTransmettez ce message l'administrateur du site :\n"
            + "Mauvais format de retour de " + url + " dans chaufer-form.html");
        return;
    }
    if(response.length == 0){
        ugsElt.innerHTML = "Aucune UG pour ce fermier";
        return;
    }
    let parcellesElt = document.getElementById("parcelles");
    parcellesElt.innerHTML = "";
    //
    let limit = Math.floor(response.length / 2); // nb max par colonne
    if(response.length / 2 != limit){
        limit += 1;
    }
    // chaque parcelle est dans une grid2
    // les grid2 sont ajoutées au td
    const table = document.createElement("table");
    parcellesElt.appendChild(table);
    const tr = document.createElement("tr");
    table.appendChild(tr);
    let td = document.createElement("td");
    td.setAttribute("class", "vertical-align-top padding-right2");
    tr.appendChild(td);
    let grid2Elt = document.createElement("div");
    grid2Elt.setAttribute("class", "grid2-form");
    //
    let curdiv, surfaceInputNameId, subdiv, radio, radioName, radioValueId, label, surfaceInput, strOnclick;
    let i = 1;
    response.forEach(function(item){
        curdiv = document.createElement("div");
        //
        curdiv.innerHTML = "<b>" + item.name + "</b>";
        grid2Elt.appendChild(curdiv);
        //
        curdiv = document.createElement("div");
        // class et id de curdiv servent dans validateForm()
        curdiv.setAttribute("class", "parcelle");
        curdiv.setAttribute("id", "parcelle-" + item.id);
        surfaceInputNameId = "parcelle-surface-" + item.id; // variable utilisée pour readonly
        radioName = "radio-parcelle-" + item.id;
        strOnclick = "document.getElementById('"+surfaceInputNameId+"').readOnly = true;"
            + "document.getElementById('"+surfaceInputNameId+"').value = '';"
        // non sélectionnée - radio
        subdiv = document.createElement("div");
        radio = document.createElement("input");
        radioValueId = "radio-parcelle-non-selectionne-" + item.id;
        radio.setAttribute("type", "radio");
        radio.setAttribute("name", radioName);
        radio.setAttribute("value", radioValueId);
        radio.setAttribute("id", radioValueId);
        radio.setAttribute("checked", true);
        radio.setAttribute("onclick", strOnclick);
        subdiv.appendChild(radio);
        // non sélectionnée - label
        label = document.createElement("label");
        label.setAttribute("for", radioValueId);
        label.innerHTML = "Non sélectionnée";
        subdiv.appendChild(label);
        //
        curdiv.appendChild(subdiv);
        // entière - radio
        subdiv = document.createElement("div");
        radio = document.createElement("input");
        radioValueId = "radio-parcelle-entiere-" + item.id;
        radio.setAttribute("type", "radio");
        radio.setAttribute("name", radioName);
        radio.setAttribute("value", radioValueId);
        radio.setAttribute("id", radioValueId);
        radio.setAttribute("onclick", strOnclick);
        subdiv.appendChild(radio);
        // entière - label
        label = document.createElement("label");
        label.setAttribute("for", radioValueId);
        label.innerHTML = "Entière";
        subdiv.appendChild(label);
        //
        curdiv.appendChild(subdiv);
        // surface - radio
        subdiv = document.createElement("div");
        radio = document.createElement("input");
        radioValueId = "radio-parcelle-surface-" + item.id;
        radio.setAttribute("type", "radio");
        radio.setAttribute("name", radioName);
        radio.setAttribute("value", radioValueId);
        radio.setAttribute("id", radioValueId);
        radio.setAttribute("onclick", "document.getElementById('"+surfaceInputNameId+"').readOnly = false;");
        subdiv.appendChild(radio);
        // surface - label
        label = document.createElement("label");
        label.setAttribute("for", radioValueId);
        label.setAttribute("class", "padding-right");
        label.innerHTML = "Surface";
        subdiv.appendChild(label);
        // surface - input type=number
        surfaceInput = document.createElement("input");
        surfaceInput.setAttribute("type", "number");
        surfaceInput.setAttribute("min", "0");
        surfaceInput.setAttribute("step", "0.01");
        surfaceInput.setAttribute("class", "width5");
        surfaceInput.setAttribute("name", surfaceInputNameId);
        surfaceInput.setAttribute("id", surfaceInputNameId);
        surfaceInput.setAttribute("readonly", true);
        subdiv.appendChild(surfaceInput);
        //
        curdiv.appendChild(subdiv);
        grid2Elt.appendChild(curdiv);
        td.appendChild(grid2Elt);
        if(i == limit){
            td = document.createElement("td");
            td.setAttribute("class", "vertical-align-top");
            tr.appendChild(td);
            grid2Elt = document.createElement("div");
            grid2Elt.setAttribute("class", "grid2-form");
        }
        i++;
    });
}

// ***************************************
function validateForm(){
    let msg = "";
    if(document.getElementById("CHOOSE_ESSENCE").selected == true){
        msg += "\n- Vous devez choisir une essence";
    }
    if(document.getElementById("CHOOSE_EXPLOITATION").selected == true){
        msg += "\n- Vous devez choisir une exploitation";
    }
    if(document.getElementById("CHOOSE_UNITE").selected == true){
        msg += "\n- Vous devez choisir une unité pour le volume";
    }
    let i, id, elt;
    // vérifie qu'une ug est sélectionnée
    let ugChecked = false;
    const ugs = document.getElementsByName("ug");
    for (i = 0; i < ugs.length; i++) {
        if(document.getElementById(ugs[i].id).checked == true){
            ugChecked = true;
            break;
        }
    }
    if(!ugChecked){
        msg += "\n- Vous devez sélectionner une unité de gestion";
    }
    else{
        // Vérifie qu'au moins une parcelle est sélectionnée
        const parcelles = document.getElementsByClassName("parcelle");
        let parcelleChecked = false;
        let surfaceZero = false;
        for (i = 0; i < parcelles.length; i++) {
            id = parcelles[i].id.replace("parcelle-", "");
            if(document.getElementById("radio-parcelle-non-selectionne-" + id).checked == false){
                parcelleChecked = true;
                elt = document.getElementById("radio-parcelle-surface-" + id);
                if(elt.checked && (elt.value == 0 || elt.value == "")){
                    surfaceZero = true;
                }
            }
        }
///////////////// ICI A TERMINER ////////////////////////
        if(!parcelleChecked){
            msg += "\n- Vous devez au moins choisir une parcelle";
        }
        if(surfaceZero){
            msg += "\n- La surface des parcelles doit être différente de 0";
        }
    }
    // calcule id-fermier
    let personName = document.getElementById("fermier").value.trim();
    let ok = false;
    let idActeur;
    if(personName == ""){
        msg += "\n- Vous devez renseigner un fermier.";
    }
    else{
        ok = false;
        for(idActeur in window.globalPersons){
            if(window.globalPersons[idActeur] == personName){
                ok = true;
                break;
            }
        }
    }
    if(!ok){
        msg += "\n- Le nom \"" + personName + "\"\nne correspond à aucune personne connue en base.";
    }
    else{
        document.getElementById("id-fermier").value = idActeur;
    }
    //
    if(msg != ""){
        alert(msg);
        return false;
    }
    return true;   
}
</script>

{{end}}
