{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<h1>
    {{.Header.Title}}
    <a class="padding-left" href="/chantier/chauffage-fermier/new">
        <img class="bigicon inline" src="/static/img/new.png" title="Créer un nouveau chantier autres valorisations" />
    </a>
</h1>

{{if .Details.Annees}}
<div>
    Autres années :
    {{range .Details.Annees}}
    <a class="padding-left" href="/chantier/chauffage-fermier/liste/{{.}}">{{.}}</a>
    {{end}}
</div>
{{end}}

{{if .Details.Chantiers}}

<div class="bold padding-left padding-top">
    <span class="link padding-right2" onclick="toutVoir();">Tout voir</span>
    <span class="link" onclick="toutCacher();">Tout cacher</span>
</div>

<table class="entities">
    
    <thead>
        <tr>
            <th></th>
            <th class="order">Date</th>
            <th class="order">Fermier</th>
            <th class="order">Essence</th>
            <th class="order">Volume</th>
            <th>Détails</th>
        </tr>
    </thead>
    <tbody>
        {{range .Details.Chantiers}}
        <tr>
            <td class="whitespace-nowrap">
                <a href="/chantier/chauffage-fermier/update/{{.Id}}">
                    <img src="/static/img/update.png" title="Modifier ce chantier" />
                </a>
                <a href="#" onclick="deleteChantier({{.Id}}, {{.Fermier.String}}, {{.DateChantier | dateFr}});" class="padding-left05">
                    <img src="/static/img/delete.png" title="Supprimer ce chantier">     
                </a>
            </td>
            <td>
                {{.DateChantier | dateFr}}
            </td>
            <td>
                <a href="/fermier/{{.IdFermier}}">{{.Fermier.String}}</a>
            </td>
            <td>
                {{.Essence | labelEssence}}
                        
            </td>
            <td>
                {{.Volume}} {{.Unite | labelUnite}}
            </td>
            <td>
                <details class="details-entite">{{/* class pour tout voir / tout cacher */}}
                    <summary>Voir / cacher</summary>
                    <div class="grid2-pres">
                    
                        <div>Exploitation</div>
                        <div>{{.Exploitation | labelExploitation}}</div>
                    
                        <div>UGs</div>
                        <div>
                            {{range .UGs}}
                                <div><a href="/ug/{{.Id}}">{{.String}}</a></div>
                            {{end}}
                        </div>
                        
                        <div>Parcelles</div>
                        <div>
                            {{range .LiensParcelles}}
                                <div>
                                    <a href="/parcelle/{{.Parcelle.Id}}">{{.Parcelle.Code}}</a>
                                    ({{if .Entiere}}Entière{{else}}{{round .Surface 2}} ha{{end}})
                                </div>
                            {{end}}
                        </div>
                        
                        {{if .Notes}}
                            <div>Notes</div>
                            {{.Notes | nl2br}}
                        {{end}}
                    </div><!-- end class="grid2-pres" -->
                </td>
        </tr>
        {{end}}
    <tbody>
</table>                                                                 

{{end}} {{/* end if .Details.Chantiers */}}

<script>

function deleteChantier(idChantier, acheteur, date){
    const msg = "Attention, en cliquant sur OK,\n"
            + "le chantier " + acheteur + " - "  + date + "\nsera définitivement supprimé";
    let r = confirm(msg);
    if (r == true) {
        window.location = "/chantier/chauffage-fermier/delete/" + idChantier;
    }
}

// répétition de code avec chautre-list.html

function toutVoir(){
    const elements = document.getElementsByClassName('details-entite');
    for(const elt of elements){
        elt.open = true;
    }
}
function toutCacher(){
    const elements = document.getElementsByClassName('details-entite');
    for(const elt of elements){
        elt.open = false;
    }
}

</script>
