{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

{{template "choix-parcelles.html" .Details.Chantier}}

<h1>{{.Header.Title}}</h1>

{{with .Details.Chantier}}
<form class="form" action="{{$.Details.UrlAction}}" onsubmit="return validateForm();" method="post" novalidate>

    <div class="grid2-form">

        <label for="fermier">Fermier</label>
        {{/* div pour éviter que le select devienne trop large qd la liste des parcelle devient large */}}
        <div>
            <select name="fermier" id="fermier">
                {{$.Details.FermierOptions}}
            </select>
        </div>
        
        <label for="ugs">UG</label>
        <div id="ugs"></div>
        
        <label for="parcelles">Parcelles</label>
        <div id="parcelles"></div>
        
        <label for="datechantier">Date chantier</label>
        <div><input type="date" name="datechantier" id="datechantier" value="{{.DateChantier | dateIso}}"></div>
        
        <label for="exploitation">Exploitation</label>
        <select name="exploitation" id="exploitation" class="width8">
            {{$.Details.ExploitationOptions}}
        </select>

        <label for="essence">Essence</label>
        <select name="essence" id="essence" class="width10">
            {{$.Details.EssenceOptions}}
        </select>
        
        <label for="volume">Volume</label>
        <div>
            <input type="number" name="volume" id="volume" step="0.01" min="0" value="{{.Volume | zero2empty}}" class="width5">
            <select name="unite" id="unite" class="width8">
                {{$.Details.UniteOptions}}
            </select>
        </div>
        
        <label class="optional" for="notes">Notes</label>
        <textarea rows="6" cols="50" name="notes" id="notes">{{.Notes}}</textarea>
        
    </div>
    
    <div class="margin-top">
        <div class="float-left">
            <a href="#help" id="toogle-help" class="help-button" title="Afficher l'aide de ce formulaire" onClick="toogle('help');">?</a>
        </div>
        <div class="float-right">
            <input type="button" name="cancel" value="Annuler" onClick="window.history.back();">
            <input type="submit" class="margin-left" value="Valider">
        </div>
    </div>
    
    <input type="hidden" name="id-chantier" id="id-chantier" value="{{.Id}}">
    <input type="hidden" name="id-fermier" id="id-fermier" value="{{.IdFermier}}">
    
</form>

<a name="help"></a>
<div id="help" class="margin display-none">
    <div class="help-content">
        <div class="help-title">Aide</div>
        <div class="section">
            <b>Fermier</b> : il faut saisir le nom d'un fermier, puis cliquer sur <img class="inline vertical-align-middle bigicon" src="/static/img/validate.png"> afin de faire apparaître la liste des UGs possibles.
            <br>Il faut ensuite sélectionner une UG pour faire apparaître la liste des parcelles possibles.
        </div>
    </div>
</div>

<script>
window.addEventListener("load", function(){
    document.getElementById("fermier").addEventListener("change", function() {
        actionAfterChangeFermier();
    });        
    // document.getElementById("fermier").onChange = function(e){
        // actionAfterChangeFermier();
    // };
    initialize();
});

// ***************************************
async function initialize(){
    // form new
    if({{.Fermier.Id}} == 0){
        actionAfterChangeFermier();
        actionAfterChangeUG();
    }
    // form update
    else{
        const idFermier = document.getElementById("id-fermier").value;
        document.getElementById("fermier-" + idFermier).selected = "selected";
        await actionAfterChangeFermier();
        document.getElementById("ug-" + "{{/* .IdUG */}}").checked = true;
        await afficheParcelles(
            document.getElementById('parcelles'),
            {{.UGs}},
            {{.LiensParcelles}}
        );
    }
}

// ******************************************************
/**
    Lorsqu'un fermier change, met à jour les ugs possibles
    Affiche les UGs sur nCol colonnes
    Aucune UG n'est sélectionnée
**/
async function actionAfterChangeFermier(){
    const nCol = 3;
    const fermierElt = document.getElementById("fermier");
    const idFermier = fermierElt.children[fermierElt.selectedIndex].id.replace("fermier-", "");
    let ugsElt = document.getElementById("ugs");
    let parcellesElt = document.getElementById("parcelles");
    ugsElt.innerHTML = "Choisissez d'abord un fermier";
    parcellesElt.innerHTML = "Choisissez d'abord une UG";
    if(idFermier == "CHOOSE_FERMIER"){
        return;
    }
    // ajax pour récupérer les UGs possibles
    const url = "/ajax/get/ugs-from-fermier/" + idFermier;
    let response = await fetch(url);
    if(response == null){
        alert("ERREUR - Transmettez ce message l'administrateur du site :\n"
            + "Problème de récupération " + url + " dans chaufer-form.html");
        return;                                                                     
    }
    response = await response.json();
///// factoriser à partir de là (à confirmer)
// afficheParcelles(liste id ug)
    if(response == null || response.length == 0){
        ugsElt.innerHTML = "Aucune UG pour ce fermier";
        return;
    }
    let limit = Math.floor(response.length / nCol); // nb max par colonne
    if(response.length / nCol != limit){
        limit += 1;
    }
    ugsElt.innerHTML = "";
    //
    const table = document.createElement("table");
    ugsElt.appendChild(table);
    const tr = document.createElement("tr");
    table.appendChild(tr);
    let td = document.createElement("td");
    td.classList.add("vertical-align-top");
    tr.appendChild(td);
    let i = 1;
    let name, checkbox, label, span;
    response.forEach(function(item) {
        name = "ug-" + item.id;
        checkbox = document.createElement("input");
        checkbox.setAttribute("type", "checkbox");
        checkbox.setAttribute("name", "ug");
        checkbox.setAttribute("id", name);
        checkbox.setAttribute("value", name);
        checkbox.setAttribute("onchange", "actionAfterChangeUG();");
        label = document.createElement("label");
        label.setAttribute("for", name);
        label.innerHTML = item.name;
        label.style["font-weight"] = "normal";
        span = document.createElement("span");
        span.style["padding-right"] = "1em";
        span.appendChild(checkbox);
        span.appendChild(label);
        //
        td.appendChild(span);
        if(i % limit == 0){
            td = document.createElement("td");
            td.classList.add("vertical-align-top");
            td.classList.add("padding-left");
            tr.appendChild(td);
        }
        else{
            td.appendChild(document.createElement("br"));
        }
        i++;
    });
}

// ***************************************
/** 
    Récupère les ids des UGs sélectionnées et appelle afficheParcelles()
**/
async function actionAfterChangeUG(){
    const tmpElts = document.getElementsByName('ug');
    const idsUG = [];
    for (const item of tmpElts) {
        const idUG = item.getAttribute('id').replace('ug-', '');
        if(item.checked == true){
            idsUG.push(idUG);
        }
    }
    await afficheParcelles(idsUG, document.getElementById('parcelles')); // dans view/common/choix-parcelles.html
}

// ***************************************
function validateForm(){
    //
    let msg = "", check;
    let i, elt;
    // vérifie fermier
    const fermierElt = document.getElementById("fermier");
    if(fermierElt.selectedIndex == 0){
        msg += "- Vous devez sélectionner un fermier.\n";
    }
    else{
        const idFermier = fermierElt.children[fermierElt.selectedIndex].id.replace("fermier-", "");
        document.getElementById("id-fermier").value = idFermier;
        // vérifie ug et parcelles que si fermier ok
        // vérifie qu'une ug est sélectionnée
        let ugChecked = false;
        let idParcelle;
        let surfaceInputElt;
        const ugs = document.getElementsByName("ug");
        for (i = 0; i < ugs.length; i++) {
            if(document.getElementById(ugs[i].id).checked == true){
                ugChecked = true;
                break;
            }
        }
        if(!ugChecked){
            msg += "- Vous devez sélectionner une unité de gestion.\n";
        }
        else{
            // vérifie qu'au moins une parcelle est sélectionnée
            const parcelles = document.getElementsByClassName("parcelle");
            let parcelleChecked = false;
            let surfaceZero = false;
            for (i = 0; i < parcelles.length; i++) {
                idParcelle = parcelles[i].id.replace("parcelle-", "");
                if(document.getElementById("radio-parcelle-non-selectionne-" + idParcelle).checked == false){
                    parcelleChecked = true;
                    elt = document.getElementById("radio-parcelle-surface-" + idParcelle);
                    surfaceInputElt = document.getElementById("parcelle-surface-" + idParcelle);
                    if(elt.checked && (surfaceInputElt.value == 0 || surfaceInputElt.value == "")){
                        surfaceZero = true;
                    }
                }
            }
            if(!parcelleChecked){
                msg += "- Vous devez au moins choisir une parcelle.\n";
            }
            if(surfaceZero){
                msg += "- La surface des parcelles doit être différente de 0.\n";
            }
        }
    }
    //
    if(document.getElementById("datechantier").value == ""){
        msg += "- Vous devez choisir la date de chantier.\n";
    }
    //
    if(document.getElementById("CHOOSE_EXPLOITATION").selected == true){
        msg += "- Vous devez choisir une exploitation.\n";
    }
    //
    if(document.getElementById("CHOOSE_ESSENCE").selected == true){
        msg += "- Vous devez choisir une essence.\n";
    }
    //
    if(document.getElementById("volume").value == ""){
        msg += "- Vous devez choisir le volume.\n";
    }
    //
    if(document.getElementById("CHOOSE_UNITE").selected == true){
        msg += "- Vous devez choisir une unité pour le volume.\n";
    }
    //
    if(msg != ""){
        alert("Impossible de valider ce formulaire :\n" + msg);
        return false;
    }
    return true;   
}
</script>

{{end}}
