<h1>{{.Header.Title}}</h1>

{{with .Details.Chantier}}
<form class="form" action="{{$.Details.UrlAction}}" onsubmit="return validateForm();" method="post">

    <div class="grid2-form">

        {{template "chantier-lien.html" $.Details}}
        
        {{/* divs pour contenir lieux-dits et fermiers */}}
        <div id="empty-lieudit1"></div><div id="empty-lieudit2"></div>
        <div id="empty-fermier1"></div><div id="empty-fermier2"></div>
        
        <label for="acheteur">Acheteur</label>
        <div class="autocomplete">
            <input type="text" name="acheteur" id="acheteur" value="" autocomplete="off" class="width20">
        </div>
        
        <label>Type de vente</label>
        <div>
            <div>
                <input type="radio" name="typevente" id="typevente-NON" value="typevente-NON">
                <label class="normal" for="typevente-NON">Non spécifié</label>
            </div>
            <div>
                <input type="radio" name="typevente" id="typevente-BSP" value="typevente-BSP">
                <label class="normal" for="typevente-BSP">Bois-sur-pied</label>
            </div>
            <div>
                <input type="radio" name="typevente" id="typevente-BDR" value="typevente-BDR">
                <label class="normal" for="typevente-BDR">Bord-de-route</label>
            </div>
            <div>
                <input type="radio" name="typevente" id="typevente-LIV" value="typevente-LIV">
                <label class="normal" for="typevente-LIV">Livré</label>
            </div>
        </div>
        
        <label for="datecontrat">Date contrat</label>
        <div><input type="date" name="datecontrat" id="datecontrat" value="{{.DateContrat | dateIso}}"></div>
        
        <label for="typevalo">Valorisation</label>
        <select name="typevalo" id="typevalo" class="width10" onchange="valorisationChanged();">
            {{$.Details.ValorisationOptions}}
        </select>

        <label class="optional" for="volume">Volume contrat</label>
        <div>
            <input type="number" name="volume-contrat" id="volume-contrat" step="0.01" min="0" value="{{.VolumeContrat | zero2empty}}" class="width5">
            <span class="unite padding-left05"></span>
        </div>
        
        <label for="volume-realise">Volume realisé</label>
        <div>
            <input type="number" name="volume-realise" id="volume-realise" step="0.01" min="0" value="{{.VolumeRealise | zero2empty}}" class="width5">
            <span class="unite padding-left05"></span>
        </div>
        
        <label for="exploitation">Exploitation</label>
        <select name="exploitation" id="exploitation" class="width8">
            {{$.Details.ExploitationOptions}}
        </select>

        <label for="essence">Essence</label>
        <select name="essence" id="essence" class="width10">
            {{$.Details.EssenceOptions}}
        </select>
        
        <label for="puht">PU HT</label>
        <div>
            <input type="number" name="puht" id="puht" step="0.01" min="0" value="{{.PUHT | zero2empty}}" class="width5">
        </div>
        
        <label>Taux TVA</label>
        <div>{{.TVA}} %</div>
        
        <label class="optional" for="datefacture">Date facturation</label>
        <div>
            <input type="date" name="datefacture" id="datefacture" value="{{.DateFacture | dateIso}}">
        </div>
        
        <label class="optional" for="numfacture">Numéro facture</label>
        <div>
            <input type="text" name="numfacture" id="numfacture" value="{{.NumFacture}}">
        </div>
        
        <label class="optional" for="notes">Notes</label>
        <textarea rows="6" cols="50" name="notes" id="notes">{{.Notes}}</textarea>
        
    </div>
    
    <div class="margin-top">
        <div class="float-left">
            <a href="#help" id="toogle-help" class="help-button" title="Afficher l'aide de ce formulaire" onClick="toogle('help');">?</a>
        </div>
        <div class="float-right">
            <input type="button" name="cancel" value="Annuler" onClick="window.history.back();">
            <input type="submit" class="margin-left" value="Valider">
        </div>
    </div>
    
    <input type="hidden" name="id-chantier" id="id-chantier" value="{{.Id}}">
    <input type="hidden" name="id-acheteur" id="id-acheteur" value="{{.IdAcheteur}}">
    
</form>

<a name="help"></a>
<div id="help" class="margin display-none">
    <div class="help-content">
        <div class="help-title">Aide</div>
        
        {{template "chantier-lien-help.html"}}
        
        <div class="section">
            <b>Taux TVA</b> : le taux de TVA est le même pour tous les chantiers autres valorisations. Il peut être modifié dans le fichier <code>config.yml</code>, section <code>tva-bdl</code>, valeur <code>autre-valorisation</code>.
        </div>
        
        <div class="section">
            <b>Volume contrat</b> : Volume décidé avec l'acheteur en faisant le contrat de vente.
            <br><b>Volume réalisé</b> : Volume effectivement vendu à l'acheteur.
        </div>
    </div>
</div>


<script>
window.addEventListener("load", function(){
    autocomplete(document.getElementById("acheteur"), getActeursPossibles);
    // Pour vérifier que l'acheteur affiché correspond à une personne existant en base.
    // on ne peut pas se fier uniquement à getElementById("acheteur")
    // car l'utilisateur peut modifier le nom
    window.globalPersons = [];
    initialize();
});

// ***************************************
function initialize(){
    initializeLiensChantier(); // dans view/common/chantier-lien.html   
    // form new
    if({{.Id}} == 0){
        // unité la plus courante sélectionnée par défaut
        document.getElementById("typevente-NON").checked = true;
    }
    // form update
    else{
        document.getElementById("acheteur").value = "{{.Acheteur.NomAutocomplete}}";
        window.globalPersons[{{.IdAcheteur}}] = "{{.Acheteur.NomAutocomplete}}";
        valorisationChanged();
        document.getElementById("typevente-{{.TypeVente}}").checked = true;
    }
}

// ***************************************
/**
    Déclenché lorsqu'on change le choix de la valorisation
    => le champ unite change
**/
function valorisationChanged(){
    if(document.getElementById("CHOOSE_VALORISATION").selected){
        document.getElementsByClassName("unite")[0].innerHTML = "";
        document.getElementsByClassName("unite")[1].innerHTML = "";
    }
    else if(document.getElementById("valorisation-BO").selected){
        document.getElementsByClassName("unite")[0].innerHTML = "{{"BO" | valorisation2uniteLabel}}";
        document.getElementsByClassName("unite")[1].innerHTML = "{{"BO" | valorisation2uniteLabel}}";
    }
    else if(document.getElementById("valorisation-CH").selected){
        document.getElementsByClassName("unite")[0].innerHTML = "{{"CH" | valorisation2uniteLabel}}";
        document.getElementsByClassName("unite")[1].innerHTML = "{{"CH" | valorisation2uniteLabel}}";
    }
    else if(document.getElementById("valorisation-PL").selected){
        document.getElementsByClassName("unite")[0].innerHTML = "{{"PL" | valorisation2uniteLabel}}";
        document.getElementsByClassName("unite")[1].innerHTML = "{{"PL" | valorisation2uniteLabel}}";
    }
    else if(document.getElementById("valorisation-PP").selected){
        document.getElementsByClassName("unite")[0].innerHTML = "{{"PP" | valorisation2uniteLabel}}";
        document.getElementsByClassName("unite")[1].innerHTML = "{{"PP" | valorisation2uniteLabel}}";
    }
    else if(document.getElementById("valorisation-PI").selected){
        document.getElementsByClassName("unite")[0].innerHTML = "{{"PI" | valorisation2uniteLabel}}";
        document.getElementsByClassName("unite")[1].innerHTML = "{{"PI" | valorisation2uniteLabel}}";
    }
}


// ***************************************
function validateForm(){
    let msg = "";
    //
    msg += validateFormChantierLien(); // dans view/common/chantier-lien.html
    //
    const check = checkActeur("acheteur", "- Vous devez renseigner l'acheteur.\n");
    document.getElementById("id-acheteur").value = check[0];
    msg += check[1];
    //
    if(document.getElementById("datecontrat").value == ""){
        msg += "- Vous devez renseigner la date du contrat.\n";
    }
    //
    if(document.getElementById("typevalo").value == "CHOOSE_VALORISATION"){
        msg += "- Vous devez choisir une valorisation.\n";
    }
    //
    if(document.getElementById("exploitation").value == "CHOOSE_EXPLOITATION"){
        msg += "- Vous devez choisir un type d'exploitation.\n";
    }
    //
    if(document.getElementById("CHOOSE_ESSENCE").selected == true){
        msg += "- Vous devez choisir une essence.\n";                                           
    }
    //
    if(document.getElementById("volume-realise").value == ""){
        msg += "- Vous devez renseigner le volume réalisé.\n";
    }
    //
    if(document.getElementById("puht").value == ""){
        msg += "- Vous devez renseigner le PU HT.\n";
    }
    //
    if(msg != ""){
        msg = "Impossible de valider ce formulaire :\n" + msg;
        alert(msg);
        return false;
    }
    //
    chantierLienUGCode2id();
    //
    return true;
}
</script>

{{end}}
