{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<h1>{{.Header.Title}}</h1>

<ul class="spaced">
    <li><a href="/doc/cahier-des-charges-bdl-2020.html">Cahier des charges</a></li>
    <li>
        <a href="/doc/schema-bdd-bdl.svg">Schéma de la base</a>
        <br>Indications pour lire ce schéma :
        <ul>
            <li>Toutes les entités de la base sont représentées.</li>
            <li>Pour chaque entité, seules les caractéristiques exprimant des relations vers d'autres entités sont écrites.</li>
            <li>Les liens épais représentent des relations n-n ; les liens fins représentent des relations 1-n ou 0-n.</li>
            <li>
                Les cardinalités utilisent la syntaxe Merise (0-n au lieu de 0..*) mais le sens est conforme à UML.
                <br>Ex : un chantier plaquette est relié à 0-n opérations simples ; une opération simple est reliée à 1 chantier plaquette.
            </li>
        </ul>
    </li>
    <li>Autres fichiers présents dans le <a href="/doc/">répertoire <code>doc/</code></a></li>
</ul>

<!-- ********************************************************************************* -->
<!-- 
<h2>TODO</h2>

<ul class="spaced">
    <li>Import données forestières</li>
    <li>Import BDD SCTL directement dans Access</li>
    <li>Déploiement Windows</li>
</ul>
-->
                                                                                                                