<h1>{{.Header.Title}}</h1>

<ul class="spaced naked">
    <li><a href="/docs/cahier-des-charges-bdl-2020.html">Cahier des charges</a></li>
    <li><a href="/docs/mcd-bdl.svg">Schéma de la base</a></li>
    <li>Autres fichiers présents dans le <a href="/docs/">répertoire <code>docs/</code></a></li>
</ul>

<!-- ********************************************************************************* -->
<!-- 
<h2>TODO</h2>

<ul class="spaced">
    <li>Import données forestières</li>
    <li>Import BDD SCTL directement dans Access</li>
    <li>Déploiement Windows</li>
</ul>
-->
                                                                                                                