{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<h1>{{.Header.Title}}</h1>

<ul class="spaced">
    <li>Autres fichiers présents dans le <a href="/doc/">répertoire <code>doc/</code></a></li>
    <li><a href="/doc/cahier-des-charges-bdl-2020.html">Cahier des charges</a> (attention, dernière mise à jour en 2020)</li>
    <li>
        <a href="/doc/schema-bdd-bdl.svg">Schéma de la base</a>
        <br>Indications pour lire ce schéma :
        <ul>
            <li>Toutes les entités de la base sont représentées.</li>
            <li>Pour chaque entité, seules les caractéristiques exprimant des relations vers d'autres entités sont écrites.</li>
            <li>Les liens épais représentent des relations n-n ; les liens fins représentent des relations 1-n ou 0-n.</li>
            <li>
                Les cardinalités utilisent la syntaxe Merise (0-n au lieu de 0..*) mais le sens est conforme à UML.
                <br>Ex : un chantier plaquette est relié à 0-n opérations simples ; une opération simple est reliée à 1 chantier plaquette.
            </li>
        </ul>
    </li>
    <li><a href="/doc/pourcent-venteplaq.html">Calcul des pourcentages SCTL / GFA pour les ventes de plaquettes</a></li>
</ul>

<!-- ********************************************************************************* -->
<h2>Notes pour programmeurs</h2>

Le code est GPL, publié sur <a href="https://github.com/bdlarzac/chantiers">github.com/bdlarzac/chantiers</a>

<br><br>Abréviations utilisées partout dans le code (noms des fichiers, noms des structures, noms des variables).

<table class="entities">
    <tr>
        <th>Abréviation</th>
        <th>Signification</th>
    </tr>
    <tr>
        <td>chaufer</td>
        <td>Chantier chauffage fermier</td>
    </tr>
    <tr>
        <td>chautre</td>
        <td>Chantier autres valorisations</td>
    </tr>
    <tr>
        <td>plaq</td>
        <td>Chantier plaquettes</td>
    </tr>
    <tr>
        <td>humid</td>
        <td>Mesure d'humidité</td>
    </tr>
    <tr>
        <td>plaqop</td>
        <td>Opération simple (abattage, débardage, déchiquetage, broyage) liée à un chantier plaquette</td>
    </tr>
    <tr>
        <td>plaqrange</td>
        <td>Opération de rangement de plaquettes dans un hangar</td>
    </tr>
    <tr>
        <td>plaqtrans</td>
        <td>Opération de transport entre un chantier plaquettes et un hangar</td>
    </tr>
    <tr>
        <td>stockage</td>
        <td>Lieu de stockage (hangar)</td>
    </tr>
    <tr>
        <td>stockfrais</td>
        <td>Frais lié à un lieu de stockage</td>
    </tr>
    <tr>
        <td>typo</td>
        <td>Couche typologique venant du PSG</td>
    </tr>
    <tr>
        <td>valo</td>
        <td>Valorisation (pâte à papier, bois d'oeuvre etc.)</td>
    </tr>
    <tr>
        <td>ventecharge</td>
        <td>Opération de chargement lors d'une vente de plaquettes</td>
    </tr>
    <tr>
        <td>ventelivre</td>
        <td>Opération de livraison lors d'une vente de plaquettes</td>
    </tr>
    <tr>
        <td>venteplaq</td>
        <td>Vente de plaquettes</td>
    </tr>
</table>
