{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<h1>
    Fermiers SCTL
</h1>

<div class="big3 padding-left">{{.Details.Count}} fermiers</div>

<table class="entities" style="width:100%;">
<thead>
    <tr>
        <th class="order">Id SCTL</th>
        <th class="order">Nom</th>
        <th>Adresse</th>
        <th class="order">CP</th>
        <th>Ville</th>
        <th>Tel</th>
        <th>Email</th>
    </tr>
</thead>
<tbody>
    {{range .Details.List}}
    <tr>
        <td>{{.Id}}</td>
        <td>
            {{/* data-nom : hack pour trier par nom, cf table-sort.js */}}
            <span data-nom="{{.Nom}} {{.Prenom}}">
                <a href="/fermier/{{.Id}}">{{.Nom}} {{.Prenom}}</a>
            </span>
        </td>
        <td>{{.Adresse}}</td>
        <td>{{.Cp}}</td>
        <td>{{.Ville}}</td>
        <td>{{.Tel}}</td>
        <td>{{.Email}}</td>
    </tr>
    {{end}}
<tbody>

</table>
