{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<h1>
    Fermiers SCTL
</h1>

<div class="big3 padding-left">{{.Details.Count}} fermiers</div>

<table class="entities" style="width:100%;">
<tr>
    <th>Id SCTL</th>
    <th>Nom</th>
    <th>Adresse</th>
    <th>CP</th>
    <th>Ville</th>
    <th>Tel</th>
    <th>Email</th>
</tr>

{{range .Details.List}}
<tr>
    <td>{{.Id}}</td>
    <td><a href="/fermier/{{.Id}}">{{.Nom}} {{.Prenom}}</a></td>
    <td>{{.Adresse}}</td>
    <td>{{.Cp}}</td>
    <td>{{.Ville}}</td>
    <td>{{.Tel}}</td>
    <td>{{.Email}}</td>
</tr>
{{end}}

</table>
