
<script>{{template "checkActeur.js.html" .Details}}</script>
{{template "listeActeurs.html" .Details}}

{{with .Details.Humid}}

<form class="form margin-left2" action="{{$.Details.UrlAction}}" onsubmit="return validateForm();" method="post" novalidate>
    <div class="grid2-form">
    
        <label for="tas">Tas</label>
        <select name="tas" id="tas">
            {{$.Details.TasOptions}}
        </select>
        
        <label for="date-mesure">Date de la mesure : </label>
        <input type="date" id="date-mesure" name="date-mesure" value="{{.DateMesure | dateIso}}">
        
        <label for="valeur-mesure">Humidité : </label>
        <span>
            <input type="number" class="width5" id="valeur-mesure" name="valeur-mesure" value="{{.Valeur | zero2empty}}" step="1" min="0" max="100"> (%)
        </span>
        
        <label for="choix-personne">Personnes : </label>
        <div>
            <div class="grid2-form margin-bottom">
                <input list="liste-acteurs" name="choix-personne" id="choix-personne" class="width25">
                <a id="ajout-personne" href="#" onclick="ajouterPersonne();">
                    <img class="inline bigicon" src="/static/img/validate.png" title="Ajouter cette personne" />
                </a>
            </div>
            
            <ul id="personnes-choisies" class="naked margin0 padding0">
            </ul>
        </div>
        
        <label class="optional" for="notes">Notes</label>
        <textarea rows="6" cols="50" name="notes" id="notes">{{.Notes}}</textarea>
        
    </div>
    
    <div class="margin-top">
        <div class="float-left">
            <a href="#help" id="toogle-help" class="help-button" title="Afficher l'aide de ce formulaire" onClick="toogle('help');">?</a>
        </div>
        <div class="float-right">
            <input type="button" name="cancel" value="Annuler" onClick="window.history.back();">
            <input type="submit" class="margin-left" value="Valider">
        </div>
    </div>

    <input type="hidden" name="id-mesure" value="{{.Id}}">
    <input type="hidden" name="ids-personnes" id="ids-personnes" value="">
</form>

<a name="help"></a>
<div id="help" class="margin display-none">
    <div class="help-content">
        <div class="help-title">Aide</div>
        <div class="section">
            <b>Personnes</b> : pour choisir les personnes effectuant la mesure, saisissez le nom d'une personne, puis cliquez sur <img class="inline vertical-align-middle bigicon" src="/static/img/validate.png"> afin que cette personne soit prise en compte.
            <br>Si vous souhaitez retirer un mesureur, cliquez sur <img class="inline vertical-align-middle bigicon" src="/static/img/delete.png">
        </div>
    </div>
</div>


<script>   

// ***************************************
window.addEventListener("load", function(){
    initialize();
});

// ***************************************
function initialize(){
    if({{.Id}} != 0){
        // form update
        // initialise les personnes choisies
        {{range .Mesureurs}}
            doAjouterPersonne({{.Id}}, {{.String}});
        {{end}}
    }
}

// ***************************************
function ajouterPersonne(){
    const personName = document.getElementById("choix-personne").value.trim();
    if(personName == ""){
        return;
    }
    let newId = "";
    for(let tmp in window.globalPersons){
        if(window.globalPersons[tmp] == personName){
            newId = tmp;
            break;
        }
    }
    if(newId == ""){
        alert("Cette personne n'existe pas en base de données.\n(vérifiez son orthographe).");
        return;
    }
    // teste si la personne est déjà dans la liste
    const personnesChoisies = document.getElementById("personnes-choisies");
    for(let li=personnesChoisies.firstChild; li!==null; li=li.nextSibling){
        if(li.id == newId){
            alert("Impossible d'ajouter deux fois la même personne");
            return;
        }
    }
    //
    doAjouterPersonne(newId, personName);
    document.getElementById("choix-personne").value = "";
}

// ***************************************
/** 
    Ajoute une personne dans la liste "personnes-choisies"
    Séparé de ajouterPersonne() car appelé par initialize() et par ajouterPersonne()
**/
function doAjouterPersonne(id, name){
    const img = document.createElement("img");
    img.setAttribute("class", "inline vertical-align-middle bigicon");
    img.setAttribute("src", "/static/img/delete.png");
    img.setAttribute("title", "Retirer cette personne");
    const a = document.createElement("a");
    a.setAttribute("href", "#");
    a.setAttribute("onclick", "retirerPersonne('" + id + "');");
    a.setAttribute("class", "padding-right05");
    const li = document.createElement("li");
    li.setAttribute("id", id);
    li.setAttribute("class", "margin-bottom05");
    const text = document.createTextNode(name);
    a.appendChild(img);
    li.appendChild(a);
    li.appendChild(text);
    document.getElementById("personnes-choisies").appendChild(li);
}

// ***************************************
function retirerPersonne(id){
    const personnesChoisies = document.getElementById("personnes-choisies");
    const elt = document.getElementById(id);
    personnesChoisies.removeChild(elt);
}

// ***************************************
function validateForm(){
    //
    let msg = "";
    //
    if(document.getElementById("CHOOSE_TAS").selected == true){
        msg += "- Vous devez choisir un tas.\n";
    }
    //
    if(document.getElementById("date-mesure").value == ""){
        msg += "- Vous devez indiquer la date de la mesure.\n";
    }
    //
    if(document.getElementById("valeur-mesure").value == ""){
        msg += "- Vous devez indiquer la valeur de la mesure.\n";
    }
    //
    const personnesChoisies = document.getElementById("personnes-choisies");
    let n = 0;
    const ids = [];
    for(let li=personnesChoisies.firstChild; li!==null; li=li.nextSibling){
        if(li.id == null){
            continue;
        }
        n++;
        ids.push(li.id);
    }
    if(n == 0){
        msg += "- Vous devez au moins choisir une personne qui effectue la mesure.\n";
    }
    else{
        // remplit le champ hidden
        document.getElementById("ids-personnes").value = ids.join("-");
    }
    //
    if(msg != ""){
        msg = "Impossible de valider ce formulaire :\n" + msg;
        alert(msg);
        return false;
    }
    return true;
}

</script>

{{end}}
