
<script>{{template "checkActeur.js.html" .Details}}</script>
{{template "listeActeurs.html" .Details}}

{{with .Details.Humid}}

<form class="form margin-left2" action="{{$.Details.UrlAction}}" onsubmit="return validateForm();" method="post" novalidate>
    <div class="grid2-form">
    
        <label for="tas">Tas</label>
        <select name="tas" id="tas">
            {{$.Details.TasOptions}}
        </select>
        
        <label for="date-mesure">Date de la mesure</label>
        <input type="date" id="date-mesure" name="date-mesure" value="{{.DateMesure | dateIso}}" class="width10">
        
        <label for="valeur-mesure">Humidité</label>
        <span>
            <input type="number" class="width5" id="valeur-mesure" name="valeur-mesure" value="{{.Valeur | zero2empty}}" step="1" min="0" max="100"> (%)
        </span>
        
        <label for="choix-mesureur">Mesureurs</label>
        <div>
            <div class="grid2-form margin-bottom">
                <input list="liste-acteurs" name="choix-mesureur" id="choix-mesureur" class="width25">
                <a id="ajout-mesureur" href="#" onclick="ajouterMesureur();">
                    <img class="inline bigicon" src="/static/img/validate.png" title="Ajouter ce mesureur" />
                </a>
            </div>
            
            <ul id="mesureurs-choisis" class="naked margin0 padding0">
            </ul>
        </div>
        
        <label class="optional" for="notes">Notes</label>
        <textarea rows="6" cols="50" name="notes" id="notes">{{.Notes}}</textarea>
        
    </div>
    
    <div class="margin-top">
        <div class="float-left">
            <a href="#help" id="toogle-help" class="help-button" title="Afficher l'aide de ce formulaire" onClick="toogle('help');">?</a>
        </div>
        <div class="float-right">
            <input type="button" name="cancel" value="Annuler" onClick="window.history.back();">
            <input type="submit" class="margin-left" value="Valider">
        </div>
    </div>

    <input type="hidden" name="id-mesure" value="{{.Id}}">
    <input type="hidden" name="ids-mesureurs" id="ids-mesureurs" value="">
</form>

<a name="help"></a>
<div id="help" class="margin display-none">
    <div class="help-content">
        <div class="help-title">Aide</div>
        <div class="section">
            <b>Mesureurs</b> : pour choisir les personnes effectuant la mesure, saisissez le nom d'une personne, puis cliquez sur <img class="inline vertical-align-middle bigicon" src="/static/img/validate.png"> afin que cette personne soit prise en compte.
            <br>Si vous souhaitez retirer un mesureur, cliquez sur <img class="inline vertical-align-middle bigicon" src="/static/img/delete.png">
        </div>
    </div>
</div>


<script>   

// ***************************************
window.addEventListener("load", function(){
    initialize();
});

// ***************************************
function initialize(){
    if({{.Id}} != 0){
        // form update
        // initialise les personnes choisies
        {{range .Mesureurs}}
            doAjouterMesureur({{.Id}}, {{.String}});
        {{end}}
    }
}

// ***************************************
function ajouterMesureur(){
    const personName = document.getElementById("choix-mesureur").value.trim();
    if(personName == ""){
        return;
    }
    let check = checkActeur("choix-mesureur", "");
    if(check[1] != ""){ // msg erreur
        alert(check[1]);
        return;
    }
    // teste si la personne est déjà dans la liste
    const newId = check[0];
    const mesureursChoisis = document.getElementById("mesureurs-choisis");
    for(let li=mesureursChoisis.firstChild; li!==null; li=li.nextSibling){
        if(li.id == newId){
            alert("Impossible d'ajouter deux fois la même personne");
            return;
        }
    }
    //
    doAjouterMesureur(newId, personName);
    document.getElementById("choix-mesureur").value = "";
}

// ***************************************
/** 
    Ajoute une personne dans la liste "mesureurs-choisis"
    Séparé de ajouterMesureur() car appelé par initialize() et par ajouterMesureur()
    @param  id      Id de l'acteur en base
    @param  name    Nom affiché de la personne
**/
function doAjouterMesureur(id, name){
    const img = document.createElement("img");
    img.setAttribute("class", "inline vertical-align-middle bigicon");
    img.setAttribute("src", "/static/img/delete.png");
    img.setAttribute("title", "Retirer ce mesureur");
    const a = document.createElement("a");
    a.setAttribute("href", "#");
    a.setAttribute("onclick", "retirerMesureur('" + id + "');");
    a.setAttribute("class", "padding-right05");
    const li = document.createElement("li");
    li.setAttribute("id", id);
    li.setAttribute("class", "margin-bottom05");
    const text = document.createTextNode(name);
    a.appendChild(img);
    li.appendChild(a);
    li.appendChild(text);
    document.getElementById("mesureurs-choisis").appendChild(li);
}

// ***************************************
function retirerMesureur(id){
    const mesureursChoisis = document.getElementById("mesureurs-choisis");
    const elt = document.getElementById(id);
    mesureursChoisis.removeChild(elt);
}

// ***************************************
function validateForm(){
    //
    let msg = "";
    //
    if(document.getElementById("CHOOSE_TAS").selected == true){
        msg += "- Vous devez choisir un tas.\n";
    }
    //
    if(document.getElementById("date-mesure").value == ""){
        msg += "- Vous devez indiquer la date de la mesure.\n";
    }
    //
    if(document.getElementById("valeur-mesure").value == ""){
        msg += "- Vous devez indiquer la valeur de la mesure.\n";
    }
    //
    const tmp = document.getElementById("choix-mesureur").value.trim();
    if(tmp != ""){
        msg += "- La zone de saisie des mesureurs contient \"" + tmp + "\"\n"
             + "  Cette zone doit être vide pour valider ce formulaire.\n"
             + "  Vous devez donc valider ce mesureur ou bien vider cette zone de saisie.\n";
        
    }
    //
    const mesureursChoisis = document.getElementById("mesureurs-choisis");
    let n = 0;
    const ids = [];
    for(let li=mesureursChoisis.firstChild; li!==null; li=li.nextSibling){
        if(li.id == null){
            continue;
        }
        n++;
        ids.push(li.id);
    }
    if(n == 0){
        msg += "- Vous devez au moins choisir une personne qui effectue la mesure.\n";
    }
    else{
        // remplit le champ hidden
        document.getElementById("ids-mesureurs").value = ids.join("-");
    }
    //
    if(msg != ""){
        msg = "Impossible de valider ce formulaire :\n" + msg;
        alert(msg);
        return false;
    }
    return true;
}

</script>

{{end}}
