{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<h1>Lieu-dit {{.Details.Nom}}</h1>

<div class="page-content">

<table class="entities">
    
    <tr><th>Parcelle</th><th>Fermier(s)</th><th>Unités de gestion</th><th>Commune(s)</th></tr>

    {{range .Details.Parcelles}}
    <tr>
        <td><a href="/parcelle/{{.Id}}">{{.Code}}</a></td>
        <td>
            {{range .Fermiers}}
                <a href="/fermier/{{.Id}}">{{.Prenom}} {{.Nom}}</a>
            {{end}}
        </td>
        <td>
            {{range .UGs}}
                <a href="/ug/{{.Id}}">{{.Code}}</a>
            {{end}}
        </td>
        <td>
        {{with $.Details.Communes}}
            {{range .}}
                {{.Nom}}
            {{end}}
        {{end}}
        </td>
    </tr>
    {{end}}
    
</table>
</div>