<h1>Lieu-dit {{.Details.Nom}}</h1>

<table class="entities">
    
    <tr><th>Parcelle</th><th>Fermier(s)</th><th>Unités de gestion</th><th>Commune(s)</th></tr>

    {{range .Details.Parcelles}}
    <tr>
        <td><a href="/parcelle/{{.Id}}">{{.Code}}</a></td>
        <td>
            {{range .Fermiers}}
                <a href="/fermier/liste">{{.Prenom}} {{.Nom}}</a>
            {{end}}
        </td>
        <td>
            {{range .UGs}}
                <a href="/ug/{{.Id}}">{{.Code}}</a>
            {{end}}
        </td>
        <td>
        {{with $.Details.Communes}}
            {{range .}}
                {{.Nom}}
            {{end}}
        {{end}}
        </td>
    </tr>
    {{end}}
    
</table>