{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<ul class="menus">
  <li class="dropdown">
    <a class="dropbtn{{if eq .Menu "accueil"}} active{{end}} cursor-default" href="/">Accueil</a>
    <div class="dropdown-content">
      <a href="/">Accueil</a>
      <a href="/backup">Sauvegarde des données</a>
      <a href="/maj-qgis">Mise à jour de l'export pour QGis</a>
      <hr style="width:80%;">
      <a href="/bloc-notes/update">Modifier le bloc note</a>
      <a href="/doc">Documentation</a>
    </div>
  </li>
  
  <li class="dropdown">
    <span class="dropbtn{{if eq .Menu "acteurs"}} active{{end}} cursor-default">Données</span>
    <div class="dropdown-content">
      <div>
          <a href="/commune/liste">Communes / Lieux-dits</a>
          <a href="/ug/liste">Liste UGs</a>
          <div class="float-left"><a href="/acteur/liste">Acteurs</a></div>
          <div class="float-right"><a href="/acteur/new" class="bold">+</a></div>
          <br style="clear:both;">
      </div>
      <a href="/fermier/liste">Fermiers SCTL</a>
    </div>
  </li>

  <li class="dropdown">
    <span class="dropbtn{{if eq .Menu "production"}} active{{end}} cursor-default">Production</span>
    <div class="dropdown-content">
          <a href="/activite/recherche" class="menu-recherche">Recherche / bilans activités</a>
          <hr style="width:80%;">
          <a class="cursor-default">Plaquettes</a>
          <div class="padding-left">
              <div class="float-left"><a href="/chantier/plaquette/liste">Chantiers</a></div>
              <div class="float-right"><a href="/chantier/plaquette/new" class="bold">+</a></div>
              <br style="clear:both;">
          </div>
          <div class="float-left padding-left"><a href="/stockage/liste">Hangars</a></div>
          <div class="float-right padding-left"><a href="/tas-vides">Tas vides</a></div>
          <div>
              <div class="float-left padding-left"><a href="/humidite/liste">Mesures d'humidité</a></div>
              <div class="float-right"><a href="/humidite/new" class="bold">+</a></div>
              <br style="clear:both;">
          </div>
          <hr style="width:80%;">
          <div>
              <div class="float-left"><a href="/chantier/autre/liste">Autres valorisations</a></div>
              <div class="float-right"><a href="/chantier/autre/new" class="bold">+</a></div>
              <br style="clear:both;">
          </div>
          <div>
              <div class="float-left"><a href="/chantier/chauffage-fermier/liste">Chauffage fermiers</a></div>
              <div class="float-right"><a href="/chantier/chauffage-fermier/new" class="bold">+</a></div>
              <br style="clear:both;">
          </div>
          <hr style="width:80%;">
          <a href="/sylviculture/recherche" class="menu-recherche">Recherche / bilans sylviculture</a>
        </div>
  </li>
      
  <li class="dropdown">
    <a class="dropbtn{{if eq .Menu "ventes"}} active{{end}} cursor-default" href="/vente/liste">Ventes</a>
    <div class="dropdown-content">
      <a href="/vente/recherche" class="menu-recherche">Recherche / bilans ventes</a>
      <div>
          <div class="float-left"><a href="/vente/liste">Ventes plaquettes</a></div>
          <div class="float-right"><a href="/vente/new" class="bold">+</a></div>
          <br style="clear:both;">
      </div>
      {{/* <a href="/vente/recherche-par-client">Ventes par client</a> */}}
    </div>
  </li>
                  
  {{/* <li class="dropdown">
    <a class="dropbtn{{if eq .Menu "bilans"}} active{{end}} cursor-default" href="/bilans">Bilans</a>
  </li> */}}
  
  {{/* 
  <li style="background-color:none;">
        <h1 class="margin0 padding0 padding-left" style="background-color:lightyellow;">{{.Header.Title}}</h1>
  </li>
  */}}
  
</ul>
