
{{with .Details.Chantier.Cout}}
<table class="bordered">
    <tr><th>Poste</th><th>Coût / MAP sèche</th></tr>
    <tr>
        <td>Abattage</td>
        <td><script>document.write(round({{.Abattage}}, 2));</script> &euro;</td>
    </tr>
    <tr>
        <td>Débardage</td>
        <td><script>document.write(round({{.Debardage}}, 2));</script> &euro;</td>
    </tr>
    <tr>
        <td>Déchiquetage</td>
        <td><script>document.write(round({{.Dechiquetage}}, 2));</script> &euro;</td>
    </tr>
    <tr>
        <td>Broyage parcelle</td>
        <td><script>document.write(round({{.Broyage}}, 2));</script> &euro;</td>
    </tr>
</table>
{{end}}


<!-- ********************************************************************************* -->
<hr class="margin-top2">
<h2>A compléter, spécification pas claire</h2>
<hr>
<h2>PROTOTYPE, données ne correspondant pas au chantier</h2>
<div style="float:left;">

<table class="bordered">
    <tr><th>Poste</th><th>Coût &euro; / MAP sèche</th></tr>
    <tr>
        <td>Abattage</td>
        <td>1.59 &euro;</td>
    </tr>
    <tr>
        <td>Débardage</td>
        <td>3.24 &euro;</td>
    </tr>
    <tr>
        <td>Déchiquetage</td>
        <td>5.30 &euro;</td>
    </tr>
    <tr>
        <td>Transport plateforme <br>(MO, tracteur/benne, télescopique, repas)</td>
        <td>2.09 &euro;</td>
    </tr>
    <tr>
        <td>Broyage parcelle</td>
        <td>1.00 &euro;</td>
    </tr>
    <tr>
        <td>Stockage</td>
        <td>2.00 &euro;</td>
    </tr>
    <tr>
        <td>Livraison + chargement</td>
        <td>4.56 &euro;</td>
    </tr>

</table>

</div>


<div style="float:left; margin-left:2em; position:relative; top:-2em;">

<h3>Récap compta</h3>
<table class="bordered" style="color:red";>
    <tr>
        <td>Travaux bois déchiqueté</td>
        <td>10.13 &euro;</td>
    </tr>
    <tr>
        <td>Transport plateforme</td>
        <td>2.09 &euro;</td>
    </tr>
    <tr>
        <td>Total coût d'exploit sans broyage</td>
        <td>14.22 &euro;</td>
    </tr>
    <tr>
        <td>Total coût d'exploit avec broyage</td>
        <td>15.22 &euro;</td>
    </tr>
    <tr>
        <td>Transport client PF</td>
        <td>5.00 &euro;</td>
    </tr>
</table>

</div>

<br style="clear:left;">


<!-- ************************************* -->
<h3>Recap</h3>

<div style="display:flex; flex-flow:row wrap;">

<div><!-- flex -->
<table class="bordered">
    <tr>
        <td>Transport</td>
        <td>292,50 &euro;</td>
    </tr>
    <tr>
        <td>Rangement</td>
        <td>90 &euro;</td>
    </tr>
    <tr>
        <td>Repas</td>
        <td>
            180 &euro;
        </td>
    </tr>
    <tr>
        <td>Réparation</td>
        <td>
            150 &euro;
        </td>
    </tr>
    <tr>
        <td>TOTAL</td>
        <td>712,50 &euro;</td>
    </tr>
</table>
</div><!-- flex -->

<div class="margin-left2 big3 bold"><!-- flex -->
Prix /MAP : 3,04 &euro;
</div><!-- flex -->

</div><!-- end flex container -->

