<h1>{{.Header.Title}}</h1>

{{with .Details.Op}}
<form class="form" action="{{$.Details.UrlAction}}" onsubmit="return validateForm();" method="post" novalidate>

    <div class="grid2-form">
        
        <label>Chantier</label>                                            
        <input type="text" value="{{.Chantier.String}}" readonly>
        
        <label for="type-op">Type d'opération</label>
        <select name="type-op" id="type-op" class="width10" onchange="typeOperationChanged();">
            {{$.Details.TypeOpOptions}}
        </select>

        <label for="acteur" id ="lbl-acteur">Acteur</label>
        <div>
            <input list="liste-acteurs" name="acteur" id="acteur" class="width25">
            <datalist id="liste-acteurs">
                {{range $id, $nom := $.Details.ListeActeurs}}
                    <option name="acteur-{{$id}}" value="{{$nom}}">
                {{end}}
            </datalist>
        </div>

        <label>Dates opération</label>
        <div>                                                                                                                              
            <div class="inline-block">
                <div class="center"><label for="date-debut">Début</label></div>
                <input type="date" name="date-debut" id="date-debut" value="{{.DateDebut | dateIso}}">
            </div>
            <div class="inline-block">
                <div class="center"><label for="date-fin">Fin</label></div>
                <input type="date" name="date-fin" id="date-fin" value="{{.DateFin | dateIso}}">
            </div>
        </div>
        
        <label for="qte">Quantité</label>
        <div>
            <input type="number" name="qte" id="qte" step="0.01" min="0" value="{{.Qte | zero2empty}}" class="width5">
            <select name="unite" id="unite" class="width8" onchange="uniteChanges();">
                {{$.Details.UniteOptions}}
            </select>
        </div>
        
        <label for="puht">PU HT</label>
        <div>
            <input type="number" name="puht" id="puht" step="0.01" min="0" value="{{.PUHT | zero2empty}}" class="width5">
            &euro; <span id="labelPourUnite"></span>
        </div>
        
        <label for="tva">Taux TVA</label>
        <select name="tva" id="tva" class="width8">
            {{$.Details.TVAOptions}}
        </select>

        <label class="optional" for="date-pay">Date Paiement</label>
        <input type="date" name="date-pay" id="date-pay" value="{{.DatePay | dateIso}}" class="width15">
        
        <label class="optional" for="notes">Notes</label>
        <textarea rows="6" cols="50" name="notes" id="notes">{{.Notes}}</textarea>
        
    </div>                                                                   
    
    <div class="margin-top">
        <div class="float-left">
            <a href="#help" id="toogle-help" class="help-button" title="Afficher l'aide de ce formulaire" onClick="toogle('help');">?</a>
        </div>
        <div class="float-right">
            <input type="button" name="cancel" value="Annuler" onClick="window.history.back();">
            <input type="submit" class="margin-left" value="Valider">
        </div>
    </div>

    <input type="hidden" name="id-op" id="id-op" value="{{.Id}}">
    <input type="hidden" name="id-chantier" id="id-chantier" value="{{.IdChantier}}">
    <input type="hidden" name="id-acteur" id="id-acteur" value="{{.IdActeur}}">
    
</form>

<a name="help"></a>
<div id="help" class="margin display-none">
    <div class="help-content">
        <div class="help-title">Aide</div>
            <b>Quantité</b> : 
            <br>- Pour le déchiquetage, correspond au nombre de maps.
            <br>- Pour les autres opérations, correspond au nombre de jours ou d'heures.
            
            <br><br><b>Acteur</b> : Personne effectuant cette opération (abatteur, débardeur, déchiqueteur, broyeur).
    </div>
</div>

<script>
window.addEventListener("load", function(){
    initialize();
});

// ***************************************
function initialize(){
    
    if({{.Acteur.Id}} == 0){
        // form new
        document.getElementById("CHOOSE_TYPEOP").setAttribute("selected", "selected");
    }
    else{
        // form update
        document.getElementById("typeop-{{.TypOp}}").setAttribute("selected", "selected");
        document.getElementById("acteur").value = {{.Acteur.String}};
        typeOperationChanged();
    }
}

// ***************************************
/** Déclenché lorsqu'on change le choix du type d'opération **/
function typeOperationChanged(){
    if(document.getElementById("typeop-DC").selected){
        document.getElementById("unite-MA").selected = true;
    }
    // Change le label "acteur"
    const lbl = document.getElementById("lbl-acteur");
    if(document.getElementById("CHOOSE_TYPEOP").selected){
        lbl.innerHTML = "Acteur"
    }
    else if(document.getElementById("typeop-AB").selected){
        lbl.innerHTML = "Abatteur"
    }
    else if(document.getElementById("typeop-DB").selected){
        lbl.innerHTML = "Débardeur"
    }
    else if(document.getElementById("typeop-DC").selected){
        lbl.innerHTML = "Déchiqueteur"
    }
    else if(document.getElementById("typeop-BR").selected){
        lbl.innerHTML = "Broyeur"
    }
}

// ***************************************
/** Déclenché lorsqu'on change l'unité **/
function uniteChanges(){
    if(document.getElementById("unite").value == "CHOOSE_UNITE"){
        document.getElementById("labelPourUnite").innerHTML = "";
    }
    else{
        let sel = document.getElementById("unite")
        document.getElementById("labelPourUnite").innerHTML = " / " + sel.options[sel.selectedIndex].text.slice(0, -1);
    }
}

// ***************************************
function validateForm(){
    let msg = "";
    //
    if(document.getElementById("type-op").value == "CHOOSE_TYPEOP"){
        msg += "- Vous devez renseigner un type d'opération.\n";
    }
    //
    if(document.getElementById("acteur").value == ""){
        msg += "- Vous devez renseigner l'acteur";
        const tmp = document.getElementById("lbl-acteur").innerHTML.toLowerCase(); // "débardeur" ...
        if(tmp != "acteur"){
            msg += " (" + tmp + ")";
        }
        msg += ".\n";
    }
    else{
        let found = false;
        const nomSaisi = document.getElementById("acteur").value;
        {{range $id, $nom := $.Details.ListeActeurs}}
            if("{{$nom}}" == nomSaisi){
                found = true;
                document.getElementById("id-acteur").value = "{{$id}}";
                // idéalement break go loop
            }
        {{end}}
        if(!found){
            msg += "- L'acteur saisi (" + nomSaisi + ") n'existe pas en base.\n"
        }
    }
    //
    const deb = document.getElementsByName("date-debut")[0].value;
    const fin = document.getElementsByName("date-fin")[0].value;
    if(deb == ""){
        msg += "- Vous devez renseigner la date de début.\n";
    }
    if(fin == ""){
        msg += "- Vous devez renseigner la date de fin.\n";
    }
    if(deb != "" && fin != "" && fin < deb){
        msg += "- La date de fin doit se situer après la date de début.\n";
    }
    //
    if(document.getElementById("qte").value == ""){
        msg += "- Vous devez renseigner la quantité.\n";
    }
    //
    if(document.getElementById("unite").value == "CHOOSE_UNITE"){
        msg += "- Vous devez renseigner une unité.\n";
    }
    if(document.getElementById("typeop-DC").selected && !document.getElementById("unite-MA").selected){
        msg += "- Pour le déchiquetage, vous devez obligatoirement utiliser des maps.\n";
    }
    //
    if(document.getElementById("puht").value == ""){
        msg += "- Vous devez renseigner le PU HT.\n";
    }
    //
    if(document.getElementById("tva").value == "CHOOSE_TVA"){
        msg += "- Vous devez renseigner un taux de TVA.\n";
    }
    //
    if(msg != ""){
        alert("Impossible de valider ce formulaire :\n" + msg);
        return false;
    }
    return true;
}

</script>

{{end}}