{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

{{if eq .Details.Chantier.Volume 0.0}}

Le coût d'exploitation d'un chantier ne peut être calculé que si le volume de plaquettes est différent de 0.
<div>(Il faut au moins une opération de déchiquetage)</div>

{{else}}

Coûts HT calculés avec 
<script>
    let tmp = {{.Details.Chantier.Volume}}*(1 - {{.Details.PourcentagePerte}}/100);
    document.write(formatNb(round(tmp, 2)));
</script>
maps de matière sèche.

{{ $coutParMap := .Details.Chantier.CoutParMap }}
{{ $coutTotal := .Details.Chantier.CoutTotal }}
<table class="entities">
    <tr><th>Poste</th><th>Coût total</th><th>Coût / map sec</th></tr>
    <tr>
        <th class="left">Abattage</th>
        <td class="right"><script>document.write(formatNb(round({{$coutTotal.Abattage}}, 2)));</script> &euro;</td>
        <td class="right"><script>document.write(formatNb(round({{$coutParMap.Abattage}}, 2)));</script> &euro;</td>
    </tr>
    <tr>
        <th class="left">Débardage</th>
        <td class="right"><script>document.write(formatNb(round({{$coutTotal.Debardage}}, 2)));</script> &euro;</td>
        <td class="right"><script>document.write(formatNb(round({{$coutParMap.Debardage}}, 2)));</script> &euro;</td>
    </tr>
    <tr>
        <th class="left">Déchiquetage</th>
        <td class="right"><script>document.write(formatNb(round({{$coutTotal.Dechiquetage}}, 2)));</script> &euro;</td>
        <td class="right"><script>document.write(formatNb(round({{$coutParMap.Dechiquetage}}, 2)));</script> &euro;</td>
    </tr>
    <tr>
        <th class="left">Broyage parcelle</th>
        <td class="right"><script>document.write(formatNb(round({{$coutTotal.Broyage}}, 2)));</script> &euro;</td>
        <td class="right"><script>document.write(formatNb(round({{$coutParMap.Broyage}}, 2)));</script> &euro;</td>
    </tr>
    <tr>
        <th class="left">Repas + réparation</th>
        <td class="right"><script>document.write(formatNb(round({{$coutTotal.FauxFrais}}, 2)));</script> &euro;</td>
        <td class="right"><script>document.write(formatNb(round({{$coutParMap.FauxFrais}}, 2)));</script> &euro;</td>
    </tr>
    <tr>
        <th class="left">Transport</th>
        <td class="right"><script>document.write(formatNb(round({{$coutTotal.Transport}}, 2)));</script> &euro;</td>
        <td class="right"><script>document.write(formatNb(round({{$coutParMap.Transport}}, 2)));</script> &euro;</td>
    </tr>
    <tr>
        <th class="left">Rangement</th>
        <td class="right"><script>document.write(formatNb(round({{$coutTotal.Rangement}}, 2)));</script> &euro;</td>
        <td class="right"><script>document.write(formatNb(round({{$coutParMap.Rangement}}, 2)));</script> &euro;</td>
    </tr>
    <tr>
        <th class="left">Stockage</th>
        <td class="right">?</td>
        <td class="right">?</td>
    </tr>
    <tr>
        <th class="left">Chargement</th>
        <td class="right"><script>document.write(formatNb(round({{$coutTotal.Chargement}}, 2)));</script> &euro;</td>
        <td class="right"><script>document.write(formatNb(round({{$coutParMap.Chargement}}, 2)));</script> &euro;</td>
    </tr>
    <tr>
        <th class="left">Livraison</th>
        <td class="right"><script>document.write(formatNb(round({{$coutTotal.Livraison}}, 2)));</script> &euro;</td>
        <td class="right"><script>document.write(formatNb(round({{$coutParMap.Livraison}}, 2)));</script> &euro;</td>
    </tr>
    <tr>
        <td colspan="3"><hr></td>
    </tr>
    <tr>
        <th class="left">TOTAL</th>
        <td class="right bold"><script>document.write(formatNb(round({{$coutTotal.Total}}, 2)));</script> &euro;</td>
        <td class="right bold"><script>document.write(formatNb(round({{$coutParMap.Total}}, 2)));</script> &euro;</td>
    </tr>
</table>

{{end}}{{/* else de if eq .Details.Chantier.Volume 0 */}}
