
<script>{{template "checkActeur.js.html" .Details}}</script>
{{template "listeActeurs.html" .Details}}

<h1>{{.Header.Title}}</h1>

{{with .Details.Rangement}}
<form class="form" action="{{$.Details.UrlAction}}" onsubmit="return validateForm();" method="post">

    <div class="grid2-form">
        
        <label>Chantier</label>                                            
        <input type="text" value="{{.Chantier.String}}" readonly>
        
        <label for="tas">Stockage (tas)</label>
        <select name="tas" id="tas" class="width30">
            <option id="CHOOSE_TAS" value="CHOOSE_TAS">--- Choisir ---</option>
            {{range .Chantier.Tas}}
            <option id="tas-{{.Id}}" value="tas-{{.Id}}">{{.Nom}}</option>
            {{end}}
        </select>
        
        <label for="daterange">Date rangement</label>
        <input type="date" name="daterange" id="daterange" value="{{.DateRange | dateIso}}" class="width20">
        
        <!-- ****************** Coût global ******************* -->
        <div class="big5 bold">
            <input type="radio" name="type-cout" id="cout-global" value="cout-global">
            <label for="cout-global">COÛT GLOBAL</label>
        </div>
        <div></div>
        
        <label for="rangeur">Rangeur</label>
        <input list="liste-acteurs" name="rangeur" id="rangeur" class="width25">

        <label for="glprix">Prix HT</label>
        <input type="number" name="glprix" id="glprix" step="0.01" min="0" value="{{.GlPrix | zero2empty}}" class="width5">
        
        <label for="gltva">Taux TVA</label>
        <select name="gltva" id="gltva" class="width8">
            {{$.Details.GlTVAOptions}}
        </select>
        
        <label for="gldatepay">Date Paiement</label>
        <input type="date" name="gldatepay" id="gldatepay" value="{{.GlDatePay | dateIso}}" class="width20">
        
        <!-- ****************** Coût détaillé ******************* -->
        <div class="big5 bold">
            <input type="radio" name="type-cout" id="cout-detaille" value="cout-detaille">
            <label for="cout-detaille">COÛT DÉTAILLÉ</label>
        </div>
        <div></div>
        
        <!-- ******************* Conducteur ****************** -->
        <div class="big3 bold">Conducteur</div><div></div>
        
        <label for="conducteur">Conducteur</label>
        <input list="liste-acteurs" name="conducteur" id="conducteur" class="width25">

        <label for="conheure">Nb heures</label>
        <input type="number" name="conheure" id="conheure" step="0.01" min="0" value="{{.CoNheure | zero2empty}}" class="width5">
        
        <label for="coprixh">Prix HT / heure</label>
        <input type="number" name="coprixh" id="coprixh" step="0.01" min="0" value="{{.CoPrixH | zero2empty}}" class="width5">
        
        <label for="cotva">Taux TVA</label>
        <select name="cotva" id="cotva" class="width8">
            {{$.Details.CoTVAOptions}}
        </select>
        
        <label for="codatepay">Date Paiement</label>
        <input type="date" name="codatepay" id="codatepay" value="{{.CoDatePay | dateIso}}" class="width20">
        
        <!-- ***************** Outil ******************** -->
        <div class="big3 bold">Outil</div><div></div>
        
        <label for="proprioutil">Propriétaire outil</label>
        <input list="liste-acteurs" name="proprioutil" id="proprioutil" class="width25">

        <label for="ouprix">Prix HT</label>
        <input type="number" name="ouprix" id="ouprix" step="0.01" min="0" value="{{.OuPrix | zero2empty}}" class="width5">
        
        <label for="outva">Taux TVA</label>
        <select name="outva" id="outva" class="width8">
            {{$.Details.OuTVAOptions}}
        </select>
        
        <label class="optional" for="oudatepay">Date Paiement</label>
        <input type="date" name="oudatepay" id="oudatepay" value="{{.OuDatePay | dateIso}}" class="width20">
        
        <label class="optional" for="notes">Notes</label>
        <textarea rows="6" cols="50" name="notes" id="notes">{{.Notes}}</textarea>
        
    </div>
    
    <div class="float-right margin-top">
        <input type="button" name="cancel" value="Annuler" onClick="window.history.back();">
        <input type="submit" class="margin-left" value="Valider">
    </div>

    <input type="hidden" name="id-pr" id="id-pr" value="{{.Id}}">
    <input type="hidden" name="id-chantier" id="id-chantier" value="{{.IdChantier}}">
    <input type="hidden" name="id-rangeur" id="id-rangeur" value="{{.IdRangeur}}">
    <input type="hidden" name="id-conducteur" id="id-conducteur" value="{{.IdConducteur}}">
    <input type="hidden" name="id-proprioutil" id="id-proprioutil" value="{{.IdProprioutil}}">
    
</form>


<script>
window.addEventListener("load", function(){
    let radios = document.getElementsByName("type-cout");
    for( i = 0; i < radios.length; i++ ){
        radios[i].onchange = changeTypeCout;
    }
    initialize();
});

// ***************************************
function initialize(){
     // form new
    if({{.Rangeur.Id}} == 0 && {{.Conducteur.Id}} == 0 && {{.Proprioutil.Id}} == 0){
        if({{len .Chantier.Tas}} == 1){
            // cas le plus fréquent - sélectionne par défaut le seul tas possible
            document.getElementById("tas-" + "{{(index .Chantier.Tas 0).Id}}").setAttribute("selected", "selected");
        }
        else{
            document.getElementById("CHOOSE_TAS").setAttribute("selected", "selected");
        }
        //
        document.getElementById("cout-global").setAttribute("checked", true);
        setCoutGlobal();
    }
    // form update
    else{
        document.getElementById("tas-{{.IdTas}}").setAttribute("selected", "selected");
        //
        document.getElementById("rangeur").value = "{{.Rangeur.String}}";
        document.getElementById("conducteur").value = "{{.Conducteur.String}}";
        document.getElementById("proprioutil").value = "{{.Proprioutil.String}}";
        //
        if("{{.TypeCout}}" == "G"){
            document.getElementById("cout-global").setAttribute("checked", true);
            setCoutGlobal();
        }
        else{
            document.getElementById("cout-detaille").setAttribute("checked", true);
            setCoutDetaille();
        }
    }
}

// ***************************************
function changeTypeCout(){
    if(document.getElementById("cout-global").checked){
        setCoutGlobal();
    }
    else{
        setCoutDetaille();
    }
}
// ***************************************
function setCoutGlobal(){
    document.getElementById("rangeur").readOnly = false;
    document.getElementById("glprix").readOnly = false;
    document.getElementById("gltva").disabled = false;
    document.getElementById("gldatepay").readOnly = false;
    //
    document.getElementById("conducteur").value = "";
    document.getElementById("conducteur").readOnly = true;
    document.getElementById("conheure").value = "";
    document.getElementById("conheure").readOnly = true;
    document.getElementById("coprixh").value = "";
    document.getElementById("coprixh").readOnly = true;
    document.getElementById("cotva").value = "CHOOSE_TVA_CO";
    document.getElementById("cotva").disabled = true;
    document.getElementById("codatepay").value = "";
    document.getElementById("codatepay").readOnly = true;
    //
    document.getElementById("proprioutil").value = "";
    document.getElementById("proprioutil").readOnly = true;
    document.getElementById("ouprix").value = "";
    document.getElementById("ouprix").readOnly = true;
    document.getElementById("outva").value = "CHOOSE_TVA_OU";
    document.getElementById("outva").disabled = true;
    document.getElementById("oudatepay").value="";
    document.getElementById("oudatepay").readOnly = true;
}
// ***************************************
function setCoutDetaille(){
    document.getElementById("rangeur").value = "";
    document.getElementById("rangeur").readOnly = true;
    document.getElementById("glprix").value="";
    document.getElementById("glprix").readOnly = true;
    document.getElementById("gltva").value = "CHOOSE_TVA_GL";
    document.getElementById("gltva").disabled = true;
    document.getElementById("gldatepay").value="";
    document.getElementById("gldatepay").readOnly = true;
    //
    document.getElementById("conducteur").readOnly = false;
    document.getElementById("conheure").readOnly = false;
    document.getElementById("coprixh").readOnly = false;
    document.getElementById("cotva").disabled = false;
    document.getElementById("codatepay").readOnly = false;
    //
    document.getElementById("proprioutil").readOnly = false;
    document.getElementById("ouprix").readOnly = false;
    document.getElementById("outva").disabled = false;
    document.getElementById("oudatepay").readOnly = false;
}

// ***************************************
function validateForm(){
    //
    let msg = "", check;
    //
    if(document.getElementById("CHOOSE_TAS").selected == true){
        msg += "- Vous devez choisir un tas (lieu de stockage).\n";
    }
    //
    if(document.getElementById("daterange").value == ""){
        msg += "- Vous devez indiquer la date de rangement.\n";
    }
    //
    if(document.getElementById("cout-global").checked){
        //
        // 1 - Coût global
        //
        check = checkActeur("rangeur", "- Vous devez renseigner le rangeur.\n");
        document.getElementById("id-rangeur").value = check[0];
        msg += check[1];
        //
        if(document.getElementById("glprix").value == ""){
            msg += "- Vous devez indiquer un prix (coût global).\n";
        }
        //
        if(document.getElementById("gl-CHOOSE_TVA_GL").selected == true){
            msg += "- Vous devez choisir un taux de TVA (coût global).\n";
        }
    }
    else {
        //
        // 2 - Coût détaillé
        //
        // 2.1 - Main oeuvre
        //
        check = checkActeur("conducteur", "- Vous devez renseigner le conducteur.\n");
        document.getElementById("id-conducteur").value = check[0];
        msg += check[1];
        //
        if(document.getElementById("conheure").value == ""){
            msg += "- Vous devez indiquer un nombre d'heures (conducteur).\n";
        }
        //
        if(document.getElementById("coprixh").value == ""){
            msg += "- Vous devez indiquer un prix HT / heure (conducteur).\n";
        }
        //
        if(document.getElementById("co-CHOOSE_TVA_CO").selected == true){
            msg += "- Vous devez choisir un taux de TVA (conducteur).\n";
        }
        //
        // 2.2 - Outil
        //
        check = checkActeur("proprioutil", "- Vous devez renseigner le propriétaire de l'outil.\n");
        document.getElementById("id-proprioutil").value = check[0];
        msg += check[1];
        //
        if(document.getElementById("ouprix").value == ""){
            msg += "- Vous devez indiquer un prix HT (outil).\n";
        }
        if(document.getElementById("ou-CHOOSE_TVA_OU").selected == true){
            msg += "- Vous devez choisir un taux de TVA (outil).\n";
        }
    }
    //
    if(msg != ""){
        msg = "Impossible de valider ce formulaire :\n" + msg;
        alert(msg);
        return false;
    }
    return true;
}
</script>

{{end}}