<h1>{{.Header.Title}}</h1>

{{with .Details.Chantier}}

<form class="form" action="{{$.Details.UrlAction}}" onsubmit="return validateForm();" method="post" novalidate>

    <div class="grid2-form">
        
        {{/* Affiche la zone des UGs */}}
        {{template "chantier-lien.html" $.Details}}
        
        {{/*
            divs pour contenir lieux-dits et fermiers
            empty-lieudit contiendra la liste des lieux-dits avec les checkboxes
            empty-fermier contiendra la liste des fermiers avec les checkboxes
        */}}
        <label>Lieux-dits</label>
        <div id="empty-lieudit"></div>
        
        <label>Fermiers</label>
        <div id="empty-fermier"></div>
        
        <label>Dates déchiquetage</label>
        <div>                                                                                                                              
            <div class="inline-block">
                <div class="center"><label for="date-debut">Début</label></div>
                <input type="date" name="date-debut" id="date-debut" value="{{.DateDebut | dateIso}}">
            </div>
            <div class="inline-block">
                <div class="center"><label for="date-fin">Fin</label></div>
                <input type="date" name="date-fin" id="date-fin" value="{{.DateFin | dateIso}}">
            </div>
        </div>
        
        <label for="stockage">Lieu de stockage (tas)</label>
        <div>
            {{range $.Details.AllStockages}}
                <div>
                    <input type="checkbox" name="stockage-{{.Id}}" id="stockage-{{.Id}}" class="chk-stockage">
                    <label for="stockage-{{.Id}}"><span class="normal">{{.Nom}}</span></label>
                </div>
            {{end}}
        </div>
        
        <label for="surface">Surface concernée</label>
        <div>
            <input type="number" name="surface" id="surface" step="0.1" value="{{.Surface | zero2empty}}" class="width5">
            ha
        </div>
        
        <label for="granulo">Granulométrie</label>
        <select name="granulo" id="granulo" class="width8">
            {{$.Details.GranuloOptions}}
        </select>
        
        <label for="exploitation">Exploitation</label>
        <select name="exploitation" id="exploitation" class="width8">
            {{$.Details.ExploitationOptions}}
        </select>
        
        <label for="essence">Essence</label>
        <select name="essence" id="essence" class="width10">
            {{$.Details.EssenceOptions}}
        </select>
        
        <label class="optional" for="frais-repas">Frais repas</label>
        <div>
            <input type="number" name="frais-repas" id="frais-repas" step="0.01" min="0" value="{{.FraisRepas | zero2empty}}" class="width5">
             &euro;
        </div>
        
        <label class="optional" for="frais-reparation">Frais réparation</label>
        <div>
            <input type="number" name="frais-reparation" id="frais-reparation" step="0.01" min="0" value="{{.FraisReparation | zero2empty}}" class="width5">
             &euro;
         </div>
        
        <label class="optional" for="notes">Notes</label>
        <textarea rows="6" cols="50" name="notes" id="notes">{{.Notes}}</textarea>
        
    </div>                                                                   
    
    <div class="margin-top">
        <div class="float-left">
            <a href="#help" id="toogle-help" class="help-button" title="Afficher l'aide de ce formulaire" onClick="toogle('help');">?</a>
        </div>
        <div class="float-right">
            <input type="button" name="cancel" value="Annuler" onClick="window.history.back();">
            <input type="submit" class="margin-left" value="Valider">
        </div>
    </div>

    <input type="hidden" name="id-chantier" id="id-chantier" value="{{.Id}}">
    <input type="hidden" name="ids-stockages" id="ids-stockages" value="">
    <input type="hidden" name="ids-ugs" id="ids-ugs" value="">
    <input type="hidden" name="ids-lieudits" id="ids-lieudits" value="">
    <input type="hidden" name="ids-fermiers" id="ids-fermiers" value="">
    
</form>

<a name="help"></a>
<div id="help" class="margin display-none">
    <div class="help-content">
        <div class="help-title">Aide</div>
        
        {{template "chantier-lien-help.html"}}
        
        <div class="section">
            <b>Lieu de stockage (tas)</b> : permet de spécifier les hangars contenant les tas associés au chantier.
            <br>Un chantier peut être associé à plusieurs tas mais ne peut être associé qu'à un seul tas par hangar.
            <br>A la création d'un chantier, un tas va être créé pour chaque hangar sélectionné.
            
            <br><br>Lors de la modification d'un chantier, <b>ATTENTION</b> car modifier les hangars associés au chantier a des conséquences.
            <br>Toute supression d'une association chantier - tas entraîne :
            <ul class="margin-top0">
                <li>La supression du tas concerné.</li>
                <li>La supression de toutes les opérations associées à ce tas (transport, rangement, vente, chargement, livraison).</li>
                <li>La modification du stock du hangar.</li>
            </ul>
        </div>
    </div>
</div>


<script>

// ***************************************
window.addEventListener("load", function(){
    initialize();
});

// ***************************************
function initialize() {
    chantierLienInitialize(); // dans view/common/chantier-lien.html    
    // form new
    if({{.Id}} == 0){
        // essence initalisée à pin sylvestre car c'est le cas le plus fréquent
        document.getElementById("essence-PS").setAttribute("selected", "selected");
        // Si un seul lieu de stockage possible, il est sélectionné par défaut
        if({{len $.Details.AllStockages}} == 1){
            document.getElementsByClassName("chk-stockage")[0].setAttribute("checked", true);
        }
    }
    // form update
    else{
        // lieux de stockage
        {{range .Tas}}
            document.getElementById("stockage-{{.Stockage.Id}}").setAttribute("checked", "checked")
        {{end}}
    }
}

// ***************************************
function validateForm(){
    let msg = "";
    //
    msg += chantierLienValidateForm(); // dans view/common/chantier-lien.html
    //
    const deb = document.getElementsByName("date-debut")[0].value;
    const fin = document.getElementsByName("date-fin")[0].value;
    if(deb == ""){
        msg += "- Vous devez renseigner la date de début.\n";
    }
    if(fin == ""){
        msg += "- Vous devez renseigner la date de fin.\n";
    }
    if(deb != "" && fin != "" && fin < deb){
        msg += "- La date de fin doit se situer après la date de début.\n";
    }
    //
    let ok = false;
    {{range $.Details.AllStockages}}
        if(document.getElementById("stockage-{{.Id}}").checked){
            ok = true;
        }
    {{end}}
    if(!ok){
        msg += "- Vous devez au moins choisir un lieu de stockage.\n";
    }
    //
    if(document.getElementById("surface").value == ""){
        msg += "- Vous devez renseigner la surface.\n";
    }
    //
    if(document.getElementById("granulo").value == "CHOOSE_GRANULO"){
        msg += "- Vous devez choisir une granulométrie.\n";
    }
    //
    if(document.getElementById("exploitation").value == "CHOOSE_EXPLOITATION"){
        msg += "- Vous devez choisir un type d'exploitation.\n";
    }
    //
    if(msg != ""){
        alert("Impossible de valider ce formulaire : \n" + msg);
        return false;
    }
    //
    chantierLienFillHiddenFields(); // dans view/common/chantier-lien.html
    //
    return true;
}
</script>   
{{end}}