
{{$PourcentPerte := .Details.PourcentagePerte}}
{{with .Details.Chantier}}
<table class="th-left">
    <tr>
        <th>Dates (déchiquetage)</th>
        <td>{{.DateDebut | dateFr}} - {{.DateFin | dateFr}}</td>
    </tr>
    
    <tr>
        <th>Lieux-dits</th>
        <td>
        {{range .Lieudits}}
            <div><a href="/lieudit/{{.Id}}">{{.Nom}}</a></div>
        {{end}}
        </td>
    </tr>
    
    <tr>
        <th>Unités de gestion</th>
        <td>
        {{range .UGs}}
            <div><a href="/ug/{{.Id}}">{{.Code}}</a></div>
        {{end}}
        </td>
    </tr>
    
    <tr>
        <th>Fermiers</th>
        <td>
        {{range .Fermiers}}
            <div><a href="/fermier/{{.Id}}">{{.Prenom}} {{.Nom}}</a></div>
        {{end}}
        </td>
    </tr>
    
    <tr>
        <th>Surface concernée</th>
        <td>{{.Surface}} ha</td>
    </tr>
    
    <tr>
        <th>Granulométrie</th>
        <td>{{.Granulo}}</td>
    </tr>
    
    <tr>
        <th>Essence</th>
        <td>{{.Essence | labelEssence}}</td>
    </tr>
    
    <tr>
        <th>Exploitation</th>
        <td>{{.Exploitation | labelExploitation}}</td>
    </tr>
    
    <tr>
        <th class="vertical-align-top">Stockage (tas)</th>
        <td>
            {{range .Tas}}
                {{if .Stockage.Archived}}
                    <div>{{.Nom}}</div>
                {{else}}
                    <div><a href="/stockage/liste">{{.Nom}}</a> : {{.Stock}} maps</div>
                {{end}}
            {{end}}
        </td>
    </tr>
    
    {{if .FraisRepas}}
    <tr>
        <th class="vertical-align-top">Frais repas</th>
        <td>{{.FraisRepas}} &euro;</td>
    </tr>
    {{end}}

    {{if .FraisReparation}}
    <tr>
        <th class="vertical-align-top">Frais réparation</th>
        <td>{{.FraisReparation}} &euro;</td>
    </tr>
    {{end}}

    {{if .Ventes}}
    <tr>
        <th class="vertical-align-top">Ventes</th>
        <td>
            {{range .Ventes}}
                <div><a href="/vente/{{.Id}}">Vente {{.String}}</a></div>
            {{end}}
        </td>
    </tr>
    {{end}}

</table>

<table class="bordered" style="margin-top:1em;">
    <tr>
        <th>Qté broyée au départ<br>(volume vert)</th>
        <th>Perte<br>{{$PourcentPerte}} %</th>
        <th>Volume sec</th>
    </tr>
    <tr>
        <td>{{.Volume}} map</td>
        <td><script>let nb = {{.Volume}}*{{$PourcentPerte}}/100; document.write(round(nb, 2));</script> map</td>
        <td><script>nb = {{.Volume}}*(1 - {{$PourcentPerte}}/100); document.write(round(nb, 2));</script> map</td>
    </tr>
</table>

{{end}}