<h1>
{{.Header.Title}}
</h1>

{{with .Details.Transport}}
<form class="form" action="{{$.Details.UrlAction}}" onsubmit="return validateForm();" method="post">

    <div class="grid2-form">
        
        <label>Chantier</label>
        <input type="text" value="{{.Chantier.String}}" readonly>
                
        <label for="tas">Stockage (tas)</label>
        <select name="tas" id="tas" class="width30" required>
            <option id="CHOOSE_TAS" value="CHOOSE_TAS">--- Choisir ---</option>
            {{range .Chantier.Tas}}
            <option id="tas-{{.Id}}" value="tas-{{.Id}}">{{.Nom}}</option>
            {{end}}
        </select>
        
        <label for="datetrans">Date transport</label>
        <input type="date" name="datetrans" id="datetrans" value="{{.DateTrans | dateIso}}" class="width20" required>
        
        <label for="qte">Quantité</label>
        <div><input type="number" name="qte" id="qte" step="0.01" min="0" value="{{.Qte | zero2empty}}" class="width5" required> maps</div>
        
        <!-- ****************** Coût global ******************* -->
        <div class="big5 bold">
            <input type="radio" name="type-cout" id="cout-global" value="cout-global">
            <label for="cout-global">COÛT GLOBAL</label>
        </div>
        <div></div>
        
        <label for="transporteur">Transporteur</label>
        <div class="autocomplete">
            <input type="text" name="transporteur" id="transporteur" value="" autocomplete="off" class="width20" required>
        </div>

        <label for="glprix">Prix HT</label>
        <input type="number" name="glprix" id="glprix" step="0.01" min="0" value="{{.GlPrix | zero2empty}}" class="width5" required>
        
        <label for="gltva">Taux TVA</label>
        <select name="gltva" id="gltva" class="width8" required>
            {{$.Details.GlTVAOptions}}
        </select>
        
        <label for="gldatepay">Date Paiement</label>
        <input type="date" name="gldatepay" id="gldatepay" value="{{.GlDatePay | dateIso}}" class="width20">
    
        <!-- ****************** Coût détaillé ******************* -->
        <div class="big5 bold">
            <input type="radio" name="type-cout" id="cout-detaille" value="cout-detaille">
            <label for="cout-detaille">COÛT DÉTAILLÉ</label>
        </div>
        <div></div>
        
        <!-- ******************* Conducteur ****************** -->
        <div class="big3 bold">1 - Coût conducteur</div><div></div>
        
        <label for="conducteur">Conducteur</label>
        <div class="autocomplete">
            <input type="text" name="conducteur" id="conducteur" value="" autocomplete="off" class="width20" required>
        </div>

        <label for="connheure">Nb heures</label>
        <input type="number" name="connheure" id="connheure" step="0.01" min="0" value="{{.ConNheure | zero2empty}}" class="width5">
        
        <label for="conprixh">Prix HT / heure</label>
        <input type="number" name="conprixh" id="conprixh" step="0.01" min="0" value="{{.ConPrixH | zero2empty}}" class="width5">
        
        <label for="contva">Taux TVA</label>
        <select name="contva" id="contva" class="width8">
            {{$.Details.ConTVAOptions}}
        </select>
        
        <label for="condatepay">Date Paiement</label>
        <input type="date" name="condatepay" id="condatepay" value="{{.ConDatePay | dateIso}}" class="width20">
        
        <!-- ******************* Outil ****************** -->
        <div class="big3 bold">2 - Coût outil</div><div></div>
        
        <label for="proprioutil">Propriétaire outil</label>
        <div class="autocomplete">
            <input type="text" name="proprioutil" id="proprioutil" value="" autocomplete="off" class="width20" required>
        </div>

        <!-- ****************** Camion ******************* -->
        <div class="big2 bold">
            <input type="radio" name="type-transport" id="camion" value="camion">
            <label for="camion">Camion</label>
        </div>
        <div></div>
        
        <label for="cankm">Nb km</label>
        <input type="number" name="cankm" id="cankm" step="0.01" min="0" value="{{.CaNkm | zero2empty}}" class="width5">
        
        <label for="caprixkm">Prix HT / km</label>
        <input type="number" name="caprixkm" id="caprixkm" step="0.01" min="0" value="{{.CaPrixKm | zero2empty}}" class="width5">
        
        <label for="catva">Taux TVA</label>
        <select name="catva" id="catva" class="width8">
            {{$.Details.CaTVAOptions}}
        </select>
        
        <label for="cadatepay">Date Paiement</label>
        <input type="date" name="cadatepay" id="cadatepay" value="{{.CaDatePay | dateIso}}" class="width20">
        
        <!-- ****************** Tracteur + benne ******************* -->
        <div class="big2 bold">
            <input type="radio" name="type-transport" id="tracteur" value="tracteur">
            <label for="tracteur">Tracteur + benne</label>
        </div>
        <div></div>
        
        <label for="tbnbenne">Nb bennes</label>
        <input type="number" name="tbnbenne" id="tbnbenne" step="1" value="{{.TbNbenne | zero2empty}}" class="width5">
        
        <label for="tbduree">Durée / benne</label>
        <div>
            <input type="number" name="tbduree" id="tbduree" step="0.01" min="0" value="{{.TbDuree | zero2empty}}" class="width5">
            (heures)
        </div>
        
        <label for="tbprixh">Prix HT / heure</label>
        <input type="number" name="tbprixh" id="tbprixh" step="0.01" min="0" value="{{.TbPrixH | zero2empty}}" class="width5">
        
        <label for="tbtva">Taux TVA</label>
        <select name="tbtva" id="tbtva" class="width8">
            {{$.Details.TbTVAOptions}}
        </select>
        
        <label for="tbdatepay">Date Paiement</label>
        <input type="date" name="tbdatepay" id="tbdatepay" value="{{.TbDatePay | dateIso}}" class="width20">
        
        <label for="notes">Notes</label>
        <textarea rows="6" cols="50" name="notes" id="notes">{{.Notes}}</textarea>
        
    </div>
    
    <div class="float-right margin-top">
        <input type="button" name="cancel" value="Annuler" onClick="window.history.back();">
        <input type="submit" class="margin-left" value="Valider">
    </div>

    <input type="hidden" name="id-plaqtrans" id="id-plaqtrans" value="{{.Id}}">
    <input type="hidden" name="id-chantier" id="id-chantier" value="{{.IdChantier}}">
    <input type="hidden" name="id-transporteur" id="id-transporteur" value="{{.IdTransporteur}}">
    <input type="hidden" name="id-conducteur" id="id-conducteur" value="{{.IdConducteur}}">
    <input type="hidden" name="id-proprioutil" id="id-proprioutil" value="{{.IdProprioutil}}">
    
</form>


<script>
window.addEventListener("load", function(){
    autocomplete(document.getElementById("transporteur"), getActeursPossibles);
    autocomplete(document.getElementById("conducteur"), getActeursPossibles);
    autocomplete(document.getElementById("proprioutil"), getActeursPossibles);
    // Pour vérifier que le transporteur / conducteur / proprioutil affichés correspondent à une personne existant en base.
    // on ne peut pas se fier uniquement à getElementById("id-transporteur") ou ("id-conducteur") ou ("id-proprioutil")
    // car l'utilisateur peut modifier le nom après le retour de l'autocomplete
    window.globalPersons = [];
    initialize();
    
    let radios = document.getElementsByName("type-cout");
    for( i = 0; i < radios.length; i++ ){
        radios[i].onchange = changeTypeCout;
    }
    radios = document.getElementsByName("type-transport");
    for( i = 0; i < radios.length; i++ ){
        radios[i].onchange = changeTypeTransport;
    }
});

// ***************************************
function initialize(){
    // form new
    if({{.Transporteur.Id}} == 0){
        if({{len .Chantier.Tas}} == 1){
            // cas le plus fréquent - sélectionne par défaut le seul tas possible
            document.getElementById("tas-" + {{(index .Chantier.Tas 0).Id}}).setAttribute("selected", "selected");
        }
        else{
            document.getElementById("CHOOSE_TAS").setAttribute("selected", "selected");
        }
        //
        document.getElementById("cout-global").setAttribute("checked", true);
        document.getElementById("camion").setAttribute("checked", true);
        razConducteur();
        razProprioutil();
        razCamion();
        razTracteur();
        enableCoutGlobal();
    }
    // form update
    else{
        document.getElementById("transporteur").value = "{{.Transporteur.NomAutocomplete}}";
        document.getElementById("conducteur").value = "{{.Conducteur.NomAutocomplete}}";
        document.getElementById("proprioutil").value = "{{.Proprioutil.NomAutocomplete}}";
        window.globalPersons[{{.IdTransporteur}}] = "{{.Transporteur.NomAutocomplete}}";
        window.globalPersons[{{.IdConducteur}}] = "{{.Conducteur.NomAutocomplete}}";
        window.globalPersons[{{.IdProprioutil}}] = "{{.Proprioutil.NomAutocomplete}}";
        //
        document.getElementById("tas-{{.IdTas}}").setAttribute("selected", "selected");
        //
        if("{{.TypeCout}}" == "G"){
            document.getElementById("cout-global").setAttribute("checked", true);
            document.getElementById("camion").setAttribute("checked", true);
            enableCoutGlobal();
        }
        else{
            document.getElementById("cout-detaille").setAttribute("checked", true);
            razGlobal();
            enableCoutDetaille();
            if({{.TypeCout}} == "C"){
                document.getElementById("camion").setAttribute("checked", true);
                razTracteur();
                enableCamion();
            }
            else{
                document.getElementById("tracteur").setAttribute("checked", true);
                razCamion();
                enableTracteur();
            }
        }
    }
}

// ***************************************
function changeTypeCout(){
    if(document.getElementById("cout-global").checked){
        razConducteur();
        razProprioutil();
        razCamion();
        razTracteur();
        enableCoutGlobal();
    }
    else{
        razGlobal();
        enableCoutDetaille();
        changeTypeTransport();
    }
}

// ***************************************
function changeTypeTransport(){
    if(document.getElementById("camion").checked){
        razTracteur();
        enableCamion();
    }
    else{
        razCamion();
        enableTracteur();
    }
}

// ***************************************
/** 
    ATTENTION - toutes les fonctions raz*() doivent être appelées
    AVANT les fonctions enable*() touchant à disabled ou readonly
    (car modif value a parfois besoin que les éléments soient enabled)
**/
function razGlobal(){
    document.getElementById("transporteur").value = "";
    document.getElementById("glprix").value = "";
    document.getElementById("gltva").value = "CHOOSE_TVA_GL";
    document.getElementById("gldatepay").value = "";
}
function razConducteur(){
    document.getElementById("conducteur").value = "";
    document.getElementById("connheure").value = "";
    document.getElementById("conprixh").value = "";
    document.getElementById("contva").value = "CHOOSE_TVA_CON";
    document.getElementById("condatepay").value = "";
}
function razProprioutil(){
    document.getElementById("proprioutil").value = "";
}
function razCamion(){
    document.getElementById("cankm").value = "";
    document.getElementById("caprixkm").value = "";
    document.getElementById("catva").value = "CHOOSE_TVA_CA"; 
    document.getElementById("cadatepay").value = "";
}
function razTracteur(){
    document.getElementById("tbnbenne").value = "";
    document.getElementById("tbduree").value = "";
    document.getElementById("tbprixh").value = "";
    document.getElementById("tbtva").value = "CHOOSE_TVA_TB";
    document.getElementById("tbdatepay").value = "";
}

// ***************************************
/** 
    Enable coût global - disable coût détaillé
**/
function enableCoutGlobal(){
    // global
    document.getElementById("transporteur").readOnly = false;
    document.getElementById("glprix").readOnly = false;
    document.getElementById("gltva").disabled = false;
    document.getElementById("gldatepay").readOnly = false;
    // conducteur
    document.getElementById("conducteur").readOnly = true;
    document.getElementById("connheure").readOnly = true;
    document.getElementById("conprixh").readOnly = true;
    document.getElementById("contva").disabled = true;
    document.getElementById("condatepay").readOnly = true;
    // radios camion / tracteur
    document.getElementById("camion").disabled = true;
    document.getElementById("tracteur").disabled = true;
    // proprioutil
    document.getElementById("proprioutil").disabled = true;
    // camion
    document.getElementById("cankm").readOnly = true;
    document.getElementById("caprixkm").readOnly = true;
    document.getElementById("catva").disabled = true;
    document.getElementById("cadatepay").readOnly = true;
    // tracteur
    document.getElementById("tbnbenne").readOnly = true;
    document.getElementById("tbduree").readOnly = true;
    document.getElementById("tbprixh").readOnly = true;
    document.getElementById("tbtva").disabled = true;
    document.getElementById("tbdatepay").readOnly = true;
}

// ***************************************
/** 
    Enable coût détaillé - disable coût global
    Doit être suivi par un appel à enableCamion() ou enableTracteur()
**/
function enableCoutDetaille(){
    // global
    document.getElementById("transporteur").readOnly = true;
    document.getElementById("glprix").readOnly = true;
    document.getElementById("gltva").disabled = true;
    document.getElementById("gldatepay").readOnly = true;
    // proprioutil
    document.getElementById("proprioutil").disabled = false;
    // radios camion / tracteur
    document.getElementById("camion").disabled = false;
    document.getElementById("tracteur").disabled = false;
    // conducteur
    document.getElementById("conducteur").readOnly = false;
    document.getElementById("connheure").readOnly = false;
    document.getElementById("conprixh").readOnly = false;
    document.getElementById("contva").disabled = false;
    document.getElementById("condatepay").readOnly = false;
}

// ***************************************
/** 
    Enable camion - disable tracteur
**/
function enableCamion(){
    // camion
    document.getElementById("cankm").readOnly = false;
    document.getElementById("caprixkm").readOnly = false;
    document.getElementById("catva").disabled = false;
    document.getElementById("cadatepay").readOnly = false;
    // tracteur
    document.getElementById("tbnbenne").readOnly = true;
    document.getElementById("tbduree").readOnly = true;
    document.getElementById("tbprixh").readOnly = true;
    document.getElementById("tbtva").disabled = true;
    document.getElementById("tbdatepay").readOnly = true;
}

// ***************************************
/** 
    Enable camion - disable tracteur
**/
function enableTracteur(){
    // camion
    document.getElementById("cankm").readOnly = true;
    document.getElementById("caprixkm").readOnly = true;
    document.getElementById("catva").disabled = true;
    document.getElementById("cadatepay").readOnly = true;
    // tracteur
    document.getElementById("tbnbenne").readOnly = false;
    document.getElementById("tbduree").readOnly = false;
    document.getElementById("tbprixh").readOnly = false;
    document.getElementById("tbtva").disabled = false;
    document.getElementById("tbdatepay").readOnly = false;
}

// ***************************************
/** 
    Fonction utilisée par autocomplete() pour s'alimenter en données
    @param inputField input type=text utilisé
                      pour récupérer des noms de personnes par ajax
**/
// @todo remplacer async = false par await et Promise
function getActeursPossibles(inputField){
    var result = [];
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var response = JSON.parse(this.responseText);
            if(response != null){
                response.forEach(function(item) {
                    result.push(item.name);
                    window.globalPersons[item.id] = item.name;
                });
            }
        }
    };
    xhr.open("GET", "/ajax/autocomplete/acteur/" + inputField.value, false);
    xhr.send();
    return result;
}

// ***************************************
function validateForm(){
    // attribut required pas utilisable à cause du choix possible entre cout global / détaillé
    // remplacé par tests et alert
    let msg = "";
    let personName;
    let personOk;
    let idActeur;
    if(document.getElementById("CHOOSE_TAS").selected == true){
        msg += "\n- Vous devez choisir un tas (lieu de stockage)";
    }
    if(document.getElementById("cout-global").checked){
        // Coût global
        if(document.getElementById("CHOOSE_TVA_GL").selected == true){
            msg += "\n- Vous devez choisir un taux de TVA pour le coût global";
        }
        if(document.getElementById("glprix").value == ""){
            msg += "\n- Vous devez choisir un prix global HT";
        }
        // calcul de id-transporteur
        personName = document.getElementById("transporteur").value.trim();
        if(personName == ""){
            msg += "\n- Vous devez renseigner un transporteur";
        }
        else {
            personOk = false;
            for(idActeur in window.globalPersons){
                if(window.globalPersons[idActeur] == personName){
                    personOk = true;
                    break;
                }
            }
            if(!personOk){
                msg += "Le nom \"" + personName + "\"n'existe pas en base.";
            }
            else{
                document.getElementById("id-transporteur").value = idActeur;
            }
        }
    } // fin coût global
    else{
        // Coût détaillé
        // Conducteur
        if(document.getElementById("CHOOSE_TVA_CON").selected == true){
            msg += "\n- Vous devez choisir un taux de TVA (conducteur)";
        }
        if(document.getElementById("connheure").value == ""){
            msg += "\n- Vous devez choisir un nombre d'heures (conducteur)";
        }
        if(document.getElementById("conprixh").value == ""){
            msg += "\n- Vous devez choisir un prix / heure (conducteur)";
        }
        if(document.getElementById("camion").checked){
            // Camion
            if(document.getElementById("CHOOSE_TVA_CA").selected == true){
                msg += "\n- Vous devez choisir un taux de TVA (camion)";
            }
            if(document.getElementById("cankm").value == ""){
                msg += "\n- Vous devez choisir un nombre de km (camion)";
            }
            if(document.getElementById("caprixkm").value == ""){
                msg += "\n- Vous devez choisir un prix au km (camion)";
            }
        }
        else{
            // Tracteur + benne
            if(document.getElementById("CHOOSE_TVA_TB").selected == true){
                msg += "\n- Vous devez choisir un taux de TVA (tracteur)";
            }
            if(document.getElementById("tbduree").value == ""){
                msg += "\n- Vous devez choisir une durée (tracteur)";
            }
            if(document.getElementById("tbnbenne").value == ""){
                msg += "\n- Vous devez choisir un nombre de bennes (tracteur)";
            }
            if(document.getElementById("tbprixh").value == ""){
                msg += "\n- Vous devez choisir un prix / heure (tracteur)";
            }
        }
        // calcul de id-conducteur
        personName = document.getElementById("conducteur").value.trim();
        if(personName == ""){
            msg += "\n- Vous devez renseigner un conducteur";
        }
        else {
            personOk = false;
            for(idActeur in window.globalPersons){
                if(window.globalPersons[idActeur] == personName){
                    personOk = true;
                    break;
                }
            }
            if(!personOk){
                msg += "Le nom \"" + personName + "\"n'existe pas en base.";
            }
            else{
                document.getElementById("id-conducteur").value = idActeur;
            }
        }
        // calcul de id-proprioutil
        personName = document.getElementById("proprioutil").value.trim();
        if(personName == ""){
            msg += "\n- Vous devez renseigner un propriétaire de l'outil";
        }
        else {
            personOk = false;
            for(idActeur in window.globalPersons){
                if(window.globalPersons[idActeur] == personName){
                    personOk = true;
                    break;
                }
            }
            if(!personOk){
                msg += "Le nom \"" + personName + "\"n'existe pas en base.";
            }
            else{
                document.getElementById("id-proprioutil").value = idActeur;
            }
        }
    } // fin coût détaillé
    //
    if(msg != ""){
        alert(msg);
        return false;
    }
    return true;
}
</script>

{{end}}