{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<style>
    #bilan-saison .titre-saison{
        background:none;
    }
    #bilan-saison .total-saison{
        background:#dbe599;
        font-weight:bold;
    }
</style>

<script>
    const totaux = new Map();
</script>

{{with .Details}}
    {{with .BilansActivitesParSaison}}
        <table id="bilan-saison" class="entities">
            <thead>
                <tr>
                    <th class="padding-left4 right">Valorisation</th>
                    <th>Volume</th>
                    <th>Revenus HT</th>
                </tr>
            </thead>
            <tbody>
                {{/* loop sur les saisons */}}
                {{range .}}
                    <script>
                        {{range $idProprio, $labelProprio := $.Details.LabelProprios}}
                           totaux.set({{$idProprio}}, 0);
                        {{end}}
                    </script>
                    <tr class="titre-saison">
                        <td colspan="3" class="bold padding-top">
                            <br>
                            {{.Datedeb | dateFr}} - {{.Datefin | dateFr}}
                        </td>
                    </tr>
                    {{range .TotalActivitesParValo}}
                        <tr>
                            <td class="right">
                                {{.TypeValo | labelValo}}
                            </td>
                            <td class="padding-left2">
                                {{.Volume}} {{.Unite | labelUnite}}
                            </td>
                            <td class="padding-left2">
                                <table>
                                {{$prixHT := .PrixHT}} {{/* Sans cette affectation .PrixHT n'est plus accessible dans le range */}}
                                {{range $idProprio, $labelProprio := $.Details.LabelProprios}}
                                    {{$prix := index $prixHT $idProprio}}
                                    <script>
                                        totaux.set({{$idProprio}}, totaux.get({{$idProprio}}) + {{$prix}});
                                    </script>
                                    <tr>
                                        <td>{{index $.Details.LabelProprios $idProprio}}</td>
                                        <td class="padding-left right"><script>document.write(formatNb(round({{$prix}}, 2)));</script> &euro;</td>
                                    </tr>
                                {{end}}
                                </table>
                            </td>
                        </tr>
                    {{end}}
                    <tr class="total-saison">
                        <td colspan="2">Total</td>
                        <td class="padding-left2">
                            <table>
                            {{range $idProprio, $labelProprio := $.Details.LabelProprios}}
                                <tr>
                                    <td>{{$labelProprio}}</td>
                                    <td class="padding-left right">
                                        <script>document.write(formatNb(round(totaux.get({{$idProprio}}), 2)));</script> &euro;
                                    </td>
                                </tr>
                            {{end}}
                            </table>
                        </td>
                    </tr>
                {{end}}
            <tbody>
        </table>
    {{else}}
        <div class="big2 bold">Aucune activité ne correspond aux critères demandés</div>
    {{end}}

{{end}}
