{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

{{with .Details.ActivitesParUG}}

<div class="margin-left bold">{{len .}} UGs concernées</div>

<table class="entities">
<thead>
    <tr>
        <th>Date</th>
        <th>Titre</th>
        <th>Valorisation</th>
        <th>Essence</th>
        <th>Volume</th>
    </tr>
</thead>

<tbody>
    {{range .}}
        <tr>
            <td colspan="5" class="bold"><a href="/ug/{{.UG.Id}}">{{.UG.Code}}</a></td>
        </tr>
        {{range .Activites}}
            <tr>
                <td>
                    <span class="padding-left3">{{.DateActivite | dateFr}}</span>
                </td>
                <td>
                    {{if .URL}}<a href="{{.URL}}">{{.Titre}}</a>{{else}}{{.Titre}}{{end}}
                </td>
                <td>
                    {{.TypeValo | labelValo}}
                </td>
                <td>
                    {{.CodeEssence | labelEssence}}
                </td>
                <td>
                    {{.Volume}} {{.Unite | labelUnite}}
                </td>
            </tr>
        {{end}}
    {{end}}
</tbody>
</table>

{{else}} {{/* with .Details.ActivitesParUG */}}

<div class="big2 bold">Aucune activité ne correspond aux critères demandés</div>

{{end}} {{/* with .Details.ActivitesParUG */}}
