{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<style>
    #bilan-saison .titre-saison{
        background:none;
    }
    #bilan-saison .total-saison{
        background:#dbe599;
        font-weight:bold;
    }
</style>

<script>
    const totaux = new Map();
</script>

{{with .Details}}
    {{with .BilansActivitesParSaison}}
        <table id="bilan-saison" class="entities">
            <tbody>
                {{/* loop sur les saisons */}}
                {{$nbProprios := len $.Details.LabelProprios}}
                {{range .}}
                    <script>
                        {{range $idProprio, $labelProprio := $.Details.LabelProprios}}
                           totaux.set({{$idProprio}}, 0);
                        {{end}}
                    </script>
                    <tr class="titre-saison">
                        <td colspan="4" class="bold padding-top">
                            <br>
                            {{.Datedeb | dateFr}} - {{.Datefin | dateFr}}
                        </td>
                    </tr>
                    {{range .TotalActivitesParValo}}
                        <tr>
                            <td rowspan="{{$nbProprios}}" class="right">
                                {{.TypeValo | labelValo}}
                            </td>
                            {{/* Sans ces 3 affectations .PrixHT, .Unite et .Volume ne sont plus accessibles dans le range */}}
                            {{$prixHT := .PrixHT}}
                            {{$volume := .Volume}}
                            {{$unite := .Unite}}
                            {{$i := 0}}
                            {{range $idProprio, $labelProprio := $.Details.LabelProprios}}
                                {{if ne $i 0}}<tr>{{end}}
                                {{$i = plus $i 1}}
                                {{$prixPourCeProprio := index $prixHT $idProprio}}
                                {{$volumePourCeProprio := index $volume $idProprio}}
                                <script>
                                    totaux.set({{$idProprio}}, totaux.get({{$idProprio}}) + {{$prixPourCeProprio}});
                                </script>
                                    <td>{{index $.Details.LabelProprios $idProprio}}</td>
                                    <td class="padding-left right"><script>document.write(formatNb(round({{$volumePourCeProprio}}, 2)));</script> {{$unite | labelUnite}}</td>
                                    <td class="padding-left right"><script>document.write(formatNb(round({{$prixPourCeProprio}}, 2)));</script> &euro;</td>
                                </tr>
                            {{end}}
                    {{end}}
                    <tr class="total-saison">
                        <td colspan="3">Total</td>
                        <td class="padding-left2">
                            <table>
                            {{range $idProprio, $labelProprio := $.Details.LabelProprios}}
                                <tr>
                                    <td>{{$labelProprio}}</td>
                                    <td class="padding-left right">
                                        <script>document.write(formatNb(round(totaux.get({{$idProprio}}), 2)));</script> &euro;
                                    </td>
                                </tr>
                            {{end}}
                            </table>
                        </td>
                    </tr>
                {{end}}
            <tbody>
        </table>
    {{else}}
        <div class="big2 bold">Aucune activité ne correspond aux critères demandés</div>
    {{end}}

{{end}}
