{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<style>
    #table-bilan-saison td{
        padding:3px;
    }
    #table-bilan-saison{
        margin-left:1rem;
    }
    #table-bilan-saison .titre-saison{
        background:none;
    }
    #table-bilan-saison .total-saison{
        background:#dbe599;
        font-weight:bold;
    }
    #table-bilan-saison .pair{
        background-color:lightyellow;
    }
    #table-bilan-saison .impair{
        background-color:lightgrey;
    }
</style>

<script>
    const totaux = new Map();
</script>

{{with .Details}}
    {{$nbProprios := len .LabelProprios}}
    {{with .BilansActivitesParSaison}}
        <table id="table-bilan-saison">
            <tbody>
                {{/* loop sur les saisons */}}
                {{range .}}
                    {{range $idProprio, $labelProprio := $.Details.LabelProprios}}
                        <script>
                            totaux.set({{$idProprio}}, 0);
                        </script>
                    {{end}}
                    <tr class="titre-saison">
                        <td colspan="4" class="bold padding-top">
                            <br>
                            {{.Datedeb | dateFr}} - {{.Datefin | dateFr}}
                        </td>
                    </tr>
                    {{/* $idxRow et $rowClass nécessaires à cause de rowspan */}}
                    {{$idxRow := 0}}
                    {{$rowClass := "impair"}}
                    
                    {{if $.Details.HasPlaquettes}}
                        <tr class="{{$rowClass}}">
                            <td rowspan="{{$nbProprios}}" class="right">
                                <b>Plaquettes vendues</b>
                                <br>(bois sec)
                            </td>
                            {{/* Sans cette affectation .VentePlaquettesParProprio n'est plus accessibles dans le range */}}
                            {{$ventes := .VentePlaquettesParProprio}}
                            {{$i := 0}}
                            {{range $idProprio, $labelProprio := $.Details.LabelProprios}}
                                {{if ne $i 0}}<tr class="{{$rowClass}}">{{end}}
                                {{$i = plus $i 1}}
                                <td>{{index $.Details.LabelProprios $idProprio}}</td>
                                <td class="padding-left right">
                                    <script>document.write(formatNb(round({{index $ventes $idProprio}}, 2)));</script> maps
                                </td>
                                <td class="padding-left right">
                                </td>
                        </tr>
                            {{end}}
                            
                        {{$idxRow = plus $idxRow 1}}
                        {{if eq 0 (modulo $idxRow 2) }} {{$rowClass = "impair"}} {{else}} {{$rowClass = "pair"}} {{end}}
                        <tr class="{{$rowClass}}">
                            <td rowspan="{{$nbProprios}}" class="right">
                                <b>Plaquettes coupées</b>
                                <br>(bois vert)
                            </td>
                            {{/* Sans ces 3 affectations .TotalActivitesPlaquettesParProprio.PrixHT, .Unite et .Volume ne sont plus accessibles dans le range */}}
                            {{$prixHT := .TotalActivitesPlaquettesParProprio.PrixHT}}
                            {{$volume := .TotalActivitesPlaquettesParProprio.Volume}}
                            {{$unite := .TotalActivitesPlaquettesParProprio.Unite}}
                            {{$i := 0}}
                            {{range $idProprio, $labelProprio := $.Details.LabelProprios}}
                                {{if ne $i 0}}<tr class="{{$rowClass}}">{{end}}
                                {{$i = plus $i 1}}
                                {{$prixPourCeProprio := index $prixHT $idProprio}}
                                {{$volumePourCeProprio := index $volume $idProprio}}
                                <script>
                                    totaux.set({{$idProprio}}, totaux.get({{$idProprio}}) + {{$prixPourCeProprio}});
                                </script>
                                    <td>{{index $.Details.LabelProprios $idProprio}}</td>
                                    <td class="padding-left right">
                                        <script>document.write(formatNb(round({{$volumePourCeProprio}}, 2)));</script> {{$unite | labelUnite}}
                                    </td>
                                    <td class="padding-left right">
                                    </td>
                        </tr>
                            {{end}}
                    {{end}}{{/* end if $.Details.HasPlaquettes */}}
                    
                    {{/* Afficher les autres valos (pas les plaquettes) */}}
                    {{range .TotalActivitesParValoEtProprio}}
                        {{$idxRow = plus $idxRow 1}}
                        {{if eq 0 (modulo $idxRow 2) }} {{$rowClass = "impair"}} {{else}} {{$rowClass = "pair"}} {{end}}
                        <tr class="{{$rowClass}}">
                            <td rowspan="{{$nbProprios}}" class="right">
                                {{.TypeValo | labelValo}}
                            </td>
                            {{/* Sans ces 3 affectations .PrixHT, .Unite et .Volume ne sont plus accessibles dans le range */}}
                            {{$prixHT := .PrixHT}}
                            {{$volume := .Volume}}
                            {{$unite := .Unite}}
                            {{$i := 0}}
                            {{range $idProprio, $labelProprio := $.Details.LabelProprios}}
                                {{if ne $i 0}}<tr class="{{$rowClass}}">{{end}}
                                {{$i = plus $i 1}}
                                {{$prixPourCeProprio := index $prixHT $idProprio}}
                                {{$volumePourCeProprio := index $volume $idProprio}}
                                <script>
                                    totaux.set({{$idProprio}}, totaux.get({{$idProprio}}) + {{$prixPourCeProprio}});
                                </script>
                                    <td>{{index $.Details.LabelProprios $idProprio}}</td>
                                    <td class="padding-left right">
                                        <script>document.write(formatNb(round({{$volumePourCeProprio}}, 2)));</script> {{$unite | labelUnite}}
                                    </td>
                                    <td class="padding-left right">
                                        <script>document.write(formatNb(round({{$prixPourCeProprio}}, 2)));</script> &euro;
                                    </td>
                        </tr>
                            {{end}}
                    {{end}}
                    <tr class="total-saison">
                        <td colspan="3">Total</td>
                        <td class="padding-left2">
                            <table>
                            {{range $idProprio, $labelProprio := $.Details.LabelProprios}}
                                <tr>
                                    <td>{{$labelProprio}}</td>
                                    <td class="padding-left right">
                                        <script>document.write(formatNb(round(totaux.get({{$idProprio}}), 2)));</script> &euro;
                                    </td>
                                </tr>
                            {{end}}
                            </table>
                        </td>
                    </tr>
                {{end}}{{/* fin loop sur les saisons */}}
            </tbody>
        </table>
    {{else}}
        <div class="big2 bold">Aucune activité ne correspond aux critères demandés</div>
    {{end}}

{{end}}
