{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}
<div style="padding:.5rem 0 0 5rem;">
    <h1>Recherche d'activités</h1>
</div>


<form class="form" action="{{$.Details.UrlAction}}" onsubmit="return validateForm();" method="post" novalidate>

    <h2>Filtres</h2>
    <div class="flex-wrap">
        <div class="inline-block">
            <div>
                {{template "choix-periode.html" $.Details}}
                <script>
                const choixPeriode = new ChoixPeriode('choix-periode');
                choixPeriode.display();
                choixPeriode.initialize();
                </script>
            </div>
            <div class="margin-top">
                {{template "choix-proprio.html" $.Details}}
                <script>
                const choixProprio = new ChoixProprio('choix-proprio');
                choixProprio.display();
                choixProprio.initialize();
                </script>
            </div>
        </div>
        <div class="inline-block">
            {{template "choix-essence.html" $.Details}}
            <script>
            const choixEssence = new ChoixEssence('choix-essence');
            choixEssence.display();
            choixEssence.initialize();
            </script>
        </div>
        
        {{/*
        <div class="inline-block">
            {{template "choix-acteur.html" $.Details}}
            <script>
            const choixActeur = new ChoixActeur('choix-acteur');
            choixActeur.display();
            choixActeur.initialize();
            </script>
        </div>
        */}}
    </div>
    
    <input type="submit" class="float-right big-button" value="Valider">
    
</form>


