
<h1>{{.Header.Title}}</h1>

{{with .Details}}
<form class="form margin-left2" action="{{.UrlAction}}" onsubmit="return validateForm();" method="post">
    <div class="grid2-form">
        <label>Lieu de stockage</label>
        <input type="text" value="{{.Stockage.Nom}}" class="width20" readonly>
    
        <label for="typefrais">Type de frais</label>
        <select name="typefrais" id="typefrais" class="width10">
            {{$.Details.TypeFraisOptions}}
        </select>
        
        <label for="date-debut">Date début : </label>
        <input type="date" id="date-debut" name="date-debut" value="{{.Frais.DateDebut | dateIso}}" required>
        
        <label for="date-fin">Date fin : </label>
        <input type="date" id="date-fin" name="date-fin" value="{{.Frais.DateFin | dateIso}}" required>
        
        <label for="montant">Montant (&euro;) : </label>
        <input type="number" id="montant" name="montant" step="0.01" min="0" min="0" value="{{.Frais.Montant | zero2empty}}" class="width5" required>
        
        <input type="hidden" name="id-frais" value="{{.Frais.Id}}">
        <input type="hidden" name="id-stockage" value="{{.Stockage.Id}}">
    </div>
    <br>
    <div class="float-right margin-top">
        <input type="button" name="cancel" value="Annuler" onClick="window.history.back();">
        <input type="submit" class="margin-left" value="Valider">
    </div>
</form>
{{end}}


<script>
window.addEventListener("load", function(){
    initialize();
});

// ***************************************
function initialize(){
}

// ***************************************
function validateForm(){
    let msg = "";
    var deb = document.getElementById("date-debut").value;
    var fin = document.getElementById("date-fin").value;
    if(fin <= deb){
        msg += "La date de fin doit se situer après la date de début";
    }
    if(document.getElementById("CHOOSE_TYPEFRAIS").selected == true){
        msg += "\n- Vous devez choisir un type de frais";                                           
    }
    //
    if(msg != ""){
        msg = "Impossible de valider ce formulaire :" + msg;
        alert(msg);
        return false;
    }
    return true;
}
</script>
