
<h1>{{.Header.Title}}</h1>

{{with .Details.Stockage}}
<form class="form" action="{{$.Details.UrlAction}}" method="post">

    <div class="grid2-form">

        <label for="nom">Nom</label>
        <input class="margin-left05" type="text" name="nom" value="{{.Nom}}" required size="40">
        
    </div>
    
    <div class="margin-top">
        <div class="float-left">
            <a href="#help" id="toogle-help" class="help-button" title="Afficher l'aide de ce formulaire" onClick="toogle('help');">?</a>
        </div>
        <div class="float-right">
            <input type="button" name="cancel" value="Annuler" onClick="window.history.back();">
            <input type="submit" class="margin-left" value="Valider">
        </div>
    </div>
    
    <input type="hidden" name="id" value="{{.Id}}">
    
</form>
{{end}}

<a name="help"></a>
<div id="help" class="margin display-none">
    <div class="help-content">
        <div class="help-title">Aide</div>
        Un lieu de stockage représente un hangar à plaquettes.
    </div>
</div>
