
<h1>{{.Header.Title}}</h1>

{{with .Details}}
<form class="form margin-left2" action="{{.UrlAction}}" onsubmit="return validateForm();" method="post">
    <div class="grid2-form">
        <label>Lieu de stockage</label>
        <input type="text" value="{{.Stockage.Nom}}" class="width20" readonly>
    
        <label for="typefrais">Type de frais</label>
        <select name="typefrais" id="typefrais" class="width10">
            {{$.Details.TypeFraisOptions}}
        </select>
        
        <label for="date-debut">Date début : </label>
        <input type="date" id="date-debut" name="date-debut" value="{{.Frais.DateDebut | dateIso}}">
        
        <label for="date-fin">Date fin : </label>
        <input type="date" id="date-fin" name="date-fin" value="{{.Frais.DateFin | dateIso}}">
        
        <label for="montant">Montant (&euro;) : </label>
        <input type="number" id="montant" name="montant" step="0.01" min="0" min="0" value="{{.Frais.Montant | zero2empty}}" class="width5">
        
        <label class="optional" for="notes">Notes</label>
        <textarea rows="6" cols="50" name="notes" id="notes">{{.Frais.Notes}}</textarea>
        
        <input type="hidden" name="id-frais" value="{{.Frais.Id}}">
        <input type="hidden" name="id-stockage" value="{{.Stockage.Id}}">
    </div>
    <br>
    <div class="float-right margin-top">
        <input type="button" name="cancel" value="Annuler" onClick="window.history.back();">
        <input type="submit" class="margin-left" value="Valider">
    </div>
</form>
{{end}}


<script>
window.addEventListener("load", function(){
    initialize();
});

// ***************************************
function initialize(){
}

// ***************************************
function validateForm(){
    //
    let msg = "";
    //
    if(document.getElementById("CHOOSE_STOCKFRAIS").selected == true){
        msg += "- Vous devez choisir un type de frais.\n";
    }
    //
    const deb = document.getElementById("date-debut").value;
    const fin = document.getElementById("date-fin").value;
    if(deb == ""){
        msg += "- Vous devez renseigner la date de début.\n";
    }
    if(fin == ""){
        msg += "- Vous devez renseigner la date de fin.\n";
    }
    if(deb != "" && fin != "" && fin < deb){
        msg += "- La date de fin doit se situer après la date de début.\n";
    }
    //
    if(document.getElementById("montant").value == ""){
        msg += "- Vous devez renseigner le montant du frais.\n";
    }
    //
    if(msg != ""){
        msg = "Impossible de valider ce formulaire :\n" + msg;
        alert(msg);
        return false;
    }
    return true;
}
</script>
