{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}
<div class="float-left">
    <h1>
        Stockage plaquettes
        <a class="padding-left" href="/stockage/new">
            <img class="bigicon inline" src="/static/img/new.png" title="Créer un nouveau lieu de stockage"/>
        </a>
    </h1>
</div>

<div class="float-left margin-left2 margin-top">
    <script>
        let stock_total = 0;
    </script>
    <table>
        {{range .Details.Actifs}}
            <tr>
                <td>{{.Nom}}</td>
                <td class="padding-left"><script>document.write(formatNb(round({{.Stock}}, 2)));</script> maps</div></td>
            </tr>
            <script>stock_total += {{.Stock}};</script>
        {{end}}
            <tr>
                <td class="bold">Total</td>
                <td class="bold padding-left"><script>document.write(formatNb(round(stock_total, 2)));</script> maps</div></td>
            </tr>
    </table>
</div>

<br class="clear-left">
<script>
    let stock = 0;
</script>

<!-- ********************************** Stockages actifs ************************************* -->
{{range .Details.Actifs}}
    <hr><hr>
    {{$idStockage := .Id}}
    <h2 id="stockage-{{$idStockage}}">
        {{.Nom}}
        <a class="padding-left" href="/stockage/update/{{.Id}}">
            <img class="bigicon inline" src="/static/img/update.png" title="Modifier ce lieu de stockage" />
        </a>
        <a href="#" onclick="deleteOrArchiveStockage({{.Id}}, {{.Nom}}, {{.Archivable}}, {{.Deletable}})">
            <img class="bigicon inline" src="/static/img/delete.png" title="Supprimer ou archiver ce lieu de stockage" />
        </a>
    </h2>
    
    <div class="margin-left2 margin-bottom2">
    
        <!-- ***************** Stock ******************** -->
        <div class="big2 bold margin-top margin-bottom">Stock : <script>document.write(formatNb(round({{.Stock}}, 2)));</script> maps</div>
        
        <!-- **************** Tas ********************* -->
        <div class="big2 bold margin-top margin-bottom">Tas courants</div>
        {{if .TasActifs}}<ul class="naked">{{end}}
        {{range .TasActifs}}
            <li id="tas-{{.Id}}" class="padding-bottom">
                <a href="/humidite/new/tas/{{.Id}}">
                    <img class="icon-humid inline"
                         src="/static/img/humid.png"
                         title="Faire une mesure d'humidité sur ce tas"
                    />
                </a>
                <a class="padding-right" href="#" onclick="signalerTasVide({{.Id}}, {{.Nom}});" title="Signaler que ce tas est vide">
                    <div class="icon-empty">&empty;</div>
                </a>
                
                <a href="/chantier/plaquette/{{.Chantier.Id}}">{{.Nom}}</a> -
                {{if le .Stock 10.0}}<span class="stock-presque-vide">{{end}}
                <span class="bold">
                    stock = <script>document.write(formatNb(round({{.Stock}}, 2)));</script> maps
                </span>
                {{if le .Stock 10.0}}</span>{{end}}
                <!-- **************** Mesures humidité ********************* -->
                {{if .MesuresHumidite}}
                    <div class="margin-left2">
                    <ul class="naked">
                {{end}}
                {{range .MesuresHumidite}}
                    <li>
                        <a href="/humidite/liste/{{.DateMesure | year}}">Mesure d' humidité {{.DateMesure | dateFr}}</a>
                        - {{.Valeur}} %
                        {{range .Mesureurs}}
                            - <a href="/acteur/{{.Id}}">{{.String}}</a>
                        {{end}}
                    </li>
                {{end}}
                {{if .MesuresHumidite}}</ul></div>{{end}}
                <!-- **************** Evolution stock ********************* -->
                {{if .EvolutionStock}}
                    <script>stock = 0;</script>
                    <div class="margin-left4">
                    <div class="bold margin-top">Evolution du stock</div>
                    <table class="bordered">
                        <tr><th>Date</th><th>Opération</th><th>Delta (maps)</th><th>Stock (maps)</th></tr>
                {{end}}
                {{range .EvolutionStock}}
                    <script>stock += {{.Delta}};</script>
                    <tr>
                        <td>{{.Date | dateFr}}</td>
                        <td>                                                 
                            {{if .URL}}<a href="{{.URL}}">{{end}}
                            {{.Label}}
                            {{if .URL}}</a>{{end}}
                        </td>
                        <td class="right">{{printf "%+.0f" .Delta}}</td>
                        <td class="right">
                            <script>document.write(formatNb(round(stock, 2)));</script>
                        </td>
                    </tr>
                {{end}}
                {{if .EvolutionStock}}
                    </table>
                    </div>
                {{end}}
            </li>
        {{end}}
        {{if .TasActifs}}</ul>{{end}}
        
        <!-- **************** Frais ********************* -->
        <div class="big2 bold margin-top margin-bottom">
            Frais
            <a class="padding-left" href="/frais-stockage/new/{{.Id}}">
                <img class="bigicon inline" src="/static/img/new.png" title="Créer un nouveau frais pour {{.Nom}}"/>
            </a>
        </div>
        {{if .Frais}}
        <table class="bordered margin-left">
            <tr><th></th><th>Type</th><th>Début</th><th>Fin</th><th>Montant</th><th>Notes</th></tr>
        {{end}}
        {{range .Frais}}                                         
            <tr>
                <td>
                    <a href="#" onclick="deleteFrais({{.Id}}, {{.DateDebut | dateFr}}, {{.DateFin | dateFr}}, {{.Montant}})">
                        <img class="inline" src="/static/img/delete.png" title="Supprimer ce frais" />
                    </a>
                    <a class="inline" href="/frais-stockage/update/{{.Id}}">
                        <img src="/static/img/update.png" title="Modifier ce loyer" />
                    </a>
                </td>
                <td>{{.TypeFrais | labelStockFrais}}</td>
                <td>{{.DateDebut | dateFr}}</td>
                <td>{{.DateFin | dateFr}}</td>
                <td class="right"><b><script>document.write(formatNb(round({{.Montant}}, 2)));</script> &euro; HT</b></td>
                <td>{{.Notes | nl2br}}</td>
            </tr>
        {{end}}
        {{if .Frais}}
        </table>
        {{end}}
        
    </div>
{{end}}

<!-- ********************************** Stockages archives ************************************* -->
{{/* Même affichage que pour stockages actifs, mais actions possibles */}}
{{if .Details.Archives}}
    <hr><hr>
    <center><h1>Stockages archivés</h1></center>
{{end}}

{{range .Details.Archives}}
    <hr>
    {{$idStockage := .Id}}
    <h2>
        {{.Nom}}
    </h2>
    
    <div class="margin-left2 margin-bottom2">
    
        <!-- **************** Frais ********************* -->
        <div class="big2 bold margin-top margin-bottom">
            Frais
        </div>
        {{if .Frais}}
        <table class="bordered margin-left">
            <tr><th>Type</th><th>Début</th><th>Fin</th><th>Montant</th><th>Notes</th></tr>
        {{end}}
        {{range .Frais}}
            <tr>
                <td>{{.TypeFrais | labelStockFrais}}</td>
                <td>{{.DateDebut | dateFr}}</td>
                <td>{{.DateFin | dateFr}}</td>
                <td><b><script>document.write(round({{.Montant}}, 2));</script> &euro;</b></td>
                <td>{{.Notes | nl2br}}</td>
            </tr>
        {{end}}
        {{if .Frais}}
        </table>
        {{end}}
        
    </div>
{{end}}


<!-- ********************************** Modal vidage tas ************************************* -->
<div id="modalTasVide" class="modal">
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        En cliquant sur OK, vous indiquez que le tas : <span class="bold" id="nom-du-tas"></span>
        est vide.
        <br>Il ne sera plus possible de l'utiliser pour des ventes.
        <br><b>ATTENTION</b> : cette action ne peut pas être annulée.
        <div class="margin-top">Date de vidage : <input type="date" name="datevide" id="date-vidage"></div>
        <div class="margin-top">
            <input type="button" id="cancel-vidage" value="Annuler" onClick="">
            <input class="margin-left2" type="button" id="confirm-vidage" value="Confirmer" onClick="">
        </div>
    </div>
</div>



<script>

window.addEventListener("load", function(){
    let modal = document.getElementById("modalTasVide");
    let close = document.getElementsByClassName("modal-close")[0];
    modal.style.display = "none";
    close.onclick = function() {
        modal.style.display = "none";
    }
    document.getElementById("cancel-vidage").onclick = function() {
        modal.style.display = "none";
    }
});

// *****************************************
function signalerTasVide(id, nom){
    let modal = document.getElementById("modalTasVide");
    modal.style.display = "block";
    document.getElementById("nom-du-tas").innerHTML = nom;
    document.getElementById("confirm-vidage").onclick = function() {
        const dateVidage = document.getElementById("date-vidage").value;
        if(dateVidage == ""){
            alert("Vous devez indiquer la date du vidage");
        }
        else{
            window.location = "/tas/vider/" + id + "/" + dateVidage;
        }
    }
}

// *****************************************
function deleteOrArchiveStockage(id, nom, archivable, deletable){
    let msg;
    if(deletable || archivable){
        if(deletable){
            msg = "Attention, en cliquant sur OK,\n"
                + "le lieu de stockage \"" + nom + "\" sera définitivement supprimé.\n"
                + "\n"
                + "En effet, ce lieu de stockage n'est associé à aucun chantier plaquettes.\n"
                + "Les frais associés (loyers etc.) seront aussi définitivement supprimés.";
        }
        else if(archivable) {
            msg = "Attention, en cliquant sur OK,\n"
                + "le lieu de stockage \"" + nom + "\" sera archivé mais pas supprimé de la base\n"
                + "(car il est associé à des chantiers plaquettes).";
        }
        const r = confirm(msg);
        if (r == true) {
            window.location = "/stockage/delete/" + id;
        }
    }
    else{
        msg = "Vous ne pouvez pas archiver ou supprimer ce lieu de stockage\n"
            + "car il contient des tas actifs.";
        alert(msg);
    }
}

// *****************************************
function deleteFrais(id, deb, fin, montant){
    let msg = "Attention, en cliquant sur OK,\n"
            + "ce frais sera définitivement supprimé :\n"
            + montant + " euros (du " + deb + " au " + fin + ")";
    if (confirm(msg) == true) {
        window.location = "/frais-stockage/delete/" + id;
    }
}

// *****************************************
function deleteHumid(id, date, valeur){
    let msg = "Attention, en cliquant sur OK,\n"
            + "la mesure d'humidité du " + date + "\nsera définitivement supprimée.";
    if (confirm(msg) == true) {
        window.location = "/humidite/delete/" + id;
    }
}

</script>