{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}
<div style="padding:.5rem 0 0 5rem;">
    <h1>Recherche sylviculture</h1>
</div>


<form class="form" action="{{$.Details.UrlAction}}" onsubmit="return validateForm();" method="post" novalidate>

    <div class="flex-wrap">
    
        <div class="inline-block margin-left05">
            {{template "choix-commune.html" $.Details}}
            <script>const choixCommune = new ChoixCommune();</script>
        </div>
        
        <div class="inline-block margin-left05">
            {{template "choix-essence.html" $.Details}}
            <script>const choixEssence = new ChoixEssence();</script>
        </div>
        
        <div class="inline-block">
            {{template "choix-fermier.html" $.Details}}
            <script>const choixFermier = new ChoixFermier();</script>
        </div>
        
    </div>
    
    <div class="float-right">
        <input class="big-button" type="submit" value="Valider">
        <input type="hidden" name="choix-ALL-essence" id="choix-ALL-essence" value="">
    </div>
                                                                                                                                      
</form>

<script>

function validateForm(){
    let msg = '';
    document.getElementById('choix-ALL-essence').value = choixEssence_isAllSelected();
    msg += choixPeriode_validateForm();
    //
    if(msg != ''){
        alert("Impossible de valider ce formulaire : \n" + msg);
        return false;
    }
    return true;
}
</script>

