{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

{{with .Details.UGs}}

<div class="margin-left bold">{{len .}} résultats</div>
<table class="entities">
<thead>
    <tr>
        <th class="order">Code</th>
        <th>Essences</th>
        <th class="order">Typo</th>
        <th class="order">Coupe</th>
        <th class="order">Année</th>
        <th class="order">Activités</th>
        <th>Fermiers</th>
    </tr>
</thead>

<tbody>
    {{range .}}
    <tr>
        <td>
            {{/* data-code : hack pour trier par code (sinon trié par id), cf table-sort.js */}}
            <span data-code="{{.Code | sortableUGCode}}"><a href="/ug/{{.Id}}">{{.Code}}</a> - {{.Code | sortableUGCode}}</span>
        </td>
        <td>
            {{range .CodesEssence}}
                <div>{{. | labelEssence}}</div>
            {{end}}
        </td>
        <td>
            <span title="{{.CodeTypo | labelTypo_long}}"><b>{{.CodeTypo}}</b> {{.CodeTypo | labelTypo}}</span>
        </td>
        <td>
            {{.Coupe}}
        </td>
        <td>
            {{.AnneeIntervention}}
        </td>
        {{if .Activites}}<td style="background:lightblue;">{{else}}<td>{{end}}
            {{range .Activites}}
                <div><a href="{{.URL}}">{{.}}</a></div>
            {{end}}
            
        </td>
        <td>
            {{range .Fermiers}}
                <div>{{.}}</div>
            {{end}}
        </td>
    </tr>
    {{end}}
</tbody>
</table>

{{else}} {{/* with .Details.Activites */}}

<div class="">Aucune activité ne correspond aux critères demandés</div>

{{end}} {{/* with .Details.Activites */}}
