{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<h1>
Recherche UG par code
</h1>

<form class="form" onsubmit="return validateForm(event);" method="post">

    <label for="code">Code</label>
    <input type="text" name="code" id="code">

    <div class="margin-top">
        <div class="float-right">
            <input type="button" name="cancel" value="Annuler" onClick="window.history.back();">
            <input type="submit" class="margin-left" value="Rechercher">
        </div>
    </div>

</form>

<h1>Accès direct</h1>

<div>
{{ range $ugs := .Details.AllUgs }}
    <div class="float-left padding-left">
    {{ range $ug := $ugs}}
        <div><a href="/ug/{{$ug.Id}}">{{$ug.Code}}</a></div>
    {{end}}
    </div>
{{end}}

</div>


<script>

// ***************************************
async function validateForm(event){
    event.preventDefault();
    if(document.getElementById("code").value == ""){
        alert("Vous devez saisir un code UG (ex : \"XV-9\").");
        return false;
    }
    //
    let idUG = await getIdUG();
    if(idUG == 0){
        alert("Aucune UG correspondant au code " + document.getElementById("code").value);
        return false;
    }
    document.location = "/ug/" + idUG;
    return false;
}

// ***************************************
/** 
    Récupère en ajax l'id ug dont le code correspond à la valeur saisie
    Si le code ne correspond pas à une UG, renvoie 0
**/
async function getIdUG(){
    let result = 0;
    const code = document.getElementById("code").value;
    const url = "/ajax/get/id-ug-from-code/" + code;
    const response = await fetch(url);
    if(response == null){
        window.lienChantierMsg += "- ERREUR - Transmettez ce message l'administrateur du site :\n"
            + "Problème de récupération " + url + " dans ug-search.html\n";
        return result;
    }
    result = await response.json();
    return result;
}

</script>