<h2>Total : 2015 -2019</h2>

<table class="liste-carac bordered">
    <tr>
        <th>Produit</th>
        <th>Quantité</th>
        <th>Superficie</th>
        <th>Coût exploitation</th>
        <th>Bénéfice</th>
    </tr>
    
    <tr>
        <td class="key">Plaquettes</td>
        <td>184 map</td>
        <td>8 ha</td>
        <td>300 &euro;</td>
        <td>100 &euro;</td>
    </tr>

    <tr>
        <td class="key">Bois de chauffage</td>
        <td>50 stères</td>
        <td>0.5 ha</td>
        <td>0</td>
        <td>0</td>
    </tr>

    <tr>
        <td class="key">Pâte à papier</td>
        <td>200 stères</td>
        <td>12 ha</td>
        <td>300 &euro;</td>
        <td>150 &euro;</td>
    </tr>

    <tr>
        <td class="key">Bois palette</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>

    <tr>
        <td class="key">Bois d'oeuvre</td>
        <td>20 stères</td>
        <td>1.2 ha</td>
        <td>300 &euro;</td>
        <td>200 &euro;</td>
    </tr>

    <tr>
        <td class="key">Plaquettes + Bois d'oeuvre (?)</td>
        <td>?</td>
        <td>9.2 ha</td>
        <td>600 &euro;</td>
        <td>300 &euro;</td>
    </tr>

</table>

<h2>2018</h2>

<table class="liste-carac bordered">
    <tr>
        <th>Produit</th>
        <th>Quantité</th>
        <th>Superficie</th>
        <th>Coût exploitation</th>
        <th>Bénéfice</th>
    </tr>
    
    <tr>
        <td class="key">Plaquettes</td>
        <td>184 map</td>
        <td>8 ha</td>
        <td>300 &euro;</td>
        <td>100 &euro;</td>
    </tr>

    <tr>
        <td class="key">Bois de chauffage</td>
        <td>50 stères</td>
        <td>0.5 ha</td>
        <td>0</td>
        <td>0</td>
    </tr>

    <tr>
        <td class="key">Pâte à papier</td>
        <td>200 stères</td>
        <td>12 ha</td>
        <td>300 &euro;</td>
        <td>150 &euro;</td>
    </tr>

    <tr>
        <td class="key">Bois palette</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>

    <tr>
        <td class="key">Bois d'oeuvre</td>
        <td>20 stères</td>
        <td>1.2 ha</td>
        <td>300 &euro;</td>
        <td>200 &euro;</td>
    </tr>

    <tr>
        <td class="key">Plaquettes + Bois d'oeuvre (?)</td>
        <td>?</td>
        <td>9.2 ha</td>
        <td>600 &euro;</td>
        <td>300 &euro;</td>
    </tr>

</table>

<h2>2017</h2>

<table class="liste-carac bordered">
    <tr>
        <th>Produit</th>
        <th>Quantité</th>
        <th>Superficie</th>
        <th>Coût exploitation</th>
        <th>Bénéfice</th>
    </tr>
    
    <tr>
        <td class="key">Plaquettes</td>
        <td>184 map</td>
        <td>8 ha</td>
        <td>300 &euro;</td>
        <td>100 &euro;</td>
    </tr>

    <tr>
        <td class="key">Bois de chauffage</td>
        <td>50 stères</td>
        <td>0.5 ha</td>
        <td>0</td>
        <td>0</td>
    </tr>

    <tr>
        <td class="key">Pâte à papier</td>
        <td>200 stères</td>
        <td>12 ha</td>
        <td>300 &euro;</td>
        <td>150 &euro;</td>
    </tr>

    <tr>
        <td class="key">Bois palette</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>

    <tr>
        <td class="key">Bois d'oeuvre</td>
        <td>20 stères</td>
        <td>1.2 ha</td>
        <td>300 &euro;</td>
        <td>200 &euro;</td>
    </tr>

    <tr>
        <td class="key">Plaquettes + Bois d'oeuvre (?)</td>
        <td>?</td>
        <td>9.2 ha</td>
        <td>600 &euro;</td>
        <td>300 &euro;</td>
    </tr>

</table>