{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<div class="flex-wrap">
{{with .Details.UG}}

    <div class="padding-right padding-left border-right">
        <!-- ********************************************** -->
        <h2>Données forestières</h2>
        <div class="grid2-pres">
            <div>Surface SIG</div>
            <div>{{.SurfaceSIG}} ha</div>
            
            <div class="padding-top05">Essences</div>
            <div class="padding-top05">
                {{range .CodesEssence}}
                    <div>{{. | labelEssence}}</div>
                {{end}}
            </div>
        
            <div class="padding-top05">Typo</div>
            <div class="padding-top05 cursor-help" title="{{.CodeTypo | labelTypo_long}}">{{.CodeTypo}} : {{.CodeTypo | labelTypo}}</div>
        
            <div class="padding-top05">Coupe</div>
            <div class="padding-top05">{{.Coupe}}</div>
        
            <div class="padding-top05">Année d'intervention</div>
            <div class="padding-top05">{{.AnneeIntervention}}</div>
        
            <div class="padding-top05">PSG suivant</div>
            <div class="padding-top05">{{.PSGSuivant}}</div>
            
            <div class="padding-top05">Volume stock<br>ou recouvrement</div>
            <div class="padding-top05">{{.VolumeStockOuRecouvrement}}</div>
        
            <div class="padding-top05">Intensité prélèvement</div>
            <div class="padding-top05">{{.IntensitePrelevement}}</div>
        
            <div class="padding-top05">Aménagements divers</div>
            <div class="padding-top05">{{.AmenagementDivers}}</div>
            
        </div> <!-- end class="grid2-pres" -->
    </div>
        
    <div class="padding-left">
        <!-- ********************************************** -->
        <h2>Données foncières</h2>
        
        <div class="bold">Propriétaire(s)</div>
        <ul class="naked margin-top02">
        {{range .Proprietaires}}
            <li><a href="/acteur/{{.Id}}">{{.String}}</a></li>
        {{end}}
        </ul>
        
        <div class="bold">Fermiers</div>
        <ul class="naked margin-top02">
        {{range .Fermiers}}
            <li><a href="/fermier/{{.Id}}">{{.String}}</a></li>
        {{end}}
        </ul>
        
        <div class="bold">Parcelles</div>
        <table class="margin-left2 margin-top02">
        {{range .Parcelles}}
            <tr class="padding-bottom05">
                <td>
                    <a href="/parcelle/{{.Id}}">{{.Code}}</a>
                </td>
                <td>
                    ({{.Proprietaire}})
                </td>
                <td>
                    {{range .Lieudits}}
                        <span class="padding-left"><a href="/lieudit/{{.Id}}">{{.Nom}}</a></span>
                    {{end}}
                </td>
                <td>
                    <span class="padding-left">{{.Commune.Nom}}</span>
                </td>
            </tr>
        {{end}}
        </table>
    </div>
        
{{end}}
</div><!-- end flex-wrap -->

{{with .Details}}
    <div class="padding-left">
        <h2>Exploitation</h2>
        {{if .Activites}}
            <table class="entities">
            <thead>
                <tr>
                    <th class="order">Date</th>
                    <th>Titre</th>
                    <th class="order">Valorisation</th>
                    <th class="order">Essence</th>
                    <th class="order">Volume</th>
                </tr>
            </thead>
            <tbody>
                {{range .Activites}}
                    <tr>
                        <td>
                            {{/* data-date : hack pour trier par date fr, cf table-sort.js */}}
                            <span data-date="{{.DateActivite}}">{{.DateActivite | dateFr}}</span>
                        </td>
                        <td class="padding-left05"><a href="{{.URL}}">{{.Titre}}</a></td>
                        <td>{{.TypeValo | labelValo}}</td>
                        <td>{{.CodeEssence | labelEssence}}</td>
                        <td>{{.Volume}} {{.Unite | labelUnite}}</td>
                    </tr>
                {{end}}
            </tbody>
            </table>
        {{else}}
            <h3>Aucune activité</h3>
        {{end}}
    </div>
{{end}}
    

