

{{if not .Details.UG.SortedRecapYears}}
    <div class="big3">Aucune activité pour cette UG</div>
{{end}}

{{range .Details.UG.SortedRecapYears}}
    <!-- ********************************************************************************* -->
    <h2>Total {{.}}</h2>
    
    {{$recap := index $.Details.UG.Recaps .}}
    <table class="th-left bordered">
        <tr>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Superficie</th>
            <th>Coût exploitation</th>
            <th>Bénéfice</th>
        </tr>
        
        <tr>
            <th>Plaquettes</th>
            <td><script>document.write(formatNb({{$recap.Plaquettes.Quantite}}));</script> maps</td>
            <td><script>document.write(formatNb({{$recap.Plaquettes.Superficie}}));</script> ha</td>
            <td>???</td>
            <td>???</td>
        </tr>
    
        <tr>
            <th>Pâte à papier</th>
            <td><script>document.write(formatNb({{$recap.PateAPapier.Quantite}}));</script> tonnes</td>
            <td>???</td>
            <td>0 &euro;</td>
            <td><script>document.write(formatNb({{$recap.PateAPapier.Benefice}}));</script> &euro;</td>
        </tr>
    
        <tr>
            <th>Chauffage fermier</th>
            <td><script>document.write(formatNb({{$recap.ChauffageFermier.Quantite}}));</script> stères</td>
            <td>???</td>
            <td>0 &euro;</td>
            <td>0 &euro;</td>
        </tr>
    
        <tr>
            <th>Bois de chauffage</th>
            <td><script>document.write(formatNb({{$recap.Chauffage.Quantite}}));</script> stères</td>
            <td>???</td>
            <td>0 &euro;</td>
            <td><script>document.write(formatNb({{$recap.Chauffage.Benefice}}));</script> &euro;</td>
        </tr>
    
        <tr>
            <th>Bois palette</th>
            <td><script>document.write(formatNb({{$recap.Palette.Quantite}}));</script> stères</td>
            <td>???</td>
            <td>0 &euro;</td>
            <td><script>document.write(formatNb({{$recap.Palette.Benefice}}));</script> &euro;</td>
        </tr>
    
        <tr>
            <th>Piquets</th>
            <td><script>document.write(formatNb({{$recap.Piquets.Quantite}}));</script> stères</td>
            <td>???</td>
            <td>0 &euro;</td>
            <td><script>document.write(formatNb({{$recap.Piquets.Benefice}}));</script> &euro;</td>
        </tr>
    
        <tr>
            <th>Bois d'oeuvre</th>
            <td><script>document.write(formatNb({{$recap.BoisOeuvre.Quantite}}));</script> m<sup>3</sup></td>
            <td>???</td>
            <td>0 &euro;</td>
            <td><script>document.write(formatNb({{$recap.BoisOeuvre.Benefice}}));</script> &euro;</td>
        </tr>
    
        <tr>
            <th>Bois sur pied</th>
            <td><script>document.write(formatNb({{$recap.BoisSurPied.Quantite}}));</script> stères</td>
            <td>???</td>
            <td>0 &euro;</td>
            <td><script>document.write(formatNb({{$recap.BoisSurPied.Benefice}}));</script> &euro;</td>
        </tr>
    
    </table>
{{end}}
