{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<div class="flex-wrap">
{{with .Details.UG}}

    <div class="padding-right padding-left border-right">
        <!-- ********************************************** -->
        <h2>Données forestières</h2>
        <div class="grid2-pres">
            <div>Surface SIG</div>
            <div>{{.SurfaceSIG}} ha</div>
            
            <div class="padding-top05">Essences</div>
            <div class="padding-top05">
                {{range .Essences}}
                    <div>{{.NomLong}}</div>
                {{end}}
            </div>
        
            <div class="padding-top05">Type de coupe</div>
            <div class="padding-top05">{{.TypeCoupe}}</div>
        
            <div class="padding-top05">Prévisionnel coupe</div>
            <div class="padding-top05">{{.PrevisionnelCoupe}}</div>
        </div> <!-- end class="grid2-pres" -->
    </div>
        
    <div class="padding-left">
        <!-- ********************************************** -->
        <h2>Données foncières</h2>
        
        <div class="bold">Propriétaire(s)</div>
        <ul class="naked margin-top0">
        {{range .Proprietaires}}
            <li><a href="/acteur/{{.Id}}">{{.String}}</a></li>
        {{end}}
        </ul>
        
        <div class="bold">Fermiers</div>
        <ul class="naked margin-top0">
        {{range .Fermiers}}
            <li><a href="/fermier/{{.Id}}">{{.String}}</a></li>
        {{end}}
        </ul>
        
        <div class="bold">Parcelles</div>
        <ul>
        {{range .Parcelles}}
            <li class="padding-bottom05">
                <a href="/parcelle/{{.Id}}">{{.Code}}</a> ({{.Proprietaire}})
                    {{range .Lieudits}}
                        <span class="padding-left"><a href="/lieudit/{{.Id}}">{{.Nom}}</a></span>
                    {{end}}
                    {{range .Communes}}
                        <span class="padding-left">{{.Nom}}</span>
                    {{end}}
            </li>
        {{end}}
        </ul>
    </div>
        
{{end}}
</div><!-- end flex-wrap -->

{{with .Details}}
    <div class="padding-left">
        <h2>Exploitation</h2>
        {{if .Activites}}
        <table class="margin-left">
        {{range .Activites}}
            <tr>
                <td>{{.Date | dateFr}}</td>
                <td class="padding-left05"><a href="{{.URL}}">{{.NomActivite}}</a></td>
            </tr>
        {{end}}
        </table>
        
        {{else}}
        <h3>Aucune activité</h3>
        {{end}}
    </div>
{{end}}
    

