

{{if not .Details.UG.SortedRecapYears}}
    <div class="big3">Aucune activité pour cette UG</div>
{{end}}

{{range .Details.UG.SortedRecapYears}}
    <!-- ********************************************************************************* -->
    <h2>Total {{.}}</h2>
    
    {{$recap := index $.Details.UG.Recaps .}}
    <table class="th-left bordered">
        <tr>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Superficie</th>
            <th>Coût exploitation</th>
            <th>Bénéfice</th>
        </tr>
        
        <tr>
            <th>Plaquettes</th>
            <td>{{$recap.Plaquettes.Quantite}} maps</td>
            <td>{{$recap.Plaquettes.Superficie}} ha</td>
            <td>???</td>
            <td>???</td>
        </tr>
    
        <tr>                                          
            <th>Bois de chauffage</th>
            <td>{{$recap.Chauffage.Quantite}} maps</td>
            <td>???</td>
            <td>???</td>
            <td>???</td>
        </tr>
    
        <tr>
            <th>Pâte à papier</th>
            <td>{{$recap.PateAPapier.Quantite}} maps</td>
            <td>???</td>
            <td>???</td>
            <td>???</td>
        </tr>
    
        <tr>
            <th>Bois palette</th>
            <td>{{$recap.Palette.Quantite}} maps</td>
            <td>???</td>
            <td>???</td>
            <td>???</td>
        </tr>
    
        <tr>
            <th>Bois d'oeuvre</th>
            <td>{{$recap.BoisOeuvre.Quantite}} maps</td>
            <td>???</td>
            <td>???</td>
            <td>???</td>
        </tr>
    
    </table>
{{end}}
