{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

{{with .Details.Ventes}}

<div class="margin-left bold">{{len .}} résultats</div>
<table class="entities">
<thead>
    <tr>
        <th class="order">Date</th>
        <th>Titre</th>
        <th class="order">Valorisation</th>
        <th class="order">Essence</th>
        <th class="order">Volume</th>
        <th class="order">Prix HT</th>
        <th>Facture</th>
        <th class="order">Date facture</th>
    </tr>
</thead>

<tbody>
    {{range .}}
    <tr>
        <td>
            {{/* data-date : hack pour trier par date fr, cf table-sort.js */}}
            <span data-date="{{.DateVente}}">{{.DateVente | dateFr}}</span>
        </td>
        <td>
            {{if .URL}}<a href="{{.URL}}">{{.Titre}}</a>{{else}}{{.Titre}}{{end}}
        </td>
        <td>
            {{.TypeValo | labelValorisationAvecChauferEtPlaq}}
        </td>
        <td>
            {{.CodeEssence | labelEssence}}
        </td>
        <td>
            {{.Volume}} {{.Unite | labelUnite}}
        </td>
        <td class="right">
            <script>document.write(formatNb(round({{.PrixHT}}, 2)));</script> &euro;
        </td>
        <td>
            {{.NumFacture}}
        </td>
        <td>
            {{.DateFacture | dateFr}}
        </td>
    </tr>
    {{end}}
</tbody>
</table>

{{else}} {{/* with .Details.Activites */}}

<div class="">Aucune activité ne correspond aux critères demandés</div>

{{end}} {{/* with .Details.Activites */}}
