{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

{{with .Details.Vente}}
{{$idVente := .Id}}
<script>
    const prixPlaquettesHT = prixHT({{.PUHT}}, {{.Qte}});
    let prixLivraisonHT = 0;
    let prixTotalHT = prixPlaquettesHT;
    {{if .FactureLivraison}}
        prixLivraisonHT += prixHT({{.FactureLivraisonPUHT}}, {{.FactureLivraisonNbKm}});
        prixTotalHT += prixLivraisonHT;
    {{end}}
    const prixPlaquettesTTC = prixTTC(prixPlaquettesHT, {{.TVA}});
    const prixLivraisonTTC = prixTTC(prixLivraisonHT, {{.FactureLivraisonTVA}});
    const prixTotalTTC = prixPlaquettesTTC + prixLivraisonTTC;
</script>

<h1>
    {{.FullString}}
    {{/* Voir script dans view/common/venteplaq.js */}}
    <a class="padding-left" href="#" onclick='showVentePlaqFacture({{.Id}}, "{{.NumFacture}}", "{{.DateFacture | dateFr}}");'>
        <img class="bigicon inline" src="/static/img/facture.png" title="Voir la facture" />
    </a>
    <a href="/vente/update/{{.Id}}">
        <img class="bigicon inline" src="/static/img/update.png" title="Modifier cette vente">
    </a>
    {{/* Voir script dans view/common/venteplaq.js */}}
    <a href="#" onclick='deleteVentePlaquette({{.Id}}, "{{.Client.String}}", "{{.DateVente | dateFr}}");'>
        <img class="bigicon inline" src="/static/img/delete.png" title="Supprimer cette vente">
    </a>
    <a class="padding-left2" href="/vente/new">
        <img class="bigicon inline" src="/static/img/new.png" title="Créer une nouvelle vente"/>
    </a>
</h1>

<div class="page-content">


<div class="flex-wrap">

<div class="padding-right border-right">
<div class="grid2-pres">
    <span>Client</span>
    <span class="bold"><a href="/acteur/{{.IdClient}}">{{.Client.String}}</a></span>
    
    <span>Fournisseur</span>
    <span class="bold"><a href="/acteur/{{.IdFournisseur}}">{{.Fournisseur.Nom}}</a></span>
    
    <span>Date vente</span>
    <span class="bold">{{.DateVente | dateFr}}</span>
    
    {{if .Chantiers}}
        <div>Chantiers</div>
        <div>
        {{range .Chantiers}}
            <div><a href="/chantier/plaquette/{{.Id}}">{{.FullString}}</a></div>
        {{end}}
        </div>
    {{end}}
    
    <span class="padding-top">Prix total HT</span>
    <span class="padding-top bold"><script>document.write(formatNb(round(prixTotalHT, 2)));</script></span>
    
    <span>Prix total TTC</span>
    <span class="bold"><script>document.write(formatNb(round(prixTotalTTC, 2)));</script></span>
    
</div>
</div>

<div class="padding-left padding-right border-right">
<div class="margin-bottom bold">Prix plaquettes</div>
<div class="grid2-pres">
    <span>Quantité</span>
    <span class="bold"><script>document.write(formatNb({{.Qte}}));</script> maps</span>
    
    <span>PU HT</span>
    <span class="bold">{{.PUHT | twoDigits}} &euro;</span>
    
    <span>Prix HT</span>
    <span class="bold"><script>document.write(formatNb(round(prixPlaquettesHT, 2)));</script> &euro;</span>
    
    <span>TVA</span>
    <span class="bold">{{.TVA}} %</span>
    
    <span>Prix TTC</span>
    <span class="bold"><script>document.write(formatNb(round(prixPlaquettesTTC, 2)));</script> &euro;</span>
</div>
</div>

{{if .FactureLivraison}}
<div class="padding-left padding-right border-right">
<div class="margin-bottom bold">Prix Livraison</div>
<div class="grid2-pres">
    <span>Quantité</span>
    <span class="bold"><script>document.write(formatNb({{.FactureLivraisonNbKm}}));</script> {{.FactureLivraisonUnite}}</span>
    
    <span>PU HT</span>
    <span class="bold">{{.FactureLivraisonPUHT | twoDigits}} &euro;</span>
    
    <span>Prix HT</span>
    <span class="bold"><script>document.write(formatNb(round(prixLivraisonHT, 2)));</script> &euro;</span>
    
    <span>TVA</span>
    <span class="bold">{{.FactureLivraisonTVA}} %</span>
    
    <span>Prix TTC</span>
    <span class="bold"><script>document.write(formatNb(round(prixLivraisonTTC, 2)));</script> &euro;</span>
</div>
</div>
{{end}}

</div><!-- end class="flex-wrap" -->

<!-- ************************************* -->
<fieldset class="margin-top margin-bottom">
    <legend class="big3 bold padding-right05 padding-left05">Facture</legend>

    <div class="flex-wrap">
        <div class="padding-right border-right margin-right">
            <div class="grid2-pres">
                <span>Date facture</span>
                <span class="bold">
                    {{if not .DateFacture.IsZero}}
                        {{.DateFacture | dateFr}}
                    {{else}}
                        NON SPECIFIÉE
                    {{end}}
                </span>
                
                <span class="margin-top05">Numéro</span>                                                                                          
                <span class="bold margin-top05">
                    {{if .NumFacture}}
                        {{.NumFacture}}
                    {{else}}
                        NON SPECIFIÉ
                    {{end}}
                </span>
                
                <span class="margin-top05">Date Paiement</span>
                <span class="bold margin-top05">
                    {{if not .DatePaiement.IsZero}}
                        {{.DatePaiement | dateFr}}
                    {{else}}
                        NON SPECIFIÉE
                    {{end}}
                </span>
            </div>
        </div>
        <div>
            <div class="margin-bottom05">Sur la facture :</div>
            <div class="grid2-pres">
                <div>Faire apparaître le coût de livraison</div> 
                <div class="bold">{{if .FactureLivraison}}Oui{{else}}Non{{end}}</div>
                
                {{if .FactureLivraison}}
                    <div>Prix unitaire</div>
                    <div class="bold">{{.FactureLivraisonPUHT}} &euro; / {{.FactureLivraisonUnite}}</div>
                    
                    <div>Nb {{.FactureLivraisonUnite}}s</div>
                    <div class="bold">{{if eq .FactureLivraisonUnite "km"}}{{.FactureLivraisonNbKm}}{{else}}{{.Qte}}{{end}}</div>
                    
                    <div>Prix affiché sur la facture</div>
                    <div class="bold">
                    <script>
                        let prixFacture;
                        {{if eq .FactureLivraisonUnite "km"}}
                            prixFacture = {{.FactureLivraisonPUHT}} * {{.FactureLivraisonNbKm}};
                        {{else}}
                            prixFacture = {{.FactureLivraisonPUHT}} * {{.Qte}};
                        {{end}}
                        document.write(prixFacture); 
                    </script>
                    &euro;
                    </div>
                {{end}}
                
                <div class="margin-top05">Faire apparaître les notes</div> 
                <div class="bold margin-top05">{{if .FactureNotes}}Oui{{else}}Non{{end}}</div>
            </div>
        </div>
    </div><!-- end class="flex-wrap" -->
</fieldset>

<!-- ************************************* -->
{{if .Notes}}
<fieldset class="note margin-top margin-bottom">
    <legend class="big3 bold padding-right05 padding-left05">Notes</legend>
    {{.Notes | nl2br}}
</fieldset>
{{end}}

<!-- ***************** Livraisons ******************** -->
<div class="big3 bold margin-top margin-bottom">
Livraisons
<a class="padding-left" href="/vente/{{.Id}}/livraison/new">
    <img class="inline border" src="/static/img/new.png" title="Créer une nouvelle livraison pour cette vente"/>
</a>
</div>

{{range .Livraisons}}
{{$idLivraison := .Id}}
<table class="bordered margin-bottom">
    <tr>
        <td rowspan="2" class="vertical-align-top">
            <div class="margin-top">
                <a href="/vente/{{.IdVente}}/livraison/update/{{.Id}}">
                    <img src="/static/img/update.png" title="Modifier cette livraison">
                </a>
                <a href="#" onclick='deleteLivraison({{.Id}}, {{$idVente}}, "{{.Livreur.String}}", "{{.DateLivre | dateFr}}");'>
                    <img src="/static/img/delete.png" title="Supprimer cette livraison">
                </a>
            </div>
        </td>
        <td class="vertical-align-top">
            <div class="grid2-pres">
            
                {{if .IdLivreur}}
                <div>Livreur</div>
                <div class="bold"><a href="/acteur/{{.Livreur.Id}}">{{.Livreur.String}}</a></div>
                {{end}}
                
                {{if .IdConducteur}}
                <div>Conducteur</div>
                <div><a href="/acteur/{{.IdConducteur}}">{{.Conducteur.String}}</a></div>
                {{end}}
                
                {{if .IdProprioutil}}
                <div>Propriétaire outil</div>
                <div><a href="/acteur/{{.IdProprioutil}}">{{.Proprioutil.String}}</a></div>
                {{end}}
                
                <div>Date livraison</div>
                <div class="bold">{{.DateLivre | dateFr}}</div>
                
            </div>
            {{if .Notes}}
                <div class="bold margin-top">Notes</div>
                <div class="note padding05">{{.Notes | nl2br}}</div>
            {{end}}
        </td>
        <td class="vertical-align-top">
        {{if eq .TypeCout "G"}}
            <!-- livraison, coût global -->
            <div class="padding02 bg-ccc center margin-bottom05">Coût global</div>
            <div class="grid2-pres">
                <div>Prix HT</div>
                <div class="bold"><script>document.write(formatNb({{.GlPrix | twoDigits}}));</script> &euro;</div>
                
                <div>TVA</div>
                <div class="bold">{{.GlTVA}} %</div>
                
                <div>Total TTC</div>
                <div class="bold"><script>document.write(formatNb(round(prixTTC({{.GlPrix}}, {{.GlTVA}}), 2)));</script> &euro;</div>
                
                <div>Paiement</div>
                <div class="bold">{{.GlDatePay | dateFr}}</div>
            </div>
        {{else}}
            <td class="vertical-align-top">
                <!-- livraison, coût détaillé -->
                <div class="padding02 bg-ccc center margin-bottom05">Coût M.O.</div>
                <div class="grid2-pres">
                    <div>Nb heures</div>
                    <div class="bold">{{.MoNHeure}}</div>
                    
                    <div>Prix HT / h</div>
                    <div class="bold"><script>document.write(formatNb({{.MoPrixH | twoDigits}}));</script> &euro;</div>
                    
                    <div>Total HT</div>
                    <div class="bold"><script>document.write(formatNb(round(prixHT({{.MoPrixH}}, {{.MoNHeure}}), 2)));</script> &euro;</div>
                    
                    <div>TVA</div>
                    <div class="bold">{{.MoTVA}} %</div>
                    
                    <div>Total TTC</div>
                    <div class="bold"><script>document.write(formatNb(round(prixTTC(prixHT({{.MoPrixH}}, {{.MoNHeure}}), {{.MoTVA}}), 2)));</script> &euro;</div>
                                        
                    <div>Paiement</div>
                    <div class="bold">{{.MoDatePay | dateFr}}</div>
                </div>
            <td class="vertical-align-top">
            <td>
                <!-- livraison, coût détaillé, outil -->
                <div class="padding02 bg-ccc center margin-bottom05">Coût Outil</div>
                <div class="grid2-pres">
                    <!-- 2 lignes blanches pour alignement coûts outil / m.o. -->
                    <div>&nbsp;</div><div>&nbsp;</div>
                    <div>&nbsp;</div><div>&nbsp;</div>
                    <div>Prix HT</div>
                    <div class="bold"><script>document.write(formatNb({{.OuPrix | twoDigits}}));</script> &euro;</div>
                    
                    <div>TVA</div>
                    <div class="bold">{{.OuTVA}} %</div>
                    
                    <div>Total TTC</div>
                    <div class="bold"><script>document.write(formatNb(round(prixTTC({{.OuPrix}}, {{.OuTVA}}), 2)));</script> &euro;</div>
                    
                    <div>Paiement</div>
                    <div class="bold">{{.OuDatePay | dateFr}}</div>
                </div>
            </td>
        {{end}}
        </td>
    </tr>
    <!-- ***************** Chargements ******************** -->
    <tr>
        <td colspan="5">
            <div>
            <b>Chargements</b>
            <a class="padding-left" href="/vente/{{.IdVente}}/livraison/{{.Id}}/chargement/new">
                <img class="inline border" src="/static/img/new.png" title="Créer un nouveau chargement pour cette livraison"/>
            </a>
            </div>
            {{if .Chargements}}
            <table class="bordered">
            {{end}}
            {{range .Chargements}}
                <tr>
                    <td>
                        <a href="/vente/{{$idVente}}/livraison/{{$idLivraison}}/chargement/update/{{.Id}}">
                            <img src="/static/img/update.png" title="Modifier ce chargement">
                        </a>
                        <a href="#" onclick='deleteChargement({{.Id}}, {{$idLivraison}}, {{$idVente}});'>
                            <img src="/static/img/delete.png" title="Supprimer ce chargement">
                        </a>
                    </td>
                    <td>
                        <div class="grid2-pres">
                            {{if .IdChargeur}}
                            <div>Chargeur</div>
                            <div class="bold"><a href="/acteur/{{.Chargeur.Id}}">{{.Chargeur.String}}</a></div>
                            {{end}}
                
                            {{if .IdConducteur}}
                            <div>Conducteur</div>
                            <div><a href="/acteur/{{.IdConducteur}}">{{.Conducteur.String}}</a></div>
                            {{end}}
                            
                            {{if .IdProprioutil}}
                            <div>Propriétaire outil</div>
                            <div><a href="/acteur/{{.IdProprioutil}}">{{.Proprioutil.String}}</a></div>
                            {{end}}
                            
                            <div>Tas</div>
                            {{$href := ""}}
                            {{if .Tas.Actif}}
                                {{$href = printf "/stockage/liste#tas-%d" .Tas.Id}}
                            {{else}}
                                {{$href = printf "/tas-vides#tas-%d" .Tas.Id}}
                            {{end}}
                            <div class="bold"><a href="{{$href}}">{{.Tas.Nom}}</a></div>
                            
                            <div>Quantité</div>
                            <div class="bold">{{.Qte}} maps</div>
                            
                            <div>Date chargement</div>
                            <div class="bold">{{.DateCharge | dateFr}}</div>
                        </div>
                        {{if .Notes}}
                            <div class="bold margin-top">Notes</div>
                            <div class="note">{{.Notes | nl2br}}</div>
                        {{end}}
                    </td>
                    {{if eq .TypeCout "G"}}
                        <!-- chargement, coût global -->
                        <td colspan="2" class="vertical-align-top">
                            <div class="padding02 bg-ccc center margin-bottom05">Coût global</div>
                            <div class="grid2-pres">
                                <div>Prix HT</div>
                                <div class="bold"><script>document.write(formatNb({{.GlPrix | twoDigits}}));</script> &euro;</div>
                                
                                <div>TVA</div>
                                <div class="bold">{{.GlTVA}} %</div>
                                
                                <div>Total TTC</div>
                                <div class="bold"><script>document.write(formatNb(round(prixTTC({{.GlPrix}}, {{.GlTVA}}), 2)));</script> &euro;</div>
                                
                                <div>Paiement</div>
                                <div class="bold">{{.GlDatePay | dateFr}}</div>
                            </div>
                        </td>
                    {{else}}
                        <td class="vertical-align-top">
                            <!-- chargement, coût détaillé, conducteur -->
                            <div class="padding02 bg-ccc center margin-bottom05">Coût M.O.</div>
                            <div class="grid2-pres">
                                <div>Nb heures</div>
                                <div class="bold">{{.MoNHeure}}</div>
                                
                                <div>Prix HT / h</div>
                                <div class="bold">{{.MoPrixH | twoDigits}} &euro;</div>
                                
                                <div>Total HT</div>
                                <div class="bold"><script>document.write(formatNb(round(prixHT({{.MoPrixH}}, {{.MoNHeure}}), 2)));</script> &euro;</div>
                                
                                <div>TVA</div>
                                <div class="bold">{{.MoTVA}} %</div>
                                
                                <div>Total TTC</div>
                                <div class="bold"><script>document.write(formatNb(round(prixTTC(prixHT({{.MoPrixH}}, {{.MoNHeure}}), {{.MoTVA}}), 2)));</script> &euro;</div>
                                
                                <div>Paiement</div>
                                <div class="bold">{{.MoDatePay | dateFr}}</div>
                            </div>
                        </td>
                        <td class="vertical-align-top">
                            <!-- chargement, coût détaillé, outil -->
                            <div class="padding02 bg-ccc center margin-bottom05">Coût Outil</div>
                            <div class="grid2-pres">
                                <!-- 2 lignes blanches pour alignement coûts outil / m.o. -->
                                <div>&nbsp;</div><div>&nbsp;</div>
                                <div>&nbsp;</div><div>&nbsp;</div>
                                <div>Prix HT</div>
                                <div class="bold"><script>document.write(formatNb({{.OuPrix | twoDigits}}));</script> &euro;</div>
                                
                                <div>TVA</div>
                                <div class="bold">{{.OuTVA}} %</div>
                                
                                <div>Total TTC</div>
                                <div class="bold"><script>document.write(formatNb(round(prixTTC({{.OuPrix}}, {{.OuTVA}}), 2)));</script> &euro;</div>
                                
                                <div>Paiement</div>
                                <div class="bold">{{.OuDatePay | dateFr}}</div>
                            </div>
                        </td>
                    {{end}}
                </tr>
            {{end}}
            {{if .Chargements}}
            </table>
            {{end}}
        </td>
    </tr>
</table>
{{end}}

{{end}}

</div><!-- end class="page-content" -->

<script>

// Voir aussi scripts dans view/common/venteplaq.js
// (scripts communs entre venteplaq-form et venteplaq-list)

// *****************************************
function deleteLivraison(idLivraison, idVente, nomLivreur, dateLivraison){
    let msg = "ATTENTION, en cliquant sur OK,\n"
            + "la livraison \"" + nomLivreur + " " + dateLivraison + "\" sera définitivement supprimée.\n"
            + "\nAttention car les chargements associés à cette vente seront aussi supprimés.\n";
    if (confirm(msg) == true) {
        window.location = "/vente/" + idVente + "/livraison/delete/" + idLivraison;
    }
}

// *****************************************
function deleteChargement(idChargement, idLivraison, idVente){
    let msg = "ATTENTION, en cliquant sur OK,\n"
            + "ce chargement sera définitivement supprimé.\n";
    if (confirm(msg) == true) {
        window.location = "/vente/" + idVente + "/livraison/" + idLivraison + "/chargement/delete/" + idChargement;
    }
}
</script>

