{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<h1>
    {{.Header.Title}}
    <a class="padding-left" href="/vente/new">
        <img class="bigicon inline" src="/static/img/new.png" title="Créer une nouvelle vente"/>
    </a>
</h1>

{{if .Details.Annees}}
<div>
    Autres années :
    {{range .Details.Annees}}
    <a class="padding-left" href="/vente/liste/{{.}}">{{.}}</a>
    {{end}}
</div>
{{end}}

{{if .Details.Ventes}}
<script>
    let prixPlaquettesHT,
        prixPlaquettesTTC,
        prixLivraisonHT,
        prixLivraisonTTC,
        prixTotalTTC;
</script>

<table class="entities">
    <thead>
        <tr>
            <th></th>
            <th class="order">Date vente</th>
            <th>Titre</th>
            <th class="order">Qté</th>
            <th>Prix TTC</th>
            <th title="Comment la livraison apparaît sur la facture" class="cursor-help">Livr.</th>
            <th>Num facture</th>
            <th>Date facture</th>
            <th>Date paiement</th>
        </tr>
    </thead>
    <tbody>
{{end}}

{{range .Details.Ventes}}
        <tr>
            <script>
                prixPlaquettesHT = prixHT({{.PUHT}}, {{.Qte}});
                prixLivraisonHT = 0;
                prixTotalHT = prixPlaquettesHT;
                {{if .FactureLivraison}}
                    prixLivraisonHT += prixHT({{.FactureLivraisonPUHT}}, {{.FactureLivraisonNbKm}});
                {{end}}
                prixPlaquettesTTC = prixTTC(prixPlaquettesHT, {{.TVA}});
                prixLivraisonTTC = prixTTC(prixLivraisonHT, {{.FactureLivraisonTVA}});
                prixTotalTTC = prixPlaquettesTTC + prixLivraisonTTC;
            </script>
            <td>
                <a href="#" onclick='showVentePlaqFacture({{.Id}}, "{{.NumFacture}}", "{{.DateFacture | dateFr}}");'>
                    <img src="/static/img/facture.png" title="Voir la facture" />
                </a>
                <a href="/vente/update/{{.Id}}">
                    <img src="/static/img/update.png" title="Modifier cette vente">
                </a>
                <a href="#" onclick='deleteVentePlaquette({{.Id}}, "{{.Client.String}}", "{{.DateVente | dateFr}}");'>
                    <img src="/static/img/delete.png" title="Supprimer cette vente">
                </a>
            </td>
            <td>
                {{/* data-date : hack pour trier par date, cf table-sort.js */}}
                <span data-date="{{.DateVente}}">{{.DateVente | dateFr}}</span>
            </td>
            <td>
                <a href="/vente/{{.Id}}">{{.StringSansDate}}</a>
            </td>
            <td class="right">
                {{/* data-qte : hack pour trier par quantité, cf table-sort.js */}}
                {{/* 
                <span data-qte="{{printf "%09.0f" .Qte}}">
                */}}
                <span data-qte="{{.Qte}}">
                    <script>document.write(formatNb({{.Qte}}));</script> maps
                </span>
            </td>
            <td class="right">
                <script>document.write(formatNb(round(prixTotalTTC, 2)));</script> &euro;
            </td>
            <td>
                {{.FactureLivraisonUnite}}
            </td>
            <td>
                {{.NumFacture}}
            </td>
            <td>
                {{.DateFacture | dateFr}}
            </td>
            <td>
                <input type="date" name="datepaiement"
                       id="update-paiement-{{.Id}}"
                       value="{{.DatePaiement | dateIso}}"
                       onchange="updateDatePaiement({{.Id}}, {{.StringSansDate}});"
                       {{if not .DatePaiement.IsZero}}
                           class="ok"
                       {{end}}
               >
            </td>
        </tr>
{{end}}
{{if .Details.Ventes}}
    </tbody>
</table>
{{end}}

{{/*
    Message affiché après modification d'une date de vente
*/}}
<style>
    #message-modif-vente{
        z-index:1000;
        position:fixed;
        right:4rem;
        top:5px;
        padding:.2rem;
        border:1px solid grey;
        display:none;
    }
</style>
<div id="message-modif-vente"></div>

{{/* 
    Voir scripts dans view/common/venteplaq.js
*/}}

<script>

// background du message affiché par updateDatePaiement()
const rootVars = getComputedStyle(document.querySelector(':root'));
const bgOk =  rootVars.getPropertyValue('--background-ok');
const bgError =  rootVars.getPropertyValue('--background-error');

/** 
    @param  titreVente Ne sert que pour les messages
**/
async function updateDatePaiement(idVente, titreVente){
    let msg;
    let ok; // 'ok' ou 'nok'
    const dateElt = document.getElementById('update-paiement-' + idVente);
    let newDate = dateElt.value;
    const DATE_NULLE = '0001-01-01'; // date nulle pour postgres - TODO ne devrait pas être en dur comme ça
    if(newDate == ""){
        // Se produit lorsque l'utilisateur modifie une date renseignée
        // pour la passer à non renseignée (clic sur le bouton "clear" du calendrier)
        newDate = DATE_NULLE;
    }
    const url = '/ajax/update/date-venteplaq/' + idVente + '/' + newDate;
    const response = await fetch(url);
    if(response == null){
        msg = "- ERREUR - Transmettez ce message l'administrateur du site :\n"
            + "Problème de récupération " + url + " dans venteplaq-list.html";
        ok = 'nok';
    }
    else{
        result = await response.json();
        ok = result['ok']; 
        if(ok == 'ok'){
            if(newDate != DATE_NULLE){
                msg = `<b>Modification enregistrée</b> pour la vente ${idVente} '${titreVente}'`;
            }
            else {
                msg = `<b>Date de paiement effacée</b> pour la vente ${idVente} '${titreVente}'`;
            }
        }
        else{
            msg = "<b>PROBLEME</b>, modification non effectuée : \n"
                + result['message'];
        }
    }
    const msgElt = document.getElementById('message-modif-vente');
    msgElt.innerHTML = msg;
    msgElt.style.display='inline-block';
    let timeout;
    if(ok == 'ok'){
        msgElt.style.background = bgOk;
        if(newDate != DATE_NULLE){
            dateElt.style.background = bgOk;
        }
        else {
            dateElt.style.background = 'white'; // bof, le background par défaut devrait pouvoir être calculé
        }
        timeout = 3000;
    }
    else {
        msgElt.style.background = bgError;
        dateElt.style.background = bgError;
        timeout = 6000;
    }
    // faire disparaître le message au bout d'un moment
    setTimeout(function(){
        document.getElementById('message-modif-vente').style.display = 'none';
    }, timeout);
                     
}
</script>
