<h1>{{.Header.Title}}</h1>

{{with .Details.VenteLivre}}
<form class="form" action="{{$.Details.UrlAction}}" onsubmit="return validateForm();" method="post">

    <div class="grid2-form">           
        
        <label>Vente</label>
        <div>{{.Vente.String}}</div>
        
        <label for="datelivre">Date livraison</label>
        <input type="date" name="datelivre" id="datelivre" value="{{.DateLivre | dateIso}}" class="width20" required>
        
        <label for="livreur">Livreur</label>
        <div class="autocomplete">
            <input type="text" name="livreur" id="livreur" value="" autocomplete="off" class="width20" required>
        </div>

    </div>
    
    <!-- ****************** Coût global ******************* -->
    <div class="big5 bold margin-top2">
        <input type="radio" name="type-cout" id="cout-global" value="cout-global">
        <label for="cout-global">COÛT GLOBAL</label>
    </div>
                                      
    <div class="grid2-form margin-top">
        
        <label for="glprix">Prix HT</label>
        <input type="number" name="glprix" id="glprix" step="0.01" min="0" value="{{.GlPrix | zero2empty}}" class="width5">
        
        <label for="gltva">Taux TVA</label>
        <select name="gltva" id="gltva" class="width8">
            {{$.Details.GlTVAOptions}}
        </select>
        
    </div>

    <!-- ****************** Coût main d'oeuvre ******************* -->
    <div class="big5 bold margin-top2">
        <input type="radio" name="type-cout" id="cout-detaille" value="cout-detaille">
        <label for="cout-detaille">COÛT MAIN D'OEUVRE</label>
    </div>
    
    <div class="grid2-form margin-top">
        
        <label for="monheure">Nombre d'heures</label>
        <input type="number" name="monheure" id="monheure" step="0.01" min="0" value="{{.MoNHeure| zero2empty}}" class="width5">
        
        <label for="moprixh">Prix de l'heure HT</label>
        <input type="number" name="moprixh" id="moprixh" step="0.01" min="0" value="{{.MoPrixH | zero2empty}}" class="width5">
        
        <label for="motva">Taux TVA</label>
        <select name="motva" id="motva" class="width8">
            {{$.Details.MoTVAOptions}}
        </select>
        
    </div>
    
    <hr class="margin-top" style="width:80%;">
    
    <div class="grid2-form margin-top2">
    
        <label for="datepay">Date Paiement<br>(global ou m.o.)</label>
        <input type="date" name="datepay" id="datepay" value="{{.DatePay | dateIso}}" class="width20">
        
        <label for="notes">Notes</label>
        <textarea rows="6" cols="50" name="notes" id="notes">{{.Notes}}</textarea>
        
    </div>
    
    <div class="float-right margin-top">
        <input type="button" name="cancel" value="Annuler" onClick="window.history.back();">
        <input type="submit" class="margin-left" value="Valider">
    </div>

    <input type="hidden" name="id-ventelivre" id="id-ventelivre" value="{{.Id}}">
    <input type="hidden" name="id-vente" id="id-vente" value="{{.IdVente}}">
    <input type="hidden" name="id-livreur" id="id-livreur" value="{{.IdLivreur}}">
    
</form>


<script>
window.addEventListener("load", function(){
    autocomplete(document.getElementById("livreur"), getActeursPossibles);
    // Pour vérifier que le livreur affiché correspond à une personne existant en base.
    // on ne peut pas se fier uniquement à getElementById("id-livreur")
    // car l'utilisateur peut modifier le nom
    window.globalPersons = [];
    //
    let radios = document.getElementsByName("type-cout");
    for( i = 0; i < radios.length; i++ ){
        radios[i].onchange = changeTypeCout;
    }
    
    initialize();
});

// ***************************************
function initialize(){
     // form new
    if({{.Id}} == 0){
        document.getElementById("CHOOSE_TVA_GL").setAttribute("selected", true);
        document.getElementById("CHOOSE_TVA_MO").setAttribute("selected", true);
        document.getElementById("cout-global").setAttribute("checked", true);
        setCoutGlobal();
    }
    // form update
    else{
        window.globalPersons[{{.IdLivreur}}] = "{{.Livreur.NomAutocomplete}}";
        document.getElementById("livreur").value = "{{.Livreur.NomAutocomplete}}";
        //
        if("{{.TypeCout}}" == "G"){
            document.getElementById("cout-global").setAttribute("checked", true);
            setCoutGlobal();
        }
        else{
            document.getElementById("cout-detaille").setAttribute("checked", true);
            setCoutDetaille();
        }
    }
}

// ***************************************
function changeTypeCout(){
    if(document.getElementById("cout-global").checked){
        setCoutGlobal();
    }
    else{
        setCoutDetaille();
    }
}
// ***************************************
function setCoutGlobal(){
    document.getElementById("glprix").readOnly = false;
    document.getElementById("gltva").disabled = false;
    //
    document.getElementById("monheure").value = "";
    document.getElementById("monheure").readOnly = true;
    document.getElementById("moprixh").value = "";
    document.getElementById("moprixh").readOnly = true;
    document.getElementById("motva").value = "CHOOSE_TVA_MO";
    document.getElementById("motva").disabled = true;
}
// ***************************************
function setCoutDetaille(){
    document.getElementById("glprix").value="";
    document.getElementById("glprix").readOnly = true;
    document.getElementById("gltva").value = "CHOOSE_TVA_GL";
    document.getElementById("gltva").disabled = true;
    //
    document.getElementById("monheure").readOnly = false;
    document.getElementById("moprixh").readOnly = false;
    document.getElementById("motva").disabled = false;
}

// ***************************************
/** 
    Fonction utilisée par autocomplete() pour s'alimenter en données
    @param inputField input type=text utilisé
                      pour récupérer des noms de personnes par ajax
**/
// @todo remplacer async = false par await et Promise
function getActeursPossibles(inputField){
    var result = [];
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var response = JSON.parse(this.responseText);
            if(response != null){
                response.forEach(function(item) {
                    result.push(item.name);
                    window.globalPersons[item.id] = item.name;
                });
            }
        }
    };
    xhr.open("GET", "/ajax/autocomplete/acteur/" + inputField.value, false);
    xhr.send();
    return result;
}

// ***************************************
function validateForm(){
    // attribut required pas utilisable à cause du choix possible entre cout global / détaillé
    // remplacé par tests et alert
    let msg = "";
    if(document.getElementById("cout-global").checked){
        // Coût global
        if(document.getElementById("glprix").value == ""){
            msg += "\n- Vous devez indiquer un prix (coût global)";
        }
        if(document.getElementById("CHOOSE_TVA_GL").selected == true){
            msg += "\n- Vous devez choisir un taux de TVA (coût global)";
        }
    } else {
        // Main oeuvre
        if(document.getElementById("monheure").value == ""){
            msg += "\n- Vous devez indiquer un nombre d'heures (m.o.)";
        }
        if(document.getElementById("moprixh").value == ""){
            msg += "\n- Vous devez indiquer un prix / h HT (m.o.)";
        }
        if(document.getElementById("CHOOSE_TVA_MO").selected == true){
            msg += "\n- Vous devez choisir un taux de TVA (m.o.)";
        }
    }
    if(msg != ""){
        msg = "Certains champs sont obligatoires :" + msg;
        alert(msg);
        return false;
    }
    
    // calcule id-livreur
    var personName = document.getElementById("livreur").value.trim();
    if(personName == ""){
        alert("Vous devez renseigner un livreur.");
        return false;
    }
    var ok = false;
    for(var idActeur in window.globalPersons){
        if(window.globalPersons[idActeur] == personName){
            ok = true;
            break;
        }
    }
    if(!ok){
        alert("Le nom \"" + personName + "\"\nne correspond à aucune personne connue en base.");
        return false;
    }
    else{
        document.getElementById("id-livreur").value = idActeur;
    }
    return true;
}
</script>

{{end}}