<h1>{{.Header.Title}}</h1>

{{with .Details.VenteCharge}}
<form class="form" action="{{$.Details.UrlAction}}" onsubmit="return validateForm();" method="post">

    <div class="grid2-form">           
        
        <label>Vente</label>
        <div>{{.Livraison.Vente.String}}</div>
        
        <label>Livraison</label>
        <div>{{.Livraison.String}}</div>
        
        <label for="tas">Tas</label>
        <select name="tas" id="tas">
            {{$.Details.TasOptions}}
        </select>

        <label for="qte">Quantité (maps)</label>
        <input type="number" name="qte" id="qte" step="0.01" min="0" value="{{.Qte | zero2empty}}" class="width5">
        
        <label for="datecharge">Date chargement</label>
        <input type="date" name="datecharge" id="datecharge" value="{{.DateCharge | dateIso}}" class="width20">
        
    </div>
    
    <!-- ****************** Coût global ******************* -->
    <div class="big5 bold margin-top2">
        <input type="radio" name="type-cout" id="cout-global" value="cout-global">
        <label for="cout-global">COÛT GLOBAL</label>
    </div>
                                      
    <div class="grid2-form margin-top">
        
        <label for="chargeur">Chargeur</label>
        <div class="autocomplete">
            <input type="text" name="chargeur" id="chargeur" value="" autocomplete="off" class="width20">
        </div>
        
        <label for="glprix">Prix HT</label>
        <input type="number" name="glprix" id="glprix" step="0.01" min="0" value="{{.GlPrix | zero2empty}}" class="width5">
        
        <label for="gltva">Taux TVA</label>
        <select name="gltva" id="gltva" class="width8">
            {{$.Details.GlTVAOptions}}
        </select>
        
        <label for="gldatepay">Date Paiement</label>
        <input type="date" name="gldatepay" id="gldatepay" value="{{.GlDatePay | dateIso}}" class="width20">
        
    </div>

    <!-- ****************** Coût détaillé ******************* -->
    <div class="big5 bold margin-top2">
        <input type="radio" name="type-cout" id="cout-detaille" value="cout-detaille">
        <label for="cout-detaille">COÛT DÉTAILLÉ</label>
    </div>
    
    <!-- ****************** Conducteur ******************* -->
    <div class="big3 bold margin-top">Main d'oeuvre</div>
    
    <div class="grid2-form margin-top">
        
        <label for="conducteur">Conducteur</label>
        <div class="autocomplete">
            <input type="text" name="conducteur" id="conducteur" value="" autocomplete="off" class="width20">
        </div>

        <label for="monheure">Nombre d'heures</label>
        <input type="number" name="monheure" id="monheure" step="0.01" min="0" value="{{.MoNHeure | zero2empty}}" class="width5">
        
        <label for="moprixh">Prix de l'heure HT</label>
        <input type="number" name="moprixh" id="moprixh" step="0.01" min="0" value="{{.MoPrixH | zero2empty}}" class="width5">
        
        <label for="motva">Taux TVA</label>
        <select name="motva" id="motva" class="width8">
            {{$.Details.MoTVAOptions}}
        </select>
        
        <label for="modatepay">Date Paiement</label>
        <input type="date" name="modatepay" id="modatepay" value="{{.MoDatePay | dateIso}}" class="width20">
        
    </div>
    
    <!-- ****************** Outil ******************* -->
    <div class="big3 bold margin-top">Outil</div>
    
    <div class="grid2-form margin-top">
        
        <label for="proprioutil">Propriétaire outil</label>
        <div class="autocomplete">
            <input type="text" name="proprioutil" id="proprioutil" value="" autocomplete="off" class="width20">
        </div>

        <label for="ouprix">Prix HT</label>
        <input type="number" name="ouprix" id="ouprix" step="0.01" min="0" value="{{.OuPrix | zero2empty}}" class="width5">
        
        <label for="outva">Taux TVA</label>
        <select name="outva" id="outva" class="width8">
            {{$.Details.OuTVAOptions}}
        </select>
        
        <label for="oudatepay">Date Paiement</label>
        <input type="date" name="oudatepay" id="oudatepay" value="{{.OuDatePay | dateIso}}" class="width20">
        
    </div>
    
    <div class="grid2-form margin-top2">
    
        <label for="notes">Notes</label>
        <textarea rows="6" cols="50" name="notes" id="notes">{{.Notes}}</textarea>
        
    </div>
    
    <div class="float-right margin-top">
        <input type="button" name="cancel" value="Annuler" onClick="window.history.back();">
        <input type="submit" class="margin-left" value="Valider">
    </div>

    <input type="hidden" name="id-chargement" id="id-chargement" value="{{.Id}}">
    <input type="hidden" name="id-livraison" id="id-livraison" value="{{.IdLivraison}}">
    <input type="hidden" name="id-vente" id="id-vente" value="{{.IdVente}}">
    <input type="hidden" name="id-chargeur" id="id-chargeur" value="{{.IdChargeur}}">
    <input type="hidden" name="id-conducteur" id="id-conducteur" value="{{.IdConducteur}}">
    <input type="hidden" name="id-proprioutil" id="id-proprioutil" value="{{.IdProprioutil}}">
    
</form>


<script>
window.addEventListener("load", function(){
    autocomplete(document.getElementById("chargeur"), getActeursPossibles);
    autocomplete(document.getElementById("conducteur"), getActeursPossibles);
    autocomplete(document.getElementById("proprioutil"), getActeursPossibles);
    // Pour vérifier que le chargeur affiché correspond à une personne existant en base.
    // on ne peut pas se fier uniquement à getElementById("id-chargeur")
    // car l'utilisateur peut modifier le nom
    window.globalPersons = [];
    
    let radios = document.getElementsByName("type-cout");
    for( i = 0; i < radios.length; i++ ){
        radios[i].onchange = changeTypeCout;
    }
    
    initialize();
});

// ***************************************
function initialize(){
     // form new
    if({{.Chargeur.Id}} == 0 && {{.Conducteur.Id}} == 0 && {{.Proprioutil.Id}} == 0){
        setCoutGlobal();
        document.getElementById("cout-global").setAttribute("checked", true);
    }
    // form update
    else{
        window.globalPersons[{{.IdChargeur}}] = "{{.Chargeur.NomAutocomplete}}";
        window.globalPersons[{{.IdConducteur}}] = "{{.Conducteur.NomAutocomplete}}";
        window.globalPersons[{{.IdProprioutil}}] = "{{.Proprioutil.NomAutocomplete}}";
        document.getElementById("chargeur").value = "{{.Chargeur.NomAutocomplete}}";
        document.getElementById("conducteur").value = "{{.Conducteur.NomAutocomplete}}";
        document.getElementById("proprioutil").value = "{{.Proprioutil.NomAutocomplete}}";
        //
        if({{.TypeCout}} == "G"){
            document.getElementById("cout-global").setAttribute("checked", true);
            setCoutGlobal();
        }
        else{
            document.getElementById("cout-detaille").setAttribute("checked", true);
            setCoutDetaille();
        }
    }
}

// ***************************************
function changeTypeCout(){
    if(document.getElementById("cout-global").checked){
        setCoutGlobal();
    }
    else{
        setCoutDetaille();
    }
}
// ***************************************
function setCoutGlobal(){
    document.getElementById("chargeur").readOnly = false;
    document.getElementById("glprix").readOnly = false;
    document.getElementById("gltva").disabled = false;
    document.getElementById("gldatepay").readOnly = false;
    //
    document.getElementById("conducteur").value = "";
    document.getElementById("conducteur").readOnly = true;
    document.getElementById("ouprix").value = "";
    document.getElementById("ouprix").readOnly = true;
    document.getElementById("outva").value = "CHOOSE_TVA_OU";
    document.getElementById("outva").disabled = true;
    document.getElementById("oudatepay").value = "";
    document.getElementById("oudatepay").readOnly = true;
    //
    document.getElementById("proprioutil").value = "";
    document.getElementById("proprioutil").readOnly = true;
    document.getElementById("monheure").value = "";
    document.getElementById("monheure").readOnly = true;
    document.getElementById("moprixh").value = "";
    document.getElementById("moprixh").readOnly = true;
    document.getElementById("motva").value = "CHOOSE_TVA_MO";
    document.getElementById("motva").disabled = true;
    document.getElementById("modatepay").value = "";
    document.getElementById("modatepay").readOnly = true;      
}
// ***************************************
function setCoutDetaille(){
    document.getElementById("chargeur").value = "";
    document.getElementById("chargeur").readOnly = true;
    document.getElementById("glprix").value="";
    document.getElementById("glprix").readOnly = true;
    document.getElementById("gltva").value = "CHOOSE_TVA_GL";
    document.getElementById("gltva").disabled = true;
    document.getElementById("gldatepay").value = "";
    document.getElementById("gldatepay").readOnly = true;
    //
    document.getElementById("conducteur").readOnly = false;
    document.getElementById("ouprix").readOnly = false;
    document.getElementById("outva").disabled = false;
    document.getElementById("oudatepay").readOnly = false;
    //
    document.getElementById("proprioutil").readOnly = false;
    document.getElementById("monheure").readOnly = false;
    document.getElementById("moprixh").readOnly = false;
    document.getElementById("motva").disabled = false;
    document.getElementById("modatepay").readOnly = false;                  
}

// ***************************************
function validateForm(){
    //
    let msg = "", check;
    //
    if(document.getElementById("CHOOSE_TAS").selected == true){
        msg += "- Vous devez choisir un tas.\n";
    }
    //
    if(document.getElementById("qte").value == ""){
        msg += "- Vous devez indiquer la quantité de plaquettes.\n";
    }
    //
    if(document.getElementById("cout-global").checked){
        //
        // 1 - Coût global
        //
        check = checkActeur("chargeur", "- Vous devez renseigner le chargeur.\n");
        document.getElementById("id-chargeur").value = check[0];
        msg += check[1];
        //
        if(document.getElementById("glprix").value == ""){
            msg += "- Vous devez indiquer un prix (coût global).\n";
        }
        //
        if(document.getElementById("gl-CHOOSE_TVA_GL").selected == true){
            msg += "- Vous devez choisir un taux de TVA (coût global).\n";
        }
    } else {
        //
        // 2 - Coût détaillé
        //
        // 2.1 - Main oeuvre
        //
        check = checkActeur("conducteur", "- Vous devez renseigner le conducteur.\n");
        document.getElementById("id-conducteur").value = check[0];
        msg += check[1];
        //
        if(document.getElementById("monheure").value == ""){
            msg += "- Vous devez indiquer un nombre d'heures (m.o.).\n";
        }
        //
        if(document.getElementById("moprixh").value == ""){                      
            msg += "- Vous devez indiquer un prix / h HT (m.o.).\n";
        }
        //
        if(document.getElementById("mo-CHOOSE_TVA_MO").selected == true){
            msg += "- Vous devez choisir un taux de TVA (m.o.).\n";
        }
        //
        // 2.2 - Outil
        //
        check = checkActeur("proprioutil", "- Vous devez renseigner le propriétaire de l'outil.\n");
        document.getElementById("id-proprioutil").value = check[0];
        msg += check[1];
        //
        if(document.getElementById("ouprix").value == ""){                      
            msg += "- Vous devez indiquer un prix HT (outil).\n";
        }
        //
        if(document.getElementById("ou-CHOOSE_TVA_OU").selected == true){
            msg += "- Vous devez choisir un taux de TVA (outil).\n";
        }
    }
    //
    if(msg != ""){
        msg = "Impossible de valider ce formulaire :\n" + msg;
        alert(msg);
        return false;
    }
    return true;
}
</script>

{{end}}