{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<script>{{template "checkActeur.js.html" .Details}}</script>
{{template "listeActeurs.html" .Details}}

<h1>{{.Header.Title}}</h1>

{{with .Details.Vente}}
<form class="form" action="{{$.Details.UrlAction}}" onsubmit="return validateForm();" method="post" novalidate>

    <div class="grid2-form">
        
        <label for="client">Client</label>
        <input list="liste-acteurs" name="client" id="client" class="width25">
        
        <label for="fournisseur">Fournisseur</label>
        <select name="fournisseur" id="fournisseur" class="width15">
            {{$.Details.FournisseurOptions}}
        </select>
                
        <label for="puht">PU HT</label>
        <div>
            <input type="number" name="puht" id="puht" step="0.01" min="0" value="{{.PUHT | zero2empty}}" class="width5">
            &euro; / map
        </div>
        
        <label for="tva">Taux TVA</label>
        <div>{{.TVA}} %</div>
        
        <label for="datevente">Date Vente</label>
        <input type="date" name="datevente" id="datevente" value="{{.DateVente | dateIso}}" class="width15">
    
    </div>
    
    <fieldset class="margin-top margin-bottom">
        <legend class="bold padding-right05 padding-left05">Facture</legend>
        <div class="grid2-form">
            
            <label class="optional" for="numfacture">Numéro Facture</label>
            <input type="text" name="numfacture" id="numfacture" value="{{.NumFacture}}" class="width15" readonly>
            
            <label class="optional" for="datefacture">Date Facture</label>
            <input type="date" name="datefacture" id="datefacture" value="{{.DateFacture | dateIso}}" class="width15">
            
            <div class="right"><input type="checkbox" id="facturelivraison" name="facturelivraison" onchange="changeFactureLivraison();"></div>
            <div>
                <label class="optional" for="facturelivraison">Faire apparaître (les) livraison(s) dans la facture</label>
                <div class=" margin-left2">
                    <div class="padding-top05">
                        <label class="optional" for="facturelivraisonpuht">PU HT livraison</label>
                        <input type="number" name="facturelivraisonpuht" id="facturelivraisonpuht"
                               step="0.01" min="0" value="{{.FactureLivraisonPUHT | zero2empty}}" class="width5">
                        &euro; /
                        <select name="facturelivraisonunite" id="facturelivraisonunite" onchange="changeUniteFactureLivraison();">
                            <option id="CHOOSE_FACTURELIVRAISONUNITE" value="">--- Choisir ---</option>
                            <option id="FACTURELIVRAISONUNITE-MAP" value="map">Map</option>
                            <option id="FACTURELIVRAISONUNITE-KM" value="km">Km</option>
                        </select>
                    </div>
                    <div class="padding-top05">
                        <label class="optional" for="facturelivraisonnbkm">Nombre de km</label>
                        <input type="number" name="facturelivraisonnbkm" id="facturelivraisonnbkm"
                               step="1" min="0" value="{{.FactureLivraisonNbKm}}" class="width5">
                    </div>
                    <div class="padding-top05 optional">TVA livraison : {{.FactureLivraisonTVA}} %</div>
                </div>
            </div>
           
            <div class="right"><input type="checkbox" id="facturenotes" name="facturenotes"></div>
            <div class="left"><label class="optional" for="facturenotes">Faire apparaître les notes dans la facture</label></div>
    </fieldset>
    
    <div class="grid2-form">
        <label class="optional" for="notes">Notes</label>
        <textarea rows="6" cols="50" name="notes" id="notes">{{.Notes}}</textarea>
    </div>

    <div class="margin-top">
        <div class="float-left">
            <a href="#help" id="toogle-help" class="help-button" title="Afficher l'aide de ce formulaire" onClick="toogle('help');">?</a>
        </div>
        <div class="float-right">
            <input type="button" name="cancel" value="Annuler" onClick="window.history.back();">
            <input type="submit" class="margin-left" value="Valider">
        </div>
    </div>
    
    <input type="hidden" name="id-vente" id="id-vente" value="{{.Id}}">
    <input type="hidden" name="id-client" id="id-client" value="{{.IdClient}}">
    
</form>

<a name="help"></a>
<div id="help" class="margin display-none">
    <div class="help-content">
        <div class="help-title">Aide</div>
        <div class="section">
            <b>Quantité</b> : La quantité d'une vente n'est pas renseignée ici.
            <br>Elle sera renseignée dans les opérations de <b>chargement</b> liées aux livraisons de cette vente.
        </div>
        <div class="section">
            <b>Taux TVA</b> : ce taux concerne les plaquettes ; il est le même pour toutes les ventes.
            <br>Il peut être changé dans la configuration :
            <br>fichier <code>config.yml</code>, section <code>tva-bdl</code>, valeur <code>vente-plaquettes</code>.
        </div>
        <div class="section">
            <b>Faire apparaître la (les) livraison(s) dans la facture</b> :
            <br>Le coût de la livraison facturée est distinct du coût payé par BDL aux livreurs.
            <br>Ce coût doit être saisi dans <b>PU HT livraison</b>.
            <br>La quantité utilisée par ce coût de livraison est la même que la quantité de la vente (qui sera renseignée dans les opérations de chargement).
            <br>Le taux de TVA (qui apparaît dans la facture pour la livraison) est le même pour toutes les livraisons ; spécifié dans le fichier <code>config.yml</code>, section <code>tva-bdl</code>, valeur <code>livraison</code>.
        </div>
        <div class="section">
            <b>Notes</b> : des notes peuvent être saisies indépendamment de la facture.
            <br>Si la case <b>Faire apparaître les notes dans la facture</b> est cochée, le contenu des notes apparaîtra dans la facture.
        </div>
    </div>
</div>

<script>
window.addEventListener("load", function(){
    initialize();
    
});

// ***************************************
function initialize(){
    // form new
    if({{.Client.Id}} == 0){
        if(document.getElementById("fournisseur").length == 2){
            // s'il n'y a qu'un seul fournisseur possible (BDL), alors on pré-sélectionne BDL
            document.getElementById("fournisseur").selectedIndex = "1"; 
            document.getElementById("CHOOSE_FACTURELIVRAISONUNITE").setAttribute("selected", "selected");
        }
        else{
            document.getElementById("CHOOSE_FOURNISSEUR").setAttribute("selected", "selected");
        }
    }
    // form update
    else{
        document.getElementById("client").value = "{{.Client.String}}";
        //
        if({{.FactureLivraison}}){
            document.getElementById("facturelivraison").checked = true;
            {{if eq .FactureLivraisonUnite "map"}}
                document.getElementById("FACTURELIVRAISONUNITE-MAP").selected = true;
                document.getElementById("facturelivraisonnbkm").disabled = true;
            {{else}}
                document.getElementById("FACTURELIVRAISONUNITE-KM").selected = true;
                document.getElementById("facturelivraisonnbkm").disabled = false;
            {{end}}
        }
        //
        if({{.FactureNotes}}){
            document.getElementById("facturenotes").checked = true;
        }
    }
    // form new et update
    changeFactureLivraison();
}

// ***************************************
/** Exécutée lorsque l'utilisateur clique sur elt id facturelivraison **/
function changeFactureLivraison(){
    if(document.getElementById("facturelivraison").checked == true){
        document.getElementById("facturelivraisonpuht").disabled = false;
        document.getElementById("facturelivraisonunite").disabled = false;
        if(document.getElementById("FACTURELIVRAISONUNITE-KM").selected == true){
            document.getElementById("facturelivraisonnbkm").disabled = false;
        }
        else{
            document.getElementById("facturelivraisonnbkm").disabled = true;
        }
    }
    else{
        document.getElementById("facturelivraisonpuht").value = "";
        document.getElementById("facturelivraisonpuht").disabled = true;
        document.getElementById("CHOOSE_FACTURELIVRAISONUNITE").selected = true;
        document.getElementById("facturelivraisonunite").disabled = true;
        document.getElementById("facturelivraisonnbkm").value = "";
        document.getElementById("facturelivraisonnbkm").disabled = true;
    }
}

// ***************************************
/** Exécutée lorsque l'utilisateur l'unité utilisée pour afficher le prix de livraison sur la facture **/
function changeUniteFactureLivraison(){
    if(document.getElementById("FACTURELIVRAISONUNITE-KM").selected == false){
        document.getElementById("facturelivraisonnbkm").value = "";
        document.getElementById("facturelivraisonnbkm").disabled = true;
    }
    else{
        document.getElementById("facturelivraisonnbkm").disabled = false;
    }
}

// ***************************************
function validateForm(){
    //
    let msg = "", check;
    //
    check = checkActeur("client", "- Vous devez renseigner un client.\n");
    document.getElementById("id-client").value = check[0];
    msg += check[1];
    //
    if(document.getElementById("CHOOSE_FOURNISSEUR").selected == true){
        msg += "- Vous devez choisir un fournisseur.\n";
    }
    //
    if(document.getElementById("puht").value == ""){
        msg += "- Vous devez choisir un PU HT.\n";
    }
    //
    if(document.getElementById("datevente").value == ""){
        msg += "- Vous devez choisir une date de vente.\n";
    }
    //
    if(document.getElementById("facturelivraison").checked == true){
        if(document.getElementById("facturelivraisonpuht").value == ""){
            msg += "- Si la livraison apparaît sur la facture, vous devez spécifier le PU HT livraison.\n";
        }
        if(document.getElementById("CHOOSE_FACTURELIVRAISONUNITE").selected == true){
            msg += "- Si la livraison apparaît sur la facture, vous devez spécifier l'unité (map ou km).\n";
        }
        if(document.getElementById("FACTURELIVRAISONUNITE-KM").selected == true
        && document.getElementById("facturelivraisonnbkm").value == ""  ){
            msg += "- Si le prix de livraison apparaissant sur la facture est compté en km, vous devez spécifier le nombre de km.\n";
        }
        
    }
    //
    document.getElementById("notes").value = document.getElementById("notes").value.trim();
    if(document.getElementById("facturenotes").checked == true){
        if(document.getElementById("notes").value == ""){
            msg += "- Si les notes apparaissent sur la facture, vous devez saisir des notes.\n";
        }
    }
    //
    if(msg != ""){
        msg = "Impossible de valider ce formulaire :\n" + msg;
        alert(msg);
        return false;
    }
    return true;
}

</script>

{{end}}