/** 
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
**/

@import url("style.css");

:root {
    /* 
    --main-bg-color:lightyellow;
    */
    --main-bg-color:radial-gradient(circle, rgba(181,139,50,1) 23%, rgba(164,203,58,1) 100%);
    --menu-height:4em;
    --background-ok:lightgreen;
    --background-error:lightsalmon;

}

/* en test - pour anchor qui se décale de la hauteur du menu */
:target{
   position: relative;
   border-top: 52px solid transparent;
   margin: -30px 0 0;
   background-clip: padding-box;
}
:target:before {
   content: "";
   position: absolute;
   top: 30px;
   left: 0;
   right: 0;
}

/* ================ General styles ================ */                                               
body{
    font-family:Verdana, Geneva, sans-serif;
    background:var(--main-bg-color);
}

a{text-decoration:none;}

.content{
    margin-top:var(--menu-height); /* Space for menu */
}

summary, .link{
    cursor:pointer;
    color:blue;
}

/* ================ Colors ================ */
.ok{
    background:lightgreen;
}
.nok{
    background:lightsalmon;
}

.menu-recherche{
    background:lightgreen;
}
.menus li a.menu-recherche:hover{
    background:#4ff44f;
}

/* ================ Particular styles applied to several pages ================ */

h1{padding-left:1rem;}

.page-content{
    padding:1rem;
    margin-left:1rem;
    background:white;
    border:1px solid grey;
}

.help-button{
    cursor:pointer;
    font-weight:bold;
    font-size:2rem;
    border: 1px solid grey;
    padding: 0 .5rem;
    border-radius:10px;
    background:#d4c375;
}
.help-content{
    border:1px solid grey;
    border-radius:10px;
    display:inline-block;
    padding:1rem;
    background:#f2f2f2;
    margin-bottom:1rem;
}
.help-content .section{
    margin-bottom:1rem;
}
.help-title{
    text-align:center;
    font-weight:bold;
    font-size:2rem;
    margin-bottom:1rem;
}

/* bold big2 border2 padding-left02 padding-right02 */
.icon-euro{
    font-size:1.5rem;
    padding: 1px .5rem;
    border:2px solid black;
    color:white;
    background:grey;
    font-weight:lighter;
}
.icon-euro-small{
    padding: 0 .5rem;
    border:1px solid black;
    color:white;
    background:grey;
    font-weight:lighter;
}
.verybigicon{
    display:block;
    border:2px solid grey;
    padding:7px;
    background:white;
}
.bigicon{
    display:block;
    border:2px solid grey;
    padding:3px;
    background:white;
}
.bigicon.inline{display:inline;}
.bigicon.inline-block{display:inline-block;}
.verybigicon.inline-block{display:inline-block;}
.smallicon{
    border:2px solid grey;
    padding:3px;
}

.response{
    display:none;
    border:1px solid grey;
    padding:1em;
    margin:1em;
    background:var(--background-ok);
    border-radius:10px;
}

.error{
    display:inline-block;
    border:1px solid grey;
    border-radius:3px;
    padding:1em;
    margin:1em;
    background:var(--background-error);
}

.note{
    padding:.2rem;
    background-color: #1fc8db;
    background-image: linear-gradient(140deg, #BFD641 0%, #EADEDB 75%);
}


.parcelle-form{
    padding:.3rem;
    border:1px solid darkgrey;
    border-radius:3px;
    background:#dfecf8;
    margin-bottom:1rem;
}
.parcelle-form-selected{
    background:lightgreen;
}

/* ================ Particular pages ================ */
.recap-filtres{
    margin-left:2rem;
    margin-bottom:1rem;
}
.recap-filtres td:nth-child(2){
    font-weight:bold;
}

.icon-empty{
    display:inline-block;
    padding:0 2px;
    border:2px solid grey;
    position:relative; top:-6px;
}
.icon-humid{
    border:2px solid grey;
    padding:2px;
    background:white;
}
.stock-presque-vide{
    background:#de861c;
    padding:4px;
    border:2px solid gold;
}

.role-acteur{
    background:#eee;
    padding:3px;
    border:1px solid grey;
    border-radius:4px;
}
/* recherche / bilan */
#table-bilan-saison{
    margin-left:1.5rem;
    border-collapse:collapse;
}
#table-bilan-saison td{
    padding:3px;
    white-space:nowrap;
}
#table-bilan-saison .ligne-titre-saison{
    background:none;
    font-weight:bold;
}
#table-bilan-saison td.titre-saison{
    padding-top:2rem;
    padding-bottom:5px;
}
#table-bilan-saison tr.ligne-bilan{
    outline:1px solid grey;
}
#table-bilan-saison td.valo{
    font-weight:bold;
    text-align:right;
    padding-right:1rem;
}
#table-bilan-saison td.proprio{
    width:14rem; /* A changer si un nouveau propriétaire a un nom plus long */
}
#table-bilan-saison td.volume{
    text-align:right;
    width:10rem;
}
#table-bilan-saison td.prix{
    text-align:right;
    width:10rem;
}
#table-bilan-saison .total-saison{
    outline:1px solid grey;
    background:#dbe599;
    font-weight:bold;
}



/* ================ A nettoyer / classer ================ */

/* 2 columns, to present results */
.grid2{
    display:grid;
    grid-template-columns: max-content 1fr;
}
.grid2>*:nth-child(odd){
    text-align:right;
    padding-right:1em;
}

/* 2 columns, to present results */
.grid2-pres{
    display:grid;
    grid-template-columns: max-content 1fr;
}
.grid2-pres>*:nth-child(odd){
    text-align:right;
    padding-right:1em;
}
.grid2-pres>*:nth-child(even){
    font-weight:bold;
}

table.entities{
    margin:1em;
}
table.entities td, table.entities th{
    padding:.2rem .3rem;
}
table.entities>tbody>tr:nth-child(even){
    background-color:lightyellow;
}
table.entities>tbody>tr:nth-child(odd){
    background-color:lightgrey;
}
table.entities tr.total{           
    font-weight:bold;
    font-size:1.1em;
}

table.bordered{
    border-collapse:collapse;
    border:1px solid grey;
}
table.bordered th, table.bordered td{
    border:1px solid grey;                                  
    padding:4px;
}

table.th-left th{
    text-align:left;
    padding-right:1em;
}
