/* 
    Voir en fin de fichier pour les styles appliqués à des pages particulières.
*/


@media print {

    body{
        font-size:10px;
        font-family: "Times New Roman", Times, serif;
        background:none;
        margin:0;
        padding:0;
    }
    
    .no-print{
        display:none;
    }
    
    .menus{
        display:none;
    }
    
    .content,
    .menus,
    .page-content
    {
        margin:0;
        padding:0;
        border:none;
    }
    
    h1{
        text-align:center;
        padding-top:.5rem;
        padding-bottom:.5rem;
    }
    
    .tablinks{ /** tabstrips **/
        display:none;
    }
    
    .bigicon{
        display:none;
    }
    
    table.entities{
        margin:0;
        margin-left:.5rem;
        padding:0;
        border:none;
        border-collapse:collapse;
        
    }
    
    table.entities tr{
        border:1px solid black;
    }
    
    table.entities td,
    table.entities th
    {
        border:1px solid black;
    }
    
}