/** 
    @history    2017, Thierry Graff : Creation
**/

/* 
@import url("print.css");
*/

/* ================ Normalization ================ */
*{
    box-sizing:border-box;
}
body{
    font-size:1em;
}                                                                                

/* 
.flex-wrap{
    display:flex;
    flex-wrap:wrap;
}
.flex-center{
    justify-content:center;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.flex-col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
*/

.page-break-before{page-break-before:always;}

/* img{display:block;} */

ul.spaced>li,
ol.spaced>li{
    padding-bottom:0.8rem;
}
ul.naked>li,
ol.naked>li{
    list-style-type:none;
}
ul.simple{
    list-style-type: '- ';
}

table.border{border-collapse:collapse;}
table.border td{border:1px solid #a2a9b1;}

.whitespace-nowrap{white-space:nowrap;}
.whitespace-pre{white-space:pre;}

.float-left{float:left;}
.float-right{float:right;}
.clear-left{clear:left;}
.clear-right{clear:right;}
.clear-both{clear:both;}

.inline{display:inline;}
.inline-block{display:inline-block;}
.block{display:block;}

.arial{font-family:Arial,Helvetica,sans-serif;}
.courier{font-family:"Courier New",Courier,monospace;}
.dejavu{font-family:DejaVu,serif;}

.bold{font-weight:bold;}
.normal{font-weight:normal;}
.word-spacing{word-spacing:1em;}

.center{text-align:center;}
.justify{text-align:justify;}
.right{text-align:right;}
.left{text-align:left;}

.vertical-align-top{vertical-align:top;}
.vertical-align-middle{vertical-align:middle;}

.border-none{border:none;}
.border-radius10{border-radius:10px;}
.border{border:1px solid grey;}
.border2{border:2px solid grey;}
.border-left{border-left:1px solid grey;}
.border-right{border-right:1px solid grey;}
.border-top{border-top:1px solid grey;}
.border-bottom{border-bottom:1px solid grey;}

.margin-auto{margin:auto;}
.margin{margin:1rem;}
.margin0{margin:0;}
.margin05{margin:.5rem;}
.margin2{margin:2rem;}
.margin3{margin:3rem;}

.margin-top{margin-top:1rem;}                            
.margin-top0{margin-top:0;}
.margin-top05{margin-top:.5rem;}
.margin-top2{margin-top:2rem;}
.margin-top3{margin-top:3rem;}

.margin-left{margin-left:1rem;}
.margin-left0{margin-left:0;}
.margin-left05{margin-left:.5rem;}
.margin-left2{margin-left:2rem;}
.margin-left3{margin-left:3rem;}
.margin-left5{margin-left:5rem;}

.margin-bottom{margin-bottom:1rem;}                            
.margin-bottom0{margin-bottom:0;}
.margin-bottom05{margin-bottom:.5rem;}
.margin-bottom2{margin-bottom:2rem;}
.margin-bottom3{margin-bottom:3rem;}

.margin-right{margin-right:1rem;}
.margin-right0{margin-right:0;}
.margin-right05{margin-right:.5rem;}
.margin-right2{margin-right:2rem;}
.margin-right3{margin-right:3rem;}

.top-pad{position:relative; top:1em;}
.top-pad2{position:relative; top:2em;}
.right-pad{position:relative; right:1em;}
.right-pad2{position:relative; right:2em;}
.bottom-pad{position:relative; bottom:1em;}
.bottom-pad2{position:relative; bottom:2em;}
.left-pad{position:relative; left:1em;}
.left-pad2{position:relative; left:2em;}

.padding{padding:1rem;}
.padding0{padding:0;}
.padding02{padding:.2rem;}
.padding05{padding:.5rem;}
.padding2{padding:2rem;}
.padding3{padding:3rem;}

.padding-top{padding-top:1rem;}
.padding-top0{padding-top:0;}
.padding-top05{padding-top:.5rem;}
.padding-top2{padding-top:2rem;}
.padding-top3{padding-top:3rem;}

.padding-left{padding-left:1rem;}
.padding-left0{padding-left:0;}                                      
.padding-left05{padding-left:.5rem;}
.padding-left2{padding-left:2rem;}
.padding-left3{padding-left:3rem;}

.padding-bottom{padding-bottom:1rem;}
.padding-bottom0{padding-bottom:0;}
.padding-bottom05{padding-bottom:.5rem;}
.padding-bottom2{padding-bottom:2rem;}
.padding-bottom3{padding-bottom:3rem;}

.padding-right{padding-right:1rem;}
.padding-right0{padding-right:0;}
.padding-right05{padding-right:.5rem;}
.padding-right2{padding-right:2rem;}
.padding-right3{padding-right:3rem;}

.big1{font-size:1.1rem;}
.big2{font-size:1.2rem;}
.big3{font-size:1.3rem;}
.big4{font-size:1.4rem;}
.big5{font-size:1.5rem;}
.big20{font-size:2rem;}
.big30{font-size:3rem;}
.big40{font-size:4rem;}

.small9{font-size:.9rem;}
.small8{font-size:.8rem;}
.small7{font-size:.7rem;}
.small6{font-size:.6rem;}

.width3{width:3rem;}
.width5{width:5rem;}
.width8{width:8rem;}
.width10{width:10rem;}
.width15{width:15rem;}
.width20{width:20rem;}
.width25{width:25rem;}
.width30{width:30rem;}

/* ================ Colors ================ */
.background-none{background:none;}

.black{color:black;}
.white{color:white;}
.blue{color:blue;}
.red{color:red;}
.yellow{color:yellow;}
.green{color:green;}
.grey{color:grey;}
.lightgrey{color:lightgrey;}
.orange{color:orange;}

.bg-black{background-color:black;}
.bg-white{background-color:white;}
.bg-blue{background-color:blue;}
.bg-red{background-color:red;}
.bg-yellow{background-color:yellow;}
.bg-green{background-color:green;}
.bg-grey{background-color:grey;}
.bg-lightgrey{background-color:lightgrey;}
.bg-orange{background-color:orange;}
