{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

{{with .Details}}

<style>
    h2{padding-left:1rem;}
</style>

<h1>
    {{$.Header.Title}} - 
    {{$len := len .Proprietaires}}
    {{range $i, $proprio := .Proprietaires}}
        {{printf "%+v" $proprio}}
        {{if lt (plus $i 1) $len}} + {{end}}
    {{end}}
</h1>

<h2>Du {{.DateDebut | dateFr}} au {{.DateFin | dateFr}}</h2>

<div class="page-content">

<script>
let unites = new Map();
let k1, k2;
{{range .ValoCodes}}
    k1 = "{{.}}" + "-vol";
    k2 = "{{.}}" + "-ca";
    unites.set(k1, "{{. | valorisation2uniteLabel}}")
    unites.set(k2, "&euro;")
{{end}}
</script>

<table class="bordered entities">
    <tr>
        <th></th>
        {{range .EssenceCodes}}
            <th colspan="2">{{. | labelEssence}}</th>
        {{end}}
    </tr>
    <tr>
        <th></th>
        {{range .EssenceCodes}}
            <th>Vol.</th><th>C.A.</th>
        {{end}}
    </tr>
    {{range .ValoCodes}}
    <tr>
        <th>{{. | labelValorisationAvecChauferEtPlaq}}</th>
        {{$valoCode := .}}
        {{range $.Details.EssenceCodes}}
            <td class="right">
                {{$key := printf "%s-%s-vol" $valoCode .}}
                {{$val := index $.Details.Valorisations $key}}
                <script>document.write(formatNb({{$val}}));</script>
                {{$key_totaux := printf "%s-vol" $valoCode}}
                <script>
                    document.write(unites.get({{$key_totaux}}));
                </script>
            </td>
            <td class="right">
                {{$key := printf "%s-%s-ca" $valoCode .}}
                {{$val := index $.Details.Valorisations $key}}
                <script>document.write(formatNb({{$val}}));</script>
                {{$key_totaux := printf "%s-ca" $valoCode}}
                <script>
                    document.write(unites.get({{$key_totaux}}));
                </script>
            </td>
        {{end}}
    </tr>
    {{end}}
</table>

</div>
{{end}}