{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<h1>Parcelle {{.Details.Code}}</h1>

<div class="page-content">
    <h2>Données foncières</h2>
    
    <div class="grid2-pres">
    
        <div>Superficie</div>
        <div>{{.Details.Surface}} ha</div>
    
        <div>Lieu-dit</div>
        <div>
            {{range .Details.Lieudits}}
            <div>
                <a href="/lieudit/{{.Id}}">{{.Nom}}</a>
                ({{range .Communes}}
                    {{.Nom}} 
                {{end}})
            </div>
            {{end}}
        </div>
    
        <div>Fermier</div>
        <div>
            {{range .Details.Fermiers}}
            <div>
                <a href="/fermier/{{.Id}}">{{.String}}</a>
            </div>
            {{end}}
        </div>
    
        <div>Propriétaire</div>
        <div><a href="/acteur/{{.Details.IdProprietaire}}">{{.Details.Proprietaire.String}}</a></div>
        
    </div> <!-- end class="grid2-pres" -->
    
    <h2>Unités de gestion</h2>
    {{if .Details.UGs}}
    <ul>
        {{range .Details.UGs}}
        <li>
            <a href="/ug/{{.Id}}">{{.Code}}</a>
        </li>
        {{end}}
    </ul>
    {{else}}
    Aucune UG associée à cette parcelle
    {{end}}
</div><!-- end class="page-content" -->
