{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<div class="flex-wrap">
{{with .Details.UG}}
    <div class="padding-right padding-left border-right">
    
        <div class="bold big2">Code : {{.Code}}</div>
        
        <!-- ********************************************** -->
        <h2>Données forestières</h2>
        <div class="grid2-pres">
            <div>Surface SIG</div>
            <div>{{.SurfaceSIG}} ha</div>
            
            <div>Type de peuplement</div>
            <div>{{.TypePeuplement}}</div>
        
            <div>Type de coupe</div>
            <div>{{.TypeCoupe}}</div>
        
            <div>Prévisionnel coupe</div>
            <div>{{.PrevisionnelCoupe}}</div>
        </div> <!-- end class="grid2-pres" -->
        
        <!-- ********************************************** -->
        <h2>Données foncières</h2>
        
        <div class="bold">Propriétaire(s)</div>
        <ul class="naked margin-top0">
        {{range .Proprietaires}}
            <li><a href="/fermier/{{.Id}}">{{.String}}</a></li>
        {{end}}
        </ul>
        
        <div class="bold">Fermiers</div>
        <ul class="naked margin-top0">
        {{range .Fermiers}}
            <li><a href="/fermier/{{.Id}}">{{.String}}</a></li>
        {{end}}
        </ul>
        
        <div class="bold">Parcelles</div>
        <ul>
        {{range .Parcelles}}
            <li>
                <a href="/parcelle/{{.Id}}">{{.Code}}</a>
                    {{range .Lieudits}}
                        <div class="padding-left"><a href="/lieudit/{{.Id}}">{{.Nom}}</a></div>
                    {{end}}
            </li>
        {{end}}
        </ul>
        
    </div>
{{end}}
    
{{with .Details}}
    <div class="padding-left">
        <h2>Exploitation</h2>
        {{if .Activites}}
        <table class="margin-left">
        {{range .Activites}}
            <tr>
                <td>{{.Date | dateFr}}</td>
                <td class="padding-left05"><a href="{{.URL}}">{{.NomActivite}}</a></td>
            </tr>
        {{end}}
        </table>
        
        {{else}}
        <h3>Aucune activité</h3>
        {{end}}
    </div>
{{end}}
    
</div><!-- end flex-wrap -->

