{{/*
    @copyright  BDL, Bois du Larzac.
    @licence    GPL, conformémént au fichier LICENCE situé à la racine du projet.
*/}}

<h1>{{.Header.Title}}</h1>

Prendre en compte des modifications dans le logiciel foncier (SCTL).
<br>
<br>Les données BDL suivantes vont être mises à jour :
<br>
<br>
{{if not .Details.Items}}
    <div class="big3 bold">Aucune donnée à mettre à jour</div>
{{else}}
    <table class="entities">
    <tr><th>Action</th><th></th></tr>
    {{range .Details.Items}}
        <tr>
            <td>{{.Action}}</td>                 
            <td>{{.Value}}</td>
        </tr>
    {{end}}
    </table>

    <form>
        <input type="submit" value="Mettre à jour les données foncières">
    </form>
    
{{end}}
